@charset "utf-8";
@font-face {
    src: url("../css/font/강원교육모두-Light.woff");
    font-family:"edu";
}

@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.footerwrap{
    height: 450px;
}
.footerwrap .footerall{
    width: 30%;
    margin: 0 auto;
    margin-top: 5%;
}
.footertext .copyright a{
    color: #7b7b7b;
}
.footerwrap .footerall .footerlogo{
   
    background-position: center;
    margin: 0 auto;
    width: 80%;
    background-image: url('/images/common/logo1.png');
    background-repeat: no-repeat;
    height: 70px;
    margin-top: 10%;
    margin-bottom: 25px;
}
.footertext{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.footertext .phone{
    font-family: 'GangwonEdu_OTFBoldA';
    font-size: 40px;
    margin-bottom: 55px;
    color: #7B7B7B;
}

.footertext .info{
    font-family: 'GangwonEdu_OTFBoldA';
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 50px;
    color: #7B7B7B;
}

.footertext .copyright{
    font-family: 'GangwonEdu_OTFBoldA';
    font-size: 18px;
    line-height: 21px;
    color: #7B7B7B;
}
.footertext .copyright span{
    margin: 0 2%;
}

@media (max-width: 768px){
    .footerwrap{
        height: 350px;
    }
    .footertext .info span{
        display: inline-block;
    margin-top: 1%;
    }
    .footertext .info{
        font-size: 16px;
        margin-bottom: 20px;
    }
    .footerwrap .footerall{
        width: 100%;
    }
    .footerwrap .footerall .footerlogo{
        margin-top: 7%;
    }
  .footerwrap .footerall .footerlogo{
    margin-bottom: 10%;
  }
  .footertext .phone{
    margin-bottom: 6%;
  }
  .footerwrap .footerall .footerlogo{
    background-image: url('/images/common/logo2.png');
  }
}

@media (max-width: 390px){
    .footertext .phone{
        margin-bottom: 25px;
    }
    .footerwrap{
        height: 320px;
    }
}

@media (max-width: 320px){
    .footertext .phone{
        font-size: 30px;
    }
}
