@charset "utf-8";
@font-face {
    src: url("../css/font/강원교육모두-Light.woff");
    font-family:"edu";
}

@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    background-color: #FBFBFB;
  
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;

}
.swiper-wrap{

    overflow: hidden;
    }
.mainslide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mainslide{
    width: 90%;
    margin: 0 auto;
    position: relative;
height: 100%;
}

.mainslide .title{
    color: #fff;
    letter-spacing: 16px;
    text-align: center;
    position: absolute;
    top: 58%;left: 50%;
    transform: translate(-50%,-58%);
    z-index: 9999;
}
.mainslide .title h1{
    font-size: 32px;
    font-family: 'GangwonEdu_OTFBoldA';
}
.mainslide .swiper-container-1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.scroll{
    width: auto;
    height: auto;
    position: absolute;
    bottom: 5%;
    right: 5%;
    z-index: 9998;
}
.bg01{
    position: absolute;
    bottom: -55%;
    right: -5.55%;
}
#room_daily_price1{
    background-color: #FBFBFB !important;
}
.banner{
    background-color: #C3B1A3;
    height: 85vh;
    position: relative;
    margin-bottom: 8%;
}
.banner .imgbox{
    width: 55%;
    height: 85%;
    position: absolute;
    right: 0;bottom: 0;
    border-radius: 0 0 0 150px;
    overflow: hidden;
}
.banner .imgbox img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.banner .textbox{
    width: 25%;
    position: absolute;
    top: 52%;
    left: 20%;
    transform: translate(-25%,-52%);
}
.banner .textbox h2{
    color: #fff;
    font-size: 48px;
    margin-bottom: 10%;
    font-family:"edu";
    font-weight: 100;
}
.banner .textbox p{
    word-break: keep-all;
    line-height: 37px;
    color: #fff;
    font-size: 16px;
    font-family: 'GangwonEdu_OTFBoldA';
}



.banner .title{
    max-height: 440px;
    height: 440px;
    width: 10%;
    background-color: #fff;
    position: absolute;
    left: 0;top: 16%;
    padding-right: 1%;
    text-align: left;
    padding-top: 1%;
}

.banner .title .titlewrap{
    position: relative;
    height: 100%;
    width: 100%;
}

.banner .title h2{
    transform: rotate(270deg);
    font-size: 44px;
    position: absolute;
    right: -10%;
    top: 20%;
    font-family: 'GangwonEdu_OTFBoldA';
}

.banner .title p{
    text-decoration: underline;
    color: #7B7B7B;
    font-size: 16px;
    width: 70%;
    position: absolute;
     right: 10%;
    top: 55%;
    text-align: center;
    font-family:"edu";
    font-weight: 100;
    line-height: 23px;
    word-break: keep-all;
}
.roomInfo{
    font-family: 'GangwonEdu_OTFBoldA';
}
.roomprice{
    width: 80%;
    margin: 0 auto;
}
.roomprice .img02{
    text-align: center;
    margin-bottom: 5%;
}
.roomprice .decotext{
    padding-left: 5.5%;
    line-height: 29px;
    margin-bottom: 20px;
    font-family:"edu";
    text-align: left;
    font-size: 16px;
}
.thirdblock{
    position: relative;
    height: auto;

}
.thirdblock .inner{
    width: 85%;
    margin: 0 auto;
}
.thirdblock .inner img{
    margin-bottom: 0.5%;
    margin-right: 1%;
}
.thirdblock .inner .title h1{
    display: inline-block;
    font-family: 'GangwonEdu_OTFBoldA';
}

.bg04, .bg05, .bg06, .bg07{
    position: absolute;
}
.bg05{
    top: 0;right: 2%;
}
.thirdblock .bg04{
    top: 0;right: 10%;
}
.thirdblock .bg06{
    bottom: 1%;left: 3%;
}
.thirdblock .bg07{
    bottom: 7%;
    right: 2%;
}
.underbox{
    position: relative;
}
.bg11 img{
    object-fit: cover;
    width: 100%;
}
.bg11{
    width: 100%;
}
.underline{
    width: 95%;
    background-image: url('/images/main/underline.png');
    height: 2px;
    position: absolute;
    bottom: -1%;
    left: 50%;
    transform: translate(-50%,0);
}


.pricewrap{
    background-color: #fbfbfb;
    margin-bottom: 8%;
}
.mainslide-m{
    display: none;
    height: auto;
    max-height: 300px;
    width: 90%;
    margin: 0 auto;
}

.banner-m{
    display: none;
    height: auto;
    min-height: 520px;
    background-color: #C3B1A3;
    position: relative;
  }
  .banner-m .title1{
    width: 60%;
    background-color: #fff;
    position: absolute;top: 5%;left: 0%;
    }
    .banner-m .title1 .flex{
     display: flex;
    justify-content: center;
    padding: 7% 0;
    align-items: center;
    }
    .banner-m .title1 h2{
        width: 60%;
      display: inline-block;
        text-align: center;
        font-size: 44px;
        font-family: 'GangwonEdu_OTFBoldA';
        line-height: 44px;
        color: #002617;
        
    }
    .banner-m .title1 p{
        width: 37%;
 text-align: right;
 margin-left: 2%;
        font-family:"edu";
        font-size: 14px;
        line-height: 23px;
        color: #7B7B7B;
        text-decoration: underline;
        word-break: keep-all;
    }
    
    .banner-m .title2{
        width: 80%;
        margin: 0 auto;
        position: absolute;
        top: 25%;
        left: 10%;
    }
    .banner-m .title2 h2{
        font-family:"edu";
        font-size: 40px;
        color: #fff;
        margin: 25px;
        text-align: center;
        font-weight: 100;
        margin-top: 0;
    }
    .banner-m .title2 p{
        font-family: 'GangwonEdu_OTFBoldA';
        color: #fff;
        font-size: 14px;
        text-align: center;
        line-height: 25px;
        word-break: keep-all;
    }
    .banner-m .imgbox{
        width: 90%;
        height: 50%;
        overflow: hidden;
        border-radius: 0 0 0 60px;
        position: absolute;
        bottom: 0;right: 0;
    }
    .banner-m .imgbox img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .inner .title-m{display: none;}
    .mainslide-m .swiper-slide img{
        width: 100%;
        height: auto;
        min-height: 300px;
        object-fit: cover;

    }
@media(max-width:768px){
    .thirdblock .inner{
        padding-bottom: 10%;
    }
    .swiper-wrap{
        max-height: 300px;
    }
    .banner-m .title1{
        width: 70%;
    }
.mainslide{
    display: none;
}
.mainslide-m{
    display: block;
}
.banner{
    display: none;
}
.banner-m{
    display: block;
}
.mainslide-m .scroll{
    right: 45%;
    top: 53%;
}
.bg01{
    display: none;
}
.bg04{
    display: none;
}
.bg05{
    display: none;
}
.roomprice .img02{
    width: 100%;
    height: auto;
}
.roomprice .img02 img{
    width: 100%;
    height: auto;
    max-height: 375px;
    object-fit: cover;
}
.roomprice{
    width: 100%;
}
/* .pricewrap{
    display: none;
} */
.inner .title-m{
    display: block;
    margin-bottom: 3%;
}
.inner .title-m img{
    margin-bottom: 3%;
}
.inner .title-m h1{
    display: inline-block;
    font-size: 30px;
    font-family: 'GangwonEdu_OTFBoldA';
    margin-left: 2%;
}
.inner .title{
    display: none;
}
.roomprice .img02{
    margin-bottom: 10%;
}
.roomprice .decotext{
    padding: 0;
    margin: 8% 0 8% 0;
    text-align: center;
}
}
@media(max-width:420px){
.banner-m .imgbox{
    height: 35%;
}
.banner-m .title2{
    top: 30%;
}
.thirdblock{
    height: auto;
}

}

@media(max-width:420px) and (min-height:800px){
    .thirdblock{
        height: auto;
    }
}
@media(max-width:390px){

.thirdblock{
    height: auto;
}
.mainslide-m .scroll{
    top: 51%;
    right: 43%;
}
}

@media(max-width:390px) and (min-height:800px){

    .thirdblock{
        height: auto;
    }
}
@media(max-width:320px){
.swiper-wrap{
    max-height: 390px;
}
}