@charset "utf-8";
@font-face {
    src: url("../css/font/강원교육모두-Light.woff");
    font-family:"edu";
}

@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
p{
    word-break: keep-all;
}
body{
    scroll-behavior: smooth;
    -webkit-overflow-scrolling:touch;
min-height:-webkit-fill-available;
height: fill-available;
}
.mainslide{
    width: 90%;
    margin: 0 auto;
    position: relative;
    height: 100%;
}
.mainslide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-wrap{

overflow: hidden;
}
.mainslide .title{
    color: #fff;

    letter-spacing: 16px;
    text-align: center;
    position: absolute;
    top: 58%;left: 50%;
    transform: translate(-50%,-58%);
    z-index: 9999;
}
.mainslide .title h1{
    font-size: 32px;
    font-family: 'GangwonEdu_OTFBoldA';
}
.mainslide .swiper-container-1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.scroll{
    width: auto;
    height: auto;
    position: absolute;
    bottom: 5%;
    right: 5%;
    z-index: 9990;
}
.banner{
    background-color: #C3B1A3;
    position: relative;
    height: 85vh;
    margin-bottom: 5%;
}
.banner .title{
    background-color: #fff;
    width: 20%;
    padding: 1% 0 2% 2%;
    position: absolute;top: 0;left: 8%;
}
.banner .title p{
    width: 40%;
    word-break: keep-all;
}
.banner .textbox{
    width: 25%;
    position: absolute;
    top: 35%; left: 8%;
}
.banner .imgbox{
position: absolute;
right: 0;bottom: 0;
border-radius: 100px 0 0 0;
overflow: hidden;
width: 58%;
}

.banner .imgbox img{
    width: 100%;
    object-fit: cover;
}
.banner .title h2{
    font-size: 44px;
    margin-bottom: 15px;
    font-family: 'GangwonEdu_OTFBoldA';
}
.banner .title p{
    font-size: 16px;
    color: #7B7B7B;
    text-decoration: underline;
    line-height: 23px;
    font-family:"edu";
    text-align: center;
}

.banner .textbox h2{
    font-size: 48px;
    color: #fff;
    margin-bottom: 25%;
    font-family:"edu";
}
.banner .textbox p{
    font-size: 16px;
    line-height: 38px;
    color: #fff;
    width: 100%;
    font-family: 'GangwonEdu_OTFBoldA';
    word-break: keep-all;
}
.banner2{
    width: 85%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 7%;
}
.banner2 .imgbox{
    text-align: center;
    height: 60%;
}
.banner2 .imgbox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner2 .flexbox h2{
    width: 35%;
    margin-right: 3%;
    font-size: 40px;
    color: #996F71;
    line-height: 40px;
    font-family: 'GangwonEdu_OTFBoldA';
    font-weight: bold;
}
.banner2 .flexbox h2 span{
    font-family:"edu";
    font-weight: 100;
} 
.banner2 .flexbox p{
    width: 55%;
    margin-left: 2%;
    font-size: 16px;
    color: #343434;
    line-height: 24px;
    font-family: 'GangwonEdu_OTFBoldA';
}
.banner2 .flexbox{
    display: flex;
    justify-content: start;
    margin-bottom: 5%;
}
.banner2 .bg01{
    position: absolute;
    top: 65%;
    right: -8.8%;
    z-index: -1;
}
.specialbox .greenbox{
    height: auto;
    min-height: 800px;
    background-color: #5E7C7E;
    text-align: center;
    position: relative;
}

.specialbox .greenbox h1{
    font-size: 70px;
    color: #fff;
    padding-top: 5%;
    font-family:"edu";
    font-weight: 100;
}
.specialbox .greenbox .bg02, .specialbox .greenbox .bg03{
    position: absolute;
}
.specialbox .greenbox .bg02{
    left: 37%;
    top: 10%;
}
.specialbox .greenbox .bg03{
    right: 6%;
    top: 15%;
}
.specialbox .brownbox{
    height: auto;
    min-height: 800px;
    background-color: #C3B1A3;
    position: relative;
}
.specialbox .brownbox .bg04{
    position: absolute;
    left: 0;top: -6%;
}
.specialbox .brownbox .bg05{
    position: absolute;
    bottom: 0;
    left: 0;
    
}
.specialbox .brownbox .bg05 img{
    width: 100%;
}
.specialbox .underline{
    width: 95%;
    background-image: url('/images/main/underline.png');
    height: 2px;
    position: absolute;
    bottom: -0.5%;
    left: 50%;
    transform: translate(-50%,0);
}
.specialbox{
    position: relative;
}



.spswiper .swiper-wrap{
    width: 85%;
    margin: 0 auto;
}

.swiper-backface-hidden .swiper-slide{
    text-align: center;
}
.spswiper .swiper-wrap .swiper-slide:nth-child(even){
    padding-top: 6%;
    text-align: left;
}
.spswiper{
    width: 90%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.spswiper .swiper-slide{
    text-align: center;
}
.spswiper .swiper-slide img{
    margin-bottom: 30px;

}
.spswiper .swiper-slide .textbox{
    width: 65%;
    text-align: left;
}

.spswiper .swiper-slide .textbox h3{
    margin-bottom: 30px;
    font-size: 25px;
    color: #fff;
    font-family: 'GangwonEdu_OTFBoldA';
}
.spswiper .swiper-slide .textbox h4{
    margin-bottom: 30px;
    font-size: 16px;
    color: #fff;
    font-family: 'GangwonEdu_OTFBoldA';
}
.spswiper .swiper-slide .textbox p{
    line-height: 27px;
    font-size: 14px;
    color: #fff;
    font-family: 'GangwonEdu_OTFBoldA';
    word-break: keep-all;
}
.spswiper .swiper-slide #odd{
    padding-left: 11%;
}
.spswiper-m
{display: none;
    width: 60%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0 auto;
}

.spswiper-m img{
    max-height: 300px;
    margin-bottom: 10%;
    height: 40%;
}
.spswiper-m .textbox h3{
    font-family: 'GangwonEdu_OTFBoldA';
    color: #fff;
    font-size: 25px;
    margin-bottom: 2%;
}
.spswiper-m .textbox h4{
    font-family: 'GangwonEdu_OTFBoldA';
    color: #fff;
    font-size: 16px;
    margin-bottom: 6%;
}
.spswiper-m .textbox p{
    font-size: 12px;
    line-height: 20px;
    font-family: 'GangwonEdu_OTFBoldA';
    color: rgba(255,255,255,0.6);
}
.banner-m{
    display: none;
    height: auto;
    background-color: #C3B1A3;
    position: relative;
}
.banner-m .title1{
width: 70%;
background-color: #fff;
position: absolute;top: 5%;right: 0%;
}
.banner-m .title1 .flex{
 display: flex;
justify-content: center;
padding: 7% 0;
align-items: center;
}
.banner-m .title1 h2{
    width: 60%;
  display: inline-block;
    text-align: center;
    font-size: 44px;
    font-family: 'GangwonEdu_OTFBoldA';
    color: #002617;
}
.banner-m .title1 p{
    width: 37%;
    padding-right: 3%;
    font-family:"edu";
    font-size: 14px;
    line-height: 23px;
    color: #7B7B7B;
    text-decoration: underline;
    word-break: keep-all;
}

.banner-m .title2{
    width: 80%;
    margin: 0 auto;
    position: absolute;
    top: 25%;
    left: 10%;
}
.banner-m .title2 h2{
    font-family:"edu";
    font-size: 40px;
    color: #fff;
    margin: 25px;
    margin-top: 0;
    text-align: center;
    font-weight: 100;
}
.banner-m .title2 p{
    font-family: 'GangwonEdu_OTFBoldA';
    color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 25px;
}
.banner-m .imgbox{
    width: 95%;
    height: 50%;
    overflow: hidden;
    border-radius: 50px 0 0 0;
    position: absolute;
    bottom: 0;right: 0;
}
.banner-m .imgbox img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.mainslide-m{
    display: none;
    height: auto;
    max-height: 300px;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}
.mainslide-m .swiper-slide img{
    width: 100%;
    height: auto;
    min-height: 300px;
    object-fit: cover;
}
.specialbox .greenbox .bg02-m{
    display: none;
    position: absolute;
    top: 8%;
    left: 22%;
}
@media(max-width:768px){
    .banner-m .title2{
        top: 24% !important;
    }
    .spswiper-m{
        top: 65%;
    }
    .specialbox .greenbox{
        min-height: 310px;
    }
    .specialbox .brownbox{
        min-height: 450px;
    }

    .swiper-horizontal{
        /* max-height: 300px !important; */
    }
  
  
    .banner-m{
        height: auto;
        min-height: 750px;
    }
    .swiper-wrap{
        max-height: 550px;
    }
    .secondblock{
        display: none;
    }
    .banner{
        display: none;
    }
    .banner-m{
        display: block;
    }
    .mainslide{
        display: none;
    }
    .mainslide-m{
        display: block;
    }
    .mainslide-m .scroll{
        right: 45%;
        top: 53%;
    }
    .roommap{
        margin-top: 0 !important;
    }
    .banner2 .flexbox{
        display: block;
        padding: 10% 0;
        margin-bottom: 0;
    }
    .banner2 .flexbox h2{
        width: 80%;
        margin: 0 auto;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
    }
    .banner2 .flexbox p{
        display: none;
    }
    .banner2 .imgbox{
        width: 100%;
        height: 35vh;
    }
    .banner2{
        width: 100%;
        margin-bottom: 0%;
    }
    .banner2 .imgbox img{
        width: 100%;
        height: auto;
        min-height: 375px;
        object-fit: cover;
    }
    .specialbox .greenbox .bg03{
        display: none;
    }
    .specialbox .greenbox h1{
        font-size: 40px;
    }
    .specialbox .brownbox .bg04{
        width: 50%;
        height: 50%;
    }
    .specialbox .brownbox .bg04 img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .spswiper{
        display: none;
    }
    .spswiper-m{
        display: block;
        min-height: 550px;
    }


    .specialbox .brownbox .bg04{
        left: 0%;
        top: -20%;
    }
    .specialbox .greenbox .bg02-m{
        display: block;
  
    }
    .specialbox .greenbox .bg02{
        display: none;
    }
    .specialbox .greenbox h1{
    padding-top: 8%;
    }
    .banner2 .bg01{
        display: none;
    }
    .spswiper-m img{
        width: 100%;
    }
    .specialbox .greenbox .bg02-m{
        top: 17%;
        left: 32%;
    }
}
@media(max-width:420px){
    .banner-m .imgbox{
        height: 40%;
    }


    .specialbox .greenbox .bg02-m{
        top: 13%;
        left: 17%;
    }

    .specialbox .brownbox .bg04{
        left: 0;
        top: -25%;
    }
    .specialbox .brownbox .bg04{
        width: 60%;
        height: 60%;
    }

    .specialbox .greenbox h1{
        padding-top: 12%;
    }

    }

    @media (max-width:420px) and (min-height:800px){


    
        
    }

@media(max-width:380px){
    .mainslide-m .scroll{
        top: 50%;
    }
    .banner-m .imgbox{
        height: 40%;
    }


    .spswiper-m img{
        max-height: 210px;
    }
    .spswiper-m{
        width: 70%;
    }
 
    .spswiper-m img{
        max-height: 250px;
        width: 100%;
        height: auto;
    }

 
    .banner-m .title1{
        width: 70%;
    }
    .specialbox .greenbox .bg02-m{
        left: 13% !important;
        top: 8% !important;
    }
    .specialbox .greenbox h1{
        padding-top: 10%;
    }


}






@media(max-width:380px) and (min-height:800px){


    .specialbox .greenbox .bg02-m{
        top: 12% !important;
    }

    .banner-m .imgbox{
        height: 30%;
    }
}
@media(max-width:380px) and (min-height:660px){
    .specialbox .greenbox .bg02-m{
    top: 12% !important;
    }

}


@media(max-width:320px){

    .banner-m .title1{
        width: 78%;
    }
    .banner-m .imgbox{
        height: 35%;
    }

    .mainslide-m .scroll{
    right: 42%;
    top: 50%;
    }
    .spswiper-m img{
        max-height: 200px;
    }


    .specialbox .greenbox .bg02-m{
      top: 12% !important;
      left:7% !important;
    }
    .swiper-wrap{
        max-height: 390px;
    }
}