@charset "utf-8";
.mainslide-m .swiper-container-11{
  height: 100%;
}

.swiper-wrap{
  overflow: hidden;
} 
.swiper-pagination{
  position: absolute;
  bottom: 35px !important;
}
.swiper-pagination-bullet{
	width: 30px !important;
	height: 5px !important;
	border-radius: 0 !important;
	opacity: 1 !important;
	background-color: #fff !important;
}
.swiper-pagination-bullet-active{
	background-color: #000 !important;
}

.swiper-button-next, .swiper-button-prev{
    color: transparent !important;
} 




.mainbtn1{
    width: 59px !important;
    height: 59px !important;
    background-image: url("/images/common/prevbtn.png");
    left: 0.2% !important;
    top: 57% !important;
}
.mainbtn2{
    width: 59px !important;
    height: 59px !important;
    background-image: url("/images/common/nextbtn.png");
    right: 0.2% !important;
    top: 57% !important;
}
.prebtn1{
  width: 59px !important;
  height: 59px !important;
  background-image: url("/images/common/prevbtn.png");
  left: 5.5% !important;
  top: 57% !important;

}
.prebtn2{
  width: 59px !important;
  height: 59px !important;
  background-image: url("/images/common/nextbtn.png");
  right: 5.5% !important;
  top: 57% !important;

}
.aboutbtn1{
    width: 59px !important;
    height: 59px !important;
    background-image: url("/images/common/prevbtn.png");
    left: 0.2% !important;
    top: 57% !important;
}
.aboutbtn2{
    width: 59px !important;
    height: 59px !important;
    background-image: url("/images/common/nextbtn.png");
    right: 0.2% !important;
    top: 57% !important;
}
.roombtn11{
  width: 59px !important;
  height: 59px !important;
  background-image: url("/images/common/prevbtn.png");
  left: 0.2% !important;
  top: 57% !important;
}
.roombtn22{
  width: 59px !important;
  height: 59px !important;
  background-image: url("/images/common/nextbtn.png");
  right: 0.2% !important;
  top: 57% !important;
}
.spbtn1{
    width: 50px !important;
    height: 47px !important;
    background-image: url("/images/special/sp_prev.png");
    left: 3% !important;
    top: 40% !important;
}
.spbtn2{
    width: 50px !important;
    height: 47px !important;
    background-image: url("/images/special/sp_next.png");
    right: 0 !important;
    top: 40% !important;
}
.tourbtn1{
    width: 50px !important;
    height: 47px !important;
    background-image: url("/images/special/sp_prev.png");
    left: -15% !important;
    top: 28% !important;
}
.tourbtn2{
    width: 50px !important;
    height: 47px !important;
    background-image: url("/images/special/sp_next.png");
    right: -15% !important;
    top: 28% !important;
}

@media(max-width:768px){
  .mainbtn1{
    width: 37px !important;
    height: 37px !important;
    background-image: url("/images/common/m/prevbtn.png");
    left: 2% !important;
    top: 57% !important;
}
.mainbtn2{
    width: 37px !important;
    height: 37px !important;
    background-image: url("/images/common/m/nextbtn.png");
    right: 2% !important;
    top: 57% !important;
}
.prebtn1{
  width: 37px !important;
  height: 37px !important;
  background-image: url("/images/common/m/prevbtn.png");
  left: 2% !important;
  top: 61% !important;
}
.prebtn2{
  width: 37px !important;
  height: 37px !important;
  background-image: url("/images/common/m/nextbtn.png");
  right: 2% !important;
  top: 61% !important;
}
.aboutbtn1{
  width: 37px !important;
  height: 37px !important;
  background-image: url("/images/common/m/prevbtn.png");
  left: 6% !important;
  top: 35% !important;
}
.aboutbtn2{
  width: 37px !important;
  height: 37px !important;
  background-image: url("/images/common/m/nextbtn.png");
  right: 6% !important;
  top: 35% !important;
}
.tourbtn1{
  width: 26px !important;
  height: 26px !important;
  background-image: url("/images/special/m/sp_prev.png");
  left: -12% !important;
  top: 38% !important;
  background-repeat: no-repeat;
}
.tourbtn2{
  width: 26px !important;
  height: 26px !important;
  background-image: url("/images/special/m/sp_next.png");
  right: -23% !important;
  top: 38% !important;
  background-repeat: no-repeat;
}
.roombtn11{
  width: 37px !important;
  height: 37px !important;
  background-image: url("/images/common/m/prevbtn.png");
  left: 6% !important;
  top: 190px !important;
}
.roombtn22{
  width: 37px !important;
  height: 37px !important;
  background-image: url("/images/common/m/nextbtn.png");
  right: 6% !important;
  top: 190px !important;
}

.spbtn1-m{
  width: 26px !important;
  height: 26px !important;
  background-image: url("/images/special/m/sp_prev.png");
  left: 9% !important;
  top: 45% !important;
}
.spbtn2-m{
  width: 26px !important;
  height: 26px !important;
  background-image: url("/images/special/m/sp_next.png");
  right: 9% !important;
  top: 45% !important;
}
.aboutbtn1,.aboutbtn2{
  top: 190px !important;
}
.spbtn1-m, .spbtn2-m{
  top: 330px !important;
}
}

@media(max-width:500px){
  .tourbtn1,.tourbtn2{
    top: 42% !important;
  }
}


@media(max-width:420px){
  .spbtn1-m{
    left: 5% !important;
top: 370px !important;
  }
  .spbtn2-m{
    right: 5% !important;
top: 370px !important;
  }
  .tourbtn1{
    left: -21% !important;
  }
  /* .aboutbtn1{
    top: 29% !important;
  }
  .aboutbtn2{
    top: 29% !important;
  } */
}
@media(max-width:380px){
  .spbtn1-m{
    left: 5% !important;
top: 355px !important;
  }
  .spbtn2-m{
    right: 5% !important;
top: 355px !important;
  }
  .tourbtn2{
    right: -23% !important;
  }
  .tourbtn1{
    left: -22% !important;
  }
}
@media(max-width:320px){
  .spbtn1-m,.spbtn2-m{

  }
  .tourbtn2{
    right: -20% !important;
  }
  .tourbtn1{
    left: -18% !important;
  }

  /* .aboutbtn1{
    top: 39% !important;
  }
  .aboutbtn2{
    top: 39% !important;
  } */
}
@media(max-width:400px){
  /* .aboutbtn1{
    top: 27% !important;
  }
  .aboutbtn2{
    top: 27% !important;
  } */
}
@media(max-width:280px){
.tourbtn2{
  right: -15% !important;
}
.tourbtn1{
  left: -14% !important;
}

}