@charset "utf-8";
@font-face {
    src: url("../css/font/강원교육모두-Light.woff");
    font-family:"edu";
}

@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    src:url("../css/font/NanumSquareEB.ttf");
    font-family: 'square1';
}
@font-face{
    src:url("../css/font/NanumSquareR.ttf");
    font-family: 'square2';
}
p{
    word-break: keep-all;
}
body{
    scroll-behavior: smooth;
    -webkit-overflow-scrolling:touch;
min-height:-webkit-fill-available;
height: fill-available;
}
.banner{
    background-color: #C3B1A3;
    height: 100vh;
    position: relative;
}
.banner .imgbox{
    width: 55%;
    height: 70%;
    position: absolute;
    right: 0;bottom: 0;
    overflow: hidden;
}
.banner .imgbox img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.banner .textbox{
    width: 25%;
    position: absolute;
    top: 61%;
    left: 31%;
    transform: translate(-61%,-31%);
}
.banner .textbox h2{
    color: #fff;
    font-size: 48px;
    margin-bottom: 10%;
    font-family:"edu";
    font-weight: 100;
}
.banner .textbox p{
    word-break: keep-all;
    line-height: 37px;
    color: #fff;
    font-size: 16px;
    font-family: 'GangwonEdu_OTFBoldA';
}



.banner .title{
    max-height: 440px;
    height: 440px;
    width: 8%;
    background-color: #fff;
    position: absolute;
    left: 0;top: 30%;
    padding-left: 1%;
    text-align: left;
    padding-top: 1%;
}

.banner .title .titlewrap{
    position: relative;
    height: 100%;
    width: 100%;
}

.banner .title h2{
    transform: rotate(270deg);
    font-size: 44px;
    position: absolute;
    left: 28%;
    top: 20%;
    font-family: 'GangwonEdu_OTFBoldA'; 
}

.banner .title p{
    margin-top: 35px;
    text-decoration: underline;
    color: #7B7B7B;
    font-size: 16px;
    width: 70%;
    position: absolute;
    left: 0;
    top: 50%;
    font-family:"edu";
    font-weight: 100;  
    line-height: 23px;
    text-align: center;
    word-break: keep-all;
}
.tourbox{
    position: relative;
}
.tourbox .greenbox{
    height: 75vh;
    background-color: #5E7C7E;
    position: relative;
    overflow: hidden;

}

.tourbox .greenbox .bg01,.tourbox .greenbox .bg02{
    position: absolute;
}
.tourbox .greenbox .bg01{
    top: 0;left: 0;
}
.tourbox .greenbox .bg02{
    bottom: 0%;
    right: -10%;
    height: 100%;
}
.tourbox .greenbox .bg02 img{
    height: 100%;
    object-fit: cover;
}

.brownbox{
    height: 75vh;
    background-color: #C3B1A3;
    position: relative;
}

.brownbox .bg03{
position: absolute;
bottom: 0;
width: 100%;
}
.brownbox .bg03 img{
    width: 100%;
}



.tourswiper .swiper-slide img{
    border-radius: 50%;
}



.tourswiper .swiper-slide{
   width:calc(85%/3) !important;
    position: relative;
    margin: 0 2.5%; 
    background-color: #fff;
    border-radius: 57px;

}
 
.tourswiper .swiper-slide img{
    position: absolute;
    bottom: -13%;
    right: -8%;
}
.tourswiper .swiper-slide h4{
    width: 80%;
    margin: 0 auto;
    font-size: 18px;
    margin-bottom: 30px;
    font-family: 'square1';
}
.tourswiper .swiper-slide h4 span{
    font-family:'square2';
}
.tourswiper .swiper-slide p{
    margin: 0 auto;
    width: 80%;
    font-size: 15px;
    line-height: 24px;
    font-family: 'square2';
}
.tourswiper .swiper-wrapper{
    height: auto;
}
.tourswiper{
    width: 100%;
    position: absolute;
    top: 74%;left: 50%;
    transform: translate(-50%,-65%);
}
.tourswiper .swiper-wrap{
    width: 100%;
    height: 1000px;
    margin: 0 auto;

    overflow-x: hidden;
    overflow-y: visible;
}
.tourswiper{
    width: 63%;
    margin:  0 auto;
}
.greenbox h3{
    font-family: 'GangwonEdu_OTFBoldA';
    display: inline-block;
    color: #fff;
    font-size: 70px;
   position: absolute;top: 28%;
   left: 32%;
}
.tourswiper .slide2{
    margin-top: 8%;
}
.tourswiper .textbox{
padding: 15% 0 60% 0;
}
/* .tourswiper .slide2 .textbox{
    padding-bottom: 35%;
} */
.tourswiper .slide2 img{
    bottom: -20%;
}
.swiper-slide img {
    width: auto;
    height: auto;
    object-fit: cover;
  }
  .tourbox .underline{
    width: 95%;
    background-image: url('/images/main/underline.png');
    height: 2px;
    position: absolute;
    bottom: -0.6%;
    left: 50%;
    transform: translate(-50%,0);
}

.greenbox .whiteline{
    width: 30%;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: 34%;

}
.banner-m{
    display: none;
}

.banner-m{
    display: none;
    height: auto;
    min-height: 650px;
    background-color: #C3B1A3;
    position: relative;
}
.banner-m .title1{
width: 70%;
background-color: #fff;
position: absolute;top: 15%;left: 0%;
}
.banner-m .title1 .flex{
 display: flex;
justify-content: center;
padding: 7% 0;
align-items: center;
}
.banner-m .title1 h2{
    width: 55%;
  display: inline-block;
    text-align: center;
    font-size: 44px;
    font-family: 'GangwonEdu_OTFBoldA';
    line-height: 44px;
    color: #002617;
}
.banner-m .title1 p{
    width: 37%;
    padding-left: 3%;
    font-family:"edu";
    font-size: 14px;
    line-height: 23px;
    color: #7B7B7B;
    text-decoration: underline;
    text-align: right;
    word-break: keep-all;
}

.banner-m .title2{
    width: 80%;
    margin: 0 auto;
    position: absolute;
    top: 37%;
    left: 10%;
}
.banner-m .title2 h2{
    font-family:"edu";
    font-size: 40px;
    color: #fff;
    margin: 25px;
    margin-top: 0;
    text-align: center;
    font-weight: 100;
}
.banner-m .title2 p{
    font-family: 'GangwonEdu_OTFBoldA';
    color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 25px;
}
.banner-m .imgbox{
    width: 95%;
    height: 35%;
    position: absolute;
bottom: 0;
    margin: 0 auto;
    padding-left: 2.5%;
    padding-bottom: 5%;
}
.banner-m .imgbox img{
    object-fit: cover;
    width: 100%;
    height: 100%;


}
.tourswiper-m{
    display: none;
}


.tourswiper-m .swiper-slide img{
    border-radius: 50%;
}



.tourswiper-m .swiper-slide{
   width:100% !important;
   margin: 0 auto;
   height: auto;
    position: relative;
    background-color: #fff;
    border-radius: 57px;
}
 
.tourswiper-m .swiper-slide img{
    position: absolute;
    bottom: -18%;
    right: -8%;
    width: 80%;
}
.tourswiper-m .swiper-slide h4{
    width: 80%;
    margin: 0 auto;
    font-size: 17px;
    margin-bottom: 30px;
    font-family: 'square1';
}
.tourswiper-m .swiper-slide h4 span{
    font-family:'square2';
}
.tourswiper-m .swiper-slide p{
    margin: 0 auto;
    width: 80%;
    font-size: 15px;
    line-height: 24px;
    font-family: 'square2';
}
.tourswiper-m .swiper-wrapper{
    height: auto;
    min-height: 470px;
}
.tourswiper-m .swiper-pointer-events{
    min-height: 470px;
}
.tourswiper-m .swiper-wrap{
    width: 100%;
    min-height: 600px;
    margin: 0 auto;
    max-width:250px;
padding-right: 5%;
    overflow-x: hidden;
    overflow-y: visible;
}
.tourswiper-m{
    width: 60%;
    min-height: 600px;
    max-width: 400px;
    margin:  0 auto;
    position: absolute;
    top: 70%;left: 50%;
    transform: translate(-50%,-65%);
    
}
.tourswiper-m .textbox{
    text-align: center;
    padding-top: 15%;
    padding-bottom: 15%;
}
@media(max-width:768px){
    .tourbox .greenbox{
        max-height: 350px;
    }
    .tourbox .brownbox{
        max-height: 450px;
    }
    .banner{
        display: none;
    }
    .banner-m{
        display: block;
    }
    .tourbox .greenbox .bg02{
        display: none;
    }
    .tourbox .greenbox .bg01 img{
        width: 50%;
    }

    .tourswiper{
        display: none;
    }
    .tourswiper-m{
        display: block;
    }
    .greenbox .whiteline{
        width: 50%;
        top: 10%;
    }
    .greenbox h3{
        font-size: 40px;
        top:8%;
        left: 56%;
    }

    .tourswiper-m .swiper-slide p{
        font-size: 14px;
    }
}

@media(max-width:500px){
.tourswiper-m .swiper-slide img{
    position: absolute;
    bottom: -18%;
    right: -7%;
    width: 80%;
}

.greenbox .whiteline{
    top: 18%;
}
.greenbox h3{
    top: 12%;
}
}
@media(max-width:420px) and (min-height:700px){
    .banner-m .title2{
        top: 35%;
    }


    .tourswiper-m{
        left: 50%;
    }
    .tourswiper-m .swiper-wrap{
        padding-right: 7%;
    }
    .tourswiper-m .textbox{
        padding-bottom: 45%;
    }
}
@media(max-width:420px) and (min-height:800px){


    .tourswiper-m .swiper-wrap{
        padding-right: 7%;
    }
}
@media(max-width:380px){
    .banner-m{
        /* height: 100vh; */
    }
    .banner-m .title2{
        top: 33%;
    }
 
    .tourswiper-m .swiper-slide img{
        width: 70%;
        right: -5%;
        bottom: -14%;
    }
    .tourswiper-m .swiper-slide p{
        font-size: 12px;
    }
}

@media(max-width:320px){
.banner-m .title1{
    width: 80%;
}


.tourswiper-m{
    min-width: 210px;
}
.tourswiper-m .swiper-slide img{
   bottom: -13%;
}
}
@media(max-width:280px){
    .tourbox .greenbox{
        height: 40vh;
    } 
    .brownbox{
        height: 65vh;
    }
    .tourswiper-m .swiper-wrap{
        max-width:210px;
    }
    .tourswiper-m{
        left: 50%;
    }
}