@charset "utf-8";
@font-face {
	src: url("../CSS/font/VITRO\ CORE\ OTF.OTF");
	font-family: "vitro1";
}

@font-face {
	src: url("../CSS/font/VITRO\ INSPIRE\ OTF.OTF");
	font-family: "vitro2";
}

@font-face {
	src: url("../CSS/font/VITRO\ PRIDE\ OTF.OTF");
	font-family: "vitro3";
}

@font-face {
	src: url("../CSS/font/KOHIBaeumOTF.otf");
	font-family: "KOH1";
}

@font-face {
	src: url("../CSS/font/KOHIBaeum.ttf");
	font-family: "KOH2";
}

@font-face {
	src: url("../CSS/font/PretendardVariable.ttf");
	font-family: "Pre";
}

/* default 셋팅 */
.bbqbtn{
    display: inline-block;
    width: 120px;
    height: 35px;
    font-size: 16px;
    line-height: 35px;
    color: #000;
    text-align: center;
    border: 2px solid #000;
    border-radius: 10px;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    background-color: #fdfaf4;
}
.imgbox{
    margin: 0 auto;
}
ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4 {
	margin: 0;
	padding: 0;
}

p {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}
.subgnb a{
    color: #686459;
    display: inline-block;
    width: 100%;
}

#logo{
	display: inline-block;
	width: 100%;
	height: 100%;
}
.main-wrap{
    height: 62vh;
    background-image: url(../images/leisure/main.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-wrap #logo {
    width: 225px;
    height: 80px;
	position: absolute;
	top: 6%;
	left: 5%;
    background-image: url(/images/common/logo.png);
    background-repeat: no-repeat;
}
.textbox{
    text-align: center;
    margin: 0 auto;
    position: absolute; left: 50%; top: 60%;
    transform: translate(-50%,-50%);
}
.textbox h1{
    font-family: "vitro1";
    color: #fff;
    font-size: 60px;

}
.textbox p{
    font-family: "vitro3";
    color: #fff;
    font-size: 40px;
}
.gnbwrap{
    border-bottom: 1px solid #c2c2c2;
}
.gnb{
    text-align: center;
    margin: 0 auto;
    
}
.gnb li{
    line-height: 95px;
    height: 95px;
    display: inline-block;
    margin-left: 75px;
}
.gnb li:first-child{
    margin-left: 0;
}
.gnb li a{
    font-family: "vitro3";
    color: #686459;
    font-size: 24px;
}
.gnb li:hover{
    margin-bottom: -6px;
    border-bottom: 3px solid #978d6e;
}
.Packagewrap h2 {
	font-size: 30px;
	margin-left: 160px;
	color: #978d6e;
	font-family: "vitro1";
	padding: 90px 0 30px 0;
    
}
.Packagewrap h2 span {
	font-size: 30px;
	border-left: 2px solid #978d6e;
	padding-left: 50px;
	margin-left: 35px;
	font-family: "vitro3";
}
.Packagetext{
    font-family: "vitro3";
    color: #978d6e;
}
.Packagewrap .Packagetext h3{
font-size: 22px;
margin-bottom: 5%;
}
.Packagewrap .Packagetext p{
    color: #686459;
    font-size: 16px;
    line-height: 25px;
    word-break: keep-all;
}
.Packagewrap{
    display: flex;
    justify-content: left;
    align-items: center;

}
.Packagewrap .Packagetext{
   width: 35%;
   margin-left: 2%;
}
.package img{
    width: 45%;
    margin-right: 2%;
}
.detailwrap{
    position: relative;
    height: 350px;
    margin-bottom: 50px;
}
.detailwrap::after{
    content:'';
    display: block;
    clear: both;
}
.detail{
text-align: left;
position: absolute; top: 50%; left: 50%;
transform: translate(-50%,-50%);
}
.detail p{
    font-family: "vitro3";
    font-size: 18px;
    color: #686459;
    line-height: 26px;
}
.detail h1{
    font-size: 18px;
    font-family: "KOH1";
    line-height: 65px;
    color:#686459;
}
.detail .btn{
    margin:0 auto;
    margin-top: 40px;
    background-color: #fff;
    width: 380px;
    height: 65px;
    text-align: center;
    border: 1px solid #686459;
    
}
.package{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}
.subgnb{
    margin-top: 60px;
}
.subgnb .subgnb1{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    margin-bottom: 20px;
    font-family: "vitro3";
    font-size: 20px;
    color: #686459;
}
.subgnb span{
    margin: 0 1% 0 1%;
}
.subgnb .subgnb1 li{
    width: max-content;
    display: inline-block;
    text-align: center;
}
.subgnb .subgnb1 li:hover{
    cursor: pointer;
}
.active {
	display: block !important;
	visibility: unset !important;
}
.menubtn{
    position: absolute;
    font-size: 30px;
	position: absolute;
	right: 3%;
	top: 4%;
}
.fadeInRight {animation-name: fadeInRight !important;}
/* Style the buttons that are used to open and close the accordion panel */
@media (max-width: 1200px){
    .textbox h1{
        font-size: 45px;
    }
    .subgnb .subgnb1{
        font-size: 18px;

    }
    .subgnb .subgnb2{
        font-size: 20px;

    }
    .subgnb span{
        display: none;
    }
    .subgnb .subgnb1 li{
        margin: 0 1% 0 1%;
        display: block;
    }
    .subgnb .subgnb1 li{
        width: 12%;
    }
    .subgnb .subgnb2 li{
width: 23%;
    }
    .Packagewrap h2{
        font-size: 30px;
    }
    .Packagewrap .Packagetext h3{
        font-size: 20px;
    }
    .Packagewrap .Packagetext p{
        font-size: 15px;
    }
    .fadeInRight{
		animation: none !important;
	}
}
    @media (max-width: 968px){
        .textbox{
            width: 100%;
        }
        .package{
            display: block;
            margin: 0 auto;
            text-align: center;
        }
        .package img{
            margin: 0 auto;
            margin-bottom: 12%;
        }
        .Packagewrap .Packagetext{
            margin: 0 auto;
            float:none;
        }
        .subgnb .subgnb1 li{
            width: 50%;
            margin: 0 auto;
            display: block;
            height: 40px;
            line-height: 40px;
            border: 1px solid #686459;
            margin-bottom: -1px;
        }
        .subgnb .subgnb1 li:last-child{
            text-align: right;
        }
        .subgnb .subgnb1{
            display: block;
            margin-bottom: 10px;
        }
   
        .subgnb .subgnb2 li{
            width: 49%;
            margin: 0;
            display: inline-block;
            height: 60px;
            line-height: 60px;
            border: 1px solid #686459;
            margin-bottom: -1px;
            margin-right: -1px;
        }
        .subgnb .subgnb2 li:last-child{
            text-align: right;
        }
        .subgnb .subgnb2{
            display: block;
        }
        .package img{
            width: 100%;
        }
        .Packagewrap .Packagetext{
            width: 100%;
        }
        .Packagewrap h2{
            margin: 0;
            text-align: center;
        }
        .Packagewrap h2 span{
            font-size: 30px;
            border:none;
            margin: 0 auto;
            display: block;
            padding-left: 0;
margin-top: 20px;
        }
        .detail p{
            font-size: 24px;
        }
        .textbox h1{
            font-size: 35px;
        }
        .textbox p{
            font-size: 28px;
        }
    }
    @media (max-width: 768px){
        .main-wrap{
    height: 40vh;
    background-image: url(../images/leisure/m/main.jpg);
    background-repeat: no-repeat;
}
        .text-wrap p:last-child{
            word-break: keep-all;
        }
        .Packagewrap .Packagetext h3{
            padding: 0 8% 0 8%;
        }
        .Packagewrap .Packagetext p{
            padding: 0 8% 0 8%;
        }
        .main-wrap #logo {
    background-image: url(/images/common/m/logo.png);
    background-repeat: no-repeat;
        }
        .Packagewrap h2{
            padding: 40px 0 40px 0;
        }

        .detail{
            margin-top: 0;
        }
        .detailwrap{
            height: 240px;
            margin-bottom: 0;
        }
        .detail p{
            font-size: 20px;
            word-break: keep-all;
        }
        .detail .btn{
            width: 150px;
            height: 45px;
        }
        .detail h1{
            line-height: 45px;
            font-size: 18px;
        }
        .textbox h1{
            font-size: 30px;
        }
        .textbox p{
            font-size: 25px;
        }
        .Packagewrap h2{
            padding-top: 0;
        }
        .subgnb{
            margin-bottom: 50px;
        }
        .main-wrap{
            height: 40vh;
        }
    }
    @media (max-width: 500px){
        .package img{
            height: 35vh;
        }
        .textbox h1{
            font-size: 23px;
        }
        .textbox p{
            font-size: 20px;
        }
        .Packagewrap{
            margin-bottom: 0;
        }
    }
    @media (max-width: 400px){
	.main-wrap{
		background-image: url(../images/leisure/500/main.jpg);
		background-repeat: no-repeat;
	}
}