@charset "utf-8";

@font-face {
	src: url("../CSS/font/VITRO\ CORE\ OTF.OTF");
	font-family: "vitro1";
}

@font-face {
	src: url("../CSS/font/VITRO\ INSPIRE\ OTF.OTF");
	font-family: "vitro2";
}

@font-face {
	src: url("../CSS/font/VITRO\ PRIDE\ OTF.OTF");
	font-family: "vitro3";
}

@font-face {
	src: url("../CSS/font/KOHIBaeumOTF.otf");
	font-family: "KOH1";
}

@font-face {
	src: url("../CSS/font/KOHIBaeum.ttf");
	font-family: "KOH2";
}

@font-face {
	src: url("../CSS/font/PretendardVariable.ttf");
	font-family: "Pre";
}
html{
	scroll-behavior:smooth;
}
/* default 셋팅 */
.main-wrap #main1{
	width: 100%;
}
.swiper-wrap{
	height: 100%;
	position: relative;
  }
  .swiper-wrap .swiper{
	width: 100%;
	height: 100%;
  }
  #prev_btn, #next_btn{
	display: block;
	width: 80px;
	height: 80px;
	font-size: 70px;
	text-align: center;
	line-height: 80px;
	position: absolute; top: 50%;
  }
  .swiper-button-next:after, .swiper-button-prev:after{
	color: #fff;
  }
 
  .swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
  }
  #prev_btn{left: 0;}
  #next_btn{right: 0;}

  .swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
  }
  .swiper-pagination{
	color: #000;
	font-size: 15px;
  }

  /* accordian */
  .tit { padding: 10px; font-weight: bold;}
.accodian {list-style: none }
.accodian--box { margin-bottom: 5px;}
.accodian--box h3 { background: #333; padding: 5px; color: #fff;cursor: pointer}
.accodian--box div { background: #ccc; padding: 5px; display: none; }
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4 {
	margin: 0;
	padding: 0;
}

p {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}


/* main 시작 */
.main-wrap {
	height: 80vh;
	width: 100%;
}
.main{
	position: relative;
}
.main-wrap img {
	width: 100%;

}

.main-wrap .logo {
	width: 225px;
    height: 80px;
	position: absolute;
	top: 6%;
	left: 5%;
    background-image: url(/images/common/logo.png);
    background-repeat: no-repeat;
	z-index: 9999;
}
#logo{
	display: inline-block;
	width: 100%;
	height: 100%;
}
.main-wrap h1 {
	font-size: 50px;
	margin: 0;
	font-family: "vitro1";
}

.main-wrap p {
	font-size: 28px;
	font-family: "KOH1";

}

.text-box {
	position: absolute;
	top: 65%;
	left: 7%;
	color: #fff;
	z-index: 9998;
}

.text-box h1 {
	margin-bottom: 40px;
}

.menu-btn {
	font-size: 30px;
	position: absolute;
	right: 4%;
	top: 8%;
	z-index: 9998;
}


.side-nav {
	width: 25vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.85);
	position: fixed;
	top: 0%;
	right: 0%;
	z-index: 9999;
}

.side-nav h2,
p {
	color: #fff;
}

.side-nav h2 {
	font-size: 35px;
	margin-bottom: 25px;
	font-family: "vitro1";
}

.side-nav p {
	font-size: 18px;
	margin-bottom: 18px;
	font-family: "vitro3";
}

.side-nav p:hover {
	color: #b7a876;
	
}

.nav-wrap {
	padding: 20% 0 0 12%;
}

.side-nav>img {
	position: absolute;
	right: 17%;
	top: 5%;
}

.side-nav img:hover {
	text-decoration: none;
	cursor: pointer;
}


.contentswrapall{
    background-image: url(/images/main/main-deco.png);
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}
#Package-wrap h2 {
	font-size: 40px;
	margin-left: 950px;
	color: #978d6e;
	font-family: "vitro1";
	padding: 115px 0 35px 0;
}

#Package-wrap h2 span {
	font-size: 40px;
	border-left: 2px solid #978d6e;
	padding-left: 50px;
	margin-left: 35px;
	font-family: "vitro3";
	font-weight: lighter;
}

#Package-wrap .contents-wrap {
	display: flex;
	justify-content: end;
}

#Package-wrap .contents-wrap li {
	width: 300px;
	height: 80px;
	border-radius: 25px 0 0 0;
	font-family: "vitro3";
	color: #686459;
	font-size: 20px;
	line-height: 80px;
	padding-left: 50px;
}

#Package-wrap .contents-wrap li:hover {
	background-color: #988971;
	color: #fff;
	cursor: pointer;
}


.package{
	position: relative
}

#Package-wrap{
	height: auto;
}

.Package-info {
	position: absolute;
	top: 73%;
	left: 0%;
	background-color: rgba(0, 0, 0, 0.75);
	color: #fff;
	width: 100%;
	height: 27.5%;
}

.Package-info h3 {
	font-family: "KOH1";
	font-size: 20px;
	margin-bottom: 25px;
}

.Package-info p {
	font-family: "vitro3";
	font-size: 18px;
}
.img-wrap{
	position: relative;
}
.img-wrap a {
	position: absolute;
	right: 4%;
	top: 66%;
	color: #fff;
	font-family: "KOH1";
	font-size: 20px;

}
.text_box{
	padding:40px 0 35px 40px;
}

#Leisure-wrap{
	margin-bottom: 100px;
}
#Leisure-wrap h2 {
	margin-left: 300px;
	color: #978d6e;
	font-family: "vitro1";
	padding: 115px 0 35px 0;
    font-size: 40px;
}
#Leisure-wrap h2 span {
	font-size: 40px;
	border-left: 2px solid #978d6e;
	padding-left: 50px;
	margin-left: 35px;
	font-family: "vitro3";
	font-weight: lighter;
}
#Leisure-wrap .contents-wrap {
	display: flex;
	justify-content: left;
}

#Leisure-wrap .contents-wrap li {
	border-radius: 0 25px 0 0;
    width: 300px;
	height: 80px;
	font-family: "vitro3";
	color: #686459;
	font-size: 20px;
	line-height: 80px;
	padding-left: 50px;
}

#Leisure-wrap .contents-wrap li:hover{
	background-color: #988971;
	cursor: pointer;
	color: #fff;
}


#Leisure-wrap .contents-wrap .Package-info {
	position: absolute;
	top: 72.5%;
}
.img-wrap a:hover{
	transform: scale(1.1);
	transition: 1s;
}

.active {
	display: block !important;
	visibility: unset !important;
}
.fadeInRight {animation-name: fadeInRight !important;}
.fadeInLeft {animation-name: fadeInLeft !important;}

@media(max-width: 1700px){
	#Package-wrap h2{
		text-align: center;
		margin: 0 auto;
	}
	#Leisure-wrap h2{
		text-align: center;
		margin: 0 auto;
	}
	.contentswrapall{
		background: none;
	}
} 

@media(max-width: 1500px){
	#Package-wrap h2{
		font-size: 35px;
	}
	#Leisure-wrap h2{
		font-size: 35px;
	}
	#Package-wrap h2 span{
		font-size: 30px;
		padding-left: 30px;
		margin-left: 25px;
	}
	#Leisure-wrap h2 span{
		font-size: 30px;
		padding-left: 30px;
		margin-left: 25px;
	}
	#Package-wrap .contents-wrap li{
		font-size: 23px;
		width: 250px;
	}

	#Leisure-wrap .contents-wrap li{
		font-size: 23px;
		width: 250px;
	}
	.Package-info h3{
		font-size: 18px;
	}
	.Package-info p{
		font-size: 14px;
	}
	.text-box h1{
		font-size: 45px;
		margin-bottom: 25px;
	}
	.main-wrap p{
		font-size: 20px;
	}
	.side-nav{
		width: 30vw;
	}
	.Package-info{
		top: 64.5%;
		height: 35%;
	}
	#Leisure-wrap .contents-wrap .Package-info{
		top: 64.5%;
		height: 35%;
	}
	.text-box a{
		display: inline-block;
	}
	.text_box{
		padding: 5% 5% 5% 5%;
	}
	.Package-info h3{
        margin-bottom: 10px;
    }
}

@media(max-width: 1200px){

	.Package-info{
		top: 65%;
	}
	#Leisure-wrap .contents-wrap .Package-info{
		top: 65%;
	}
	#Package-wrap .contents-wrap{
		display: block;
	}
	#Package-wrap .contents-wrap ul{
		text-align: center;
		display: flex;
		justify-content: center;
		border-collapse: collapse;
	}
	#Package-wrap .contents-wrap li{
		display: inline-block;
		width: 25%;
		padding-left: 0;
		text-align: center;
		border-radius: 0;
		border: 1px solid #686459;
		margin-right: -1px;

		
	}
	.side-nav{
		width: 40vw;
		height: 100%;
		position:fixed;
	}
.img-wrap a{
	font-size: 18px;
	top:72%;
	position:static;
	text-align: center;
	display: block;
}
	#Package-wrap h2{
		font-size: 40px;
		padding-bottom: 60px;
		padding-top: 60px;
	}
	#Package-wrap h2 span{
		padding: 0;
		margin: 0 auto;
		display: block;
		text-align: center;
		border-right: 2px solid #978d6e;
		margin-top: 20px;
	}
	.main-wrap{
		background-color: #fdfaf4;
	}

	#Leisure-wrap .contents-wrap{
		display: block;
	}
	#Leisure-wrap .contents-wrap ul{
		text-align: center;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	#Leisure-wrap .contents-wrap li{
		width: 33%;
		display: inline-block;
		padding-left: 0;
		text-align: center;
		border-radius: 0;
		border: 1px solid #686459;

		margin-right: -1px;
		margin-bottom: -1px;
	}

	#Leisure-wrap h2{
		font-size: 40px;
		padding-bottom: 60px;
		padding-top: 60px;
	}
	#Leisure-wrap h2 span{
		padding: 0;
		margin: 0 auto;
		display: block;
		text-align: center;
		border-right: 2px solid #978d6e;
		width: 20%;
		margin-top: 20px;
	}
	#Leisure-wrap .contents-wrap{
		display: flex;
		flex-direction: column-reverse;
	}
	#Leisure-wrap .contents-wrap li{
		background-color: #fdfaf4;
	}
	.fadeInRight{
		animation: none !important;
	}
	.fadeInLeft{
		animation: none !important; 
	}

	.main-wrap p{
		margin-bottom: 20px;
		word-break: keep-all;
		font-size: 15px;
	}
	.text-box h1{
		font-size: 35px;
	}

}
@media(max-width:900px){
	#Package-wrap h2 span{
		font-size: 30px;
		border: none;
		margin: 0 auto;
		display: block;
		padding: 0;
		margin-top: 10px;
	}
	.Package-info{
		
		top: 65%;
		height: 35%;
	}
	#Leisure-wrap .contents-wrap .Package-info{
		top: 50%;
		height: 50%;
	}
	.text_box{
		padding-top: 10%;
	}
	#Package-wrap .contents-wrap li{
		width: 33%;
		font-size: 14px;
		height:40px;
		line-height: 40px;
	}
	#Leisure-wrap .contents-wrap li{
		font-size: 14px;
		height: 40px;
		line-height: 40px;
	}
	.Package-info{
		background-color: rgba(0,0,0,0.5);
	}
}
@media(max-width: 768px){
	#Package-wrap h2 span{
		font-size: 24px;
	}
	#Leisure-wrap .contents-wrap li:nth-child(4),#Leisure-wrap .contents-wrap li:nth-child(5){
		width: 49.5%;
	}
	#Leisure-wrap .contents-wrap li:nth-child(4){
		border-left: none;
	}
	#Leisure-wrap .contents-wrap li:nth-child(5){
		border-right: none;
	}
.swiper-button-prev,.swiper-button-next{
	width: 20px!important;
	height: 10px!important;
	--swiper-navigation-size:30px;
	
}
#Leisure-wrap .contents-wrap .Package-info{
	top: 65%;
	height: 35%;
}

.main-wrap .logo {
	background-image: url(/images/common/m/logo.png);
	background-repeat: no-repeat;
		}
.main{
	height: 40vh;
}

.text-box h1{
	font-size: 30px;
}
#Package-wrap h2{
	font-size: 30px;
}

.Package-info h3{
	font-size: 15px;
}
.main-wrap p{
	font-size: 12px;
	margin-bottom:30px;
}
.img-wrap a{
	font-size: 15px;
}
.text_box{
	top: 60%;
	left: 15%;
	padding-top: 3% !important;
}

#Leisure-wrap h2{
	font-size: 30px;
	word-break: keep-all;
}
#Leisure-wrap h2 span{
	font-size: 30px;
	border: none;
	margin: 0 auto;
	display: block;
	padding: 0;
	margin-top: 10px;
	width: 100%;
	font-size: 24px;
}
.side-nav{
width: 100%;
z-index: 9999;
}
.text-box h1{
margin-bottom: 10px;
font-size: 20px;
}
}

@media(max-width: 500px){

	#Leisure-wrap{
		margin-bottom: 60px;
	}
	.Package-info{
		height: 50%;
		top: 50%;
	}
	#Leisure-wrap .contents-wrap .Package-info{
		height: 50%;
		top: 50%;
	}
}
@media(max-width: 430px){
	.main-wrap p{
		margin-bottom: 10px;
	}
	#Leisure-wrap .contents-wrap li{
		font-size: 10px;
	}
}


@media(max-width: 400px){
	.Package-info{
		height: 59%;
		top: 42%;
	}
	.main-wrap p{
		margin-bottom: 15px;
	}
	#Leisure-wrap .contents-wrap .Package-info{
		height: 55%;
		top: 45%;
	}

}

@media(max-width: 350px){
	.text_box{
		padding-top: 0 !important;

	}
	#contents2 .text_box{
		padding-top: 3% !important;
	}
	.main-wrap p{
		margin-bottom: 10px;
	}

}

@media(max-width: 300px){
	.Package-info{
		height: 64%;
		top: 35%;
	}

}

