@charset "utf-8";
@import "default.css";
@font-face{
    src:url("../css/font/NotoSansKR-Regular.ttf");
    font-family: "reg";
}
@font-face{
    src:url("../css/font/NotoSansKR-Medium.ttf");
    font-family: "mid";
}
@font-face{
    src:url("../css/font/NotoSansKR-Bold.ttf");
    font-family: "bold";
}
@font-face{
    src:url("../css/font/ROKAF\ Slab\ Serif\ Medium.ttf");
    font-family: "roka";
}
.col-sm-12{
    width: 100% !important;
}
.table>:not(caption)>*>*{
    padding: 0;
}
.reg{
    font-family: "reg";
}
.mid{
    font-family: "mid";
}
.bold{
    font-family: "bold";
}
.roka{
    font-family: "roka";
}
.wrap-all{
    width: 90%;
    margin: 0 auto;
}
.toparea{
    font-size: 28px;
    color: #707070;
    border: 2px solid #b5b5b5;
    padding: 1% 2%;
    margin-bottom: 1%;
}
.toparea span{
    color: #E95165;
    font-size: 21px;
    margin-left: 5px;
}
.account{
    background-color: #FFF5E6;
    text-align: center;
    font-size: 30px;
    padding: 1% 2%;
    border: 2px solid #b5b5b5;
}
/* 테이블css */
tr{
    cursor: pointer;
}
.tg  {border-collapse:collapse;border-spacing:0; margin: 0 auto;}
.tg td{ height: 40px; border-color:black;border-style:solid;border-width:2px;font-family:"mid", sans-serif;font-size:16px;
  overflow:hidden;padding:10px 5px;word-break:break-all;}
.tg th{border-color:black;border-style:solid;border-width:2px;font-family:"bold", sans-serif;font-size:16px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-68kc{background-color:#ef7517;border-color:#ffffff;color:#ffffff;text-align:center;vertical-align:middle}
.tg .tg-hje7{cursor: pointer; border-color:#b5b5b5;text-align:center;vertical-align:middle}
.tg .tg-btxt{border-color:#b5b5b5;text-align:center;vertical-align:middle}
.pagination{
    letter-spacing: 20px;
    cursor: pointer;
    font-family: "reg";
    font-size: 20px;
    padding: 1% 0 !important;
}
.password{
display: none;
    position: fixed;top: 50%;left: 50%;
    transform: translate(-50%,-50%);
    font-size: 18px;
    font-family: "bold";
    color: #707070;
    background-color: #fff;
    width: 20%;
    padding: 2% 1%;
    border: 1px solid #EF7517;
}
.password form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.password .close{
    position: absolute;
    top: 4%;right: 3%;
    cursor: pointer;
}
.password label{
    width: 80%;
    display: block;
    text-align: left;
    margin-bottom: 2%;
}
.password input{
border: 1px solid #b5b5b5;
width: 80%;
font-size: 18px;
border-radius: 0;
padding: 3px 5px;
}
.password button{
    background-color: #EF7517;
    color: #fff;
    border: none;
    width: 25%;
    padding: 1% 0;
    font-size: 18px;
    font-family: "bold";
    margin-top: 10%;
}
.wrap-all{
    padding-top: 8%;
}

@media(max-width:991px){
    .wrap-all{
        padding-top: 13%;
    }
    .toparea{
        font-size: 22px;
    }
    .toparea span{
        font-size: 16px;
    }
    .account{
        font-size: 24px;
        word-break: keep-all;
    }
    .tg th{
        font-size: 13px;
    }
    .tg td{
        font-size: 13px;
        
    }
}
@media(max-width:768px){
    .wrap-all{
        padding-top: 30%;
    }
    .tg .tg-68kc{
        word-break: keep-all;
    }
    .wrap-all{
        width: 100%;
    }
    table{
        width: 100% !important;
    }
    .tg th{
        font-size: 9px;
    }
    .tg td{
        font-size: 9px;
        word-break: break-word;
    }
    .account{
        font-size: 18px;
    }
    .toparea{
        font-size: 16px;
    }
    .toparea span{
        font-size: 13px;
    }
}

@media(max-width:500px){
    .text-center{
        font-size: 10px;
    }
    .odd td:last-child{
        font-size: 12px;
    }
    .even td:last-child{
        font-size: 10px;
    }
    th{
        padding: 0.5em !important;
        word-break: keep-all;
    }
    .password{
        width: 80%;
    }
   
}