@charset "utf-8";
@import "default.css";
@import url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo.css');
@font-face {
	src: url("../css/font/Puradak\ Gentle\ Gothic.ttf");
	font-family: "dak";
}
/* body,html{
    scroll-behavior:smooth;
} */
#footer{
    bottom: 0;
    position: absolute;
}
.footer{
    background-color: #EFEFEF;
    height: 360px;
    position: relative;

}

.leftbox1 > p:first-child{
font-family: 'NanumSquareNeo';
color: #454546;
font-size: 18px;
margin-bottom: 35px;
font-weight: lighter;
}
.leftbox1 > p:first-child span{
    font-weight: bold;
    letter-spacing: 3.6px;

}
.logo1 h1{
    text-align: center;
    display: flex;
}
.leftbox1 > p:nth-child(2),.leftbox1 > p:nth-child(3){
    font-family: 'NanumSquareNeo';
    font-weight: bold;
    font-size: 16px;
    color: #6E6E6E;
    letter-spacing: 3.2px;
    line-height: 25px;
}

.leftbox1 > p:nth-child(2){
    margin-bottom: 35px;
}

.rightbox1{
    text-align: right;
}

.rightbox1>p{
    font-family: 'NanumSquareNeo';
    font-weight: bold;
    font-size: 14px;
    color: #6E6E6E;
    margin-bottom: 80px;
}

.rightbox1 > p > a{
    color: #6e6e6e;

}


.logo1 h1 img{
    width: auto;
    height: auto;
    object-fit: none;
}
.footer-m .logo1 h1{
    padding-top: 0;
    margin-bottom: 10px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo1 h1 span{
    color: #1683CB;
}

.flexwrap1{
    width: 80%;
    display: flex;
    justify-content:space-between;
    margin:0 auto;
    padding-top:5%;
}
.top{
    position: absolute;
    top: 1%;
    right: 10%;
}
.top img{
    margin-top: 15px;
}




@media(max-width:1200px){

    .flexwrap1{
        padding-top: 10%;
    }
}
.footer-m{
    display: none;
    position: relative;
}
@media(max-width:991px){
.footer{
    display: none;
}
.footer-m{
    display: block;
    background-color: #EFEFEF;
    text-align: center;
    padding-top: 45px;
}
.footer-m-wrap{
    width: 85%;
    margin: 0 auto;
    position: relative;
}
.flex1 p{
    color: #454546;
    font-size: 16px;
    font-weight: lighter;
}
.flex1 p, .flex2 p, .flex3 p, .flex4 p{
    font-family: 'NanumSquareNeo';
    line-height: 25px;
    word-break: keep-all;
}
.flex1{
    margin-bottom: 30px;
}
.flex3{
    margin-bottom: 30px;
}
.flex2{
    margin-bottom: 28px;
} 
.flex4{
    padding-bottom: 45px;
}
.flex2 p, .flex3 p{
    font-weight: 600;
    color: #6e6e6e;
    font-size: 14px;
    letter-spacing: 2.8px;
}
.flex4 p{
    font-weight: 600;
    color: #6e6e6e;
    font-size: 10px;
    letter-spacing: 2px;
}
.flex4 a{
    color: #6e6e6e;
}

.footer-m .top{
    position: absolute;
    top: 0;right: 6%;
}
}