@charset "utf-8";
/* 기본설정 */
@import "default.css";


@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('./font/강원교육모두-Bold.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	src: url("../css/font/나눔손글씨\ 소미체.ttf");
	font-family: "font2";
}
body{
    position: relative;
    scroll-behavior:smooth;

}
html{
    scroll-behavior: smooth;
}
.mainslide{
    height: 100%;
}
.roomprewrap{
    height: 100%;
}
.flexwrap{
    height: 100%;
}
.page3wrap{
    height: 100%;
}
.swiper{
    height: 100% !important;
}
.section{
    overflow: hidden;
}
img{
    display: block;
}
#page1{
    position: relative;
}

#page1 h1{
    color: #fff;
    font-size: 80px;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9999;
    font-family: 'font2';
    opacity: 80%;
    font-weight: normal;

}

#page2{
    position: relative;
}

#page2 .textbox h1{
    font-size: 60px;
    font-family: 'GangwonEdu_OTFBoldA';
    margin-bottom: 44px;
    margin-top: 20px;
    color: #454546;
}

#page2 .textbox p{
    font-size: 18px;
    font-family: 'NanumSquareNeo';
    margin-bottom: 40px;
    color: #454546;
    line-height: 30px;
}

#page2 .textbox a {
    font-size: 20px;
    color: #454546;
    font-family: 'NanumSquareNeo';
    display: inline-block;
    border: 1px solid #141414;
    width: 240px;
    height: 67px;
    line-height: 67px;
    text-align: center;
    overflow: hidden;
    background: transperent;
    position: relative;
  }
#page2 .textbox a span{
margin-left:25px;
}
#page2 .textbox a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, #141414 100%, #141414 100%);
    z-index: -1;
    transition: transform 0.5s ease-out;
    transform: scaleX(0);
    transform-origin: left;
  }
  
  #page2 .textbox a:hover::before {
    transform: scaleX(1);
  }
#page2 .textbox{
    width: 40%;
    height: 300px;
    background-color: rgba(255,255,255,0.635); 
    box-shadow: 0px 0px 60px 50px rgba(255,255,255,0.68);
    
    position: absolute; top: 50%; left: 7%;
    transform: translate(0,-50%);
}

#page2 .textbox img{
    width: 100%;
    object-fit: cover;
}
.rightbox{width: 50%;}
#page3 .textbox{
   margin: 0 auto;
    width: 73%;
    margin-top: 35%;
}
#page3 .textbox p:first-child{
font-size: 18px;
font-family: 'NanumSquareNeo';
font-weight: 600;
letter-spacing: 5.4px;
margin-bottom: 20px;
color: #6E6E6E;
}

#page3 .textbox h1{
    font-size: 60px;
    font-family: 'GangwonEdu_OTFBoldA'; 
    margin-bottom: 44px;
   color: #454546;
}
#page3 .textbox a span{
    margin-left:25px;
    }
#page3 .textbox a{
        font-size: 20px;
        color:#1683CB;
        font-family: 'NanumSquareNeo';
        display: inline-block;
        border: 1px solid #1683CB;
        width: 240px;
        height: 67px;
        line-height: 67px;
        text-align: center;
        overflow: hidden;
        background: transperent;
        position: relative;
}
#page3 .textbox a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, rgba(22,131,203,1) 100%, rgba(22,131,203,1) 100%);
    z-index: -1;
    transition: transform 0.5s ease-out;
    transform: scaleX(0);
    transform-origin: left;
  }
  #page3 .textbox a:hover::before {
    transform: scaleX(1);
  }
  #page3 .textbox a:hover{
    color:#fff;
    bottom: none;
  }
#page3 .textbox #lastchild{
    font-size: 18px;
    font-family: 'NanumSquareNeo';
    line-height: 30px;
    color: #6E6E6E;
    margin-bottom: 56px;
    word-break: keep-all;
}

#page3 .leftbox{
    width: 50%;
    height: 100%;
}
#page3 .leftbox img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.flexbox{
    display: flex;
    height: 100%;
}
#page3{
    position: relative;
}
#page3 .navbtn img{
    display: inline-block;
    position: absolute;
}
#page3 .navbtn #btn1{
    position: absolute;
    bottom: 8%;
    left: 40%;
}
#page3 .navbtn #btn2{
    position: absolute;
    bottom: 8%;
    left: 44%;
}
#page3 .navbtn img{
    cursor: pointer;
}

#page4 .photo{
    display:block;
  
}
#page4 .p-info{
    position: absolute;
    text-align: center;
    left: 50%; top: 0%;
    transform: translate(-50%,0);
    margin: auto 0;
    width: 100%;
    height: 100%;
}

#page4 .p-info p{
    font-family: 'NanumSquareNeo';
    font-weight: 600;
    margin-bottom: 27px;
    color: #fff;
    font-size: 20px;
}

#page4 .p-info a{
    font-family: 'NanumSquareNeo';
    font-size: 14px;
    border: 1px solid #fff;
    color: #fff;
    display: inline-block;
    width: 135px;
    height: 43px;
    line-height: 43px;
    overflow: hidden;
    background: transperent;
    position: relative;
    text-align: center;
}
#page4 .p-info a span{
margin-left:25px;
}

#page4 .p-info a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, #fff 100%, #fff 100%);
    z-index: -1;
    transition: transform 0.5s ease-out;
    transform: scaleX(0);
    transform-origin: left;  
}
#page4 .p-info a:hover::before{
    transform: scaleX(1);
}
#page4 .p-info a:hover{
    color: #454546;
}
#page4 .info{
    position: absolute;top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.photowrap{
    display: inline-block;
    position: relative;
    width: 32%;
}
.photowrap img{
    object-fit: cover;
    width: 100%;
}
.gallery{
    display: flex;
    width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
}
.photowrap:nth-child(1){
    padding: 0 0.5% 0.5% 0;
}
.photowrap:nth-child(2){
    padding: 0 0.5% 0.5% 0.5%;
}
.photowrap:nth-child(3){
    padding: 0 0 0.5% 0.5%;
}
.photowrap:nth-child(4){
    padding: 0.5% 0.5% 0 0;
}
.photowrap:nth-child(5){
    padding: 0.5% 0.5% 0 0.5%;
}
.photowrap:nth-child(6){
    padding: 0.5% 0 0 0.5%;
}
#page4 .textbox{
    text-align: center;
    padding-top: 5.5%;
}
#page4 .textbox p:first-child{
    font-size: 18px;
    font-family: 'NanumSquareNeo';
    font-weight: 600;
    color: #6E6E6E;
    letter-spacing: 5.4px;
    margin-bottom: 20px;
}

#page4 .textbox h1{
    font-size: 60px;
    font-family: 'GangwonEdu_OTFBoldA';
    color: #454546;
    font-weight: 600;
    margin-bottom: 44px;
}

#page4 .textbox #lastchild2{
    font-size: 18px;
    font-family: 'NanumSquareNeo';
    color: #6E6E6E;
    margin-bottom: 56px;
}

#page4 .textbox a{
    font-size: 20px;
    color:#1683CB;
    font-family: 'NanumSquareNeo';
    display: inline-block;
    border: 1px solid #1683CB;
    width: 240px;
    height: 67px;
    line-height: 67px;
    text-align: center;
    overflow: hidden;
    background: transperent;
    position: relative;
    margin-bottom: 60px;
}
#page4 .textbox a::before {
content: "";
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: linear-gradient(to right, rgba(22,131,203,1) 100%, rgba(22,131,203,1) 100%);
z-index: -1;
transition: transform 0.5s ease-out;
transform: scaleX(0);
transform-origin: left;
}
#page4 .textbox a:hover::before {
transform: scaleX(1);
}
#page4 .textbox a:hover{
color:#fff;

}

#page5 .textbox p{
    font-family: 'NanumSquareNeo';
    font-size: 18px;
    color: #6E6E6E;
    letter-spacing: 5.4px;
    font-weight: 600;
}

#page5 .textbox h1{
font-family: 'GangwonEdu_OTFBoldA';
font-size: 60px;
color: #454546;
}
 /* #page5{
    padding-left: 10%;
}  */

/* footer를 #page5로썼을때 가정이다 나중에 page5 게시판 들어오면 6으로밀린다  #page6에 푸터를 넣어야댐 */
/* #page5{
    margin-top: 80px;
} */


#page2 .textbox a:hover{
    color: #fff;
    background-size: 100% 100%;

}

/* 여기부터 반응형 이미지 사이즈조정 들어갑니다잉~ */

#page1 .mainslide .swiper-slide img {
width: 100%;
height: 100%;
object-fit: cover;

}
#page2 .roomprewrap img{

  width: 100%;
height: 100%;
object-fit: cover;  
}
@media(max-width:1200px){
    #page1 h1{
        font-size: 60px;
    }
    #page2 .roomprewrap img{
        width: auto;
    }
    .mainbtn1{
        left: 5% !important;
    }   
    .mainbtn2{
        right: 5% !important;
    }
    #page2 .textbox h1{
        font-size: 45px;
        word-break: keep-all;
        margin-bottom: 22px;
    }
    #page2 .textbox p{
        font-size: 16px;
        margin-bottom: 28px;
    }
    #page3 .navbtn #btn1{
        left: 35%;
    }
    #page3 .navbtn #btn2{
        left: 42%;
    }
    #page3 .textbox h1{
        font-size: 45px;
        margin-bottom: 22px;
    }
    #page3 .textbox #lastchild{
        font-size: 16px;
        margin-bottom: 28px;
    }
    #page4 .textbox h1{
        font-size: 45px;
        margin-bottom: 22px;
    }
    #page4 .textbox #lastchild2{
        font-size: 16px;
        margin-bottom: 28px;
    }
    .photowrap{
        width: 45%;
        padding: 0 !important;
        margin-bottom: 2%;
        height: max-content;
    }
}


/* 모바일 css시작*/

.main-m{
    display: none;
}
.mainslide-m .swiper{
    height: 100%;
}
.mainslide-m{
    height: 70vh;
}
.mainslide-m img{
    display: block;
    object-fit: cover;
width: 100%;
height: 100%;
}
.section2{
    position: relative;
}
.section2 .photowrap-m{
    height: 70vh;
}
.section2 .photowrap-m img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.section2 .roombtn{
    height: 15vh;
}
.section2 .roombtn a{
display: inline-block;
width: 135px;
height: 35px;
font-size: 12px;
font-family: 'NanumSquareNeo';
color: #454546;
line-height: 35px;
text-align: center;
border: 1px solid #454546;
}
.section2 .btn-m{
    margin: 0 auto;
    width: 80%;
    text-align: center;
    padding-top:8%;
}
.section2 .btn-m span{margin-left: 25px;}
.section2 .textbox{
    position: absolute;
    top: 43%;left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    background-color: rgba(255,255,255,0.641); 
    box-shadow: 15px 15px 50px 50px rgba(255,255,255,0.68);
    border: none;
    box-sizing:border-box
}
.section2 .textbox h1{
    font-family:'GangwonEdu_OTFBoldA';
    font-size: 25px;
    color: #454546;
    text-align: center;
    margin: 0 auto;
    width: 60%;
    word-break: keep-all;
    margin-bottom: 24px;
}
.section2 .textbox p{
    font-family: 'NanumSquareNeo';
    color: #454546;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    word-break: keep-all;
}
.section3 .facil-info{
    height: 60vh;
    background-color:#EFEFEF;
}
.section3 .textbox{
    text-align: center;
    padding-top: 8%;
}
.section3 .textbox p:first-child{
    font-family: 'NanumSquareNeo';
    font-size: 12px;
    color: #6E6E6E;
    letter-spacing: 3.6px;
    font-weight: 600;
    margin-bottom: 15px;
}
.section3 .textbox h1{
    font-family: 'GangwonEdu_OTFBoldA';
    font-size: 25px;
    font-weight: bold;
    color: #454546;
    margin-bottom: 35px;
    width: 80%;
    margin: 0 auto;
    word-break: keep-all;
}

.section3 .textbox .second{
    font-family: 'NanumSquareNeo';
    font-size: 14px;
    color: #6E6E6E;
    width: 80%;
    margin: 0 auto;
    line-height: 25px;
    font-weight:400;
    margin-bottom:35px;
}
.section3 .textbox .btn-m{
    width: 135px;
    height: 35px;
    border: 1px solid #1683CB;
    margin: 0 auto;
    margin-bottom: 35px;
}

.section3 .textbox .btn-m a{
    font-family: 'NanumSquareNeo';
    font-size: 12px;
    color: #1683CB;
    line-height: 35px; 
}
.section3 .facil-info .navbtn-m img{
    display: inline-block;
    cursor: pointer;
}
.section3 .facil-info .navbtn-m img:nth-child(odd){
    margin-right: 5%;
}
.section3 .facil-info .navbtn-m img:nth-child(even){
    margin-left: 5%;
}
.section3 .facil-img{
    height: 50vh;
}
.section3 .facil-img img{
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.section3{
position: relative;
}
.section3 .navbtn-m #btn1, .section3 .navbtn-m #btn2{
    position: absolute;
    top: 41%;
    z-index: 9997;
    width: 42px;
    height: 42px;
    cursor: pointer;
}

.section3 .navbtn-m #btn1{
left: 33%;
    
}
.section3 .navbtn-m #btn2{
right: 33%;

}

.section4 .textbox{
    text-align: center;
    padding-top: 8%;
    height: 35vh;
    margin-bottom: 12%;
}
.section4 .textbox p:first-child{
    font-family: 'NanumSquareNeo';
    font-size: 12px;
    color: #6E6E6E;
    letter-spacing: 3.6px;
    font-weight: 600;
    margin-bottom: 15px;
}
.section4 .textbox h1{
    font-family: 'GangwonEdu_OTFBoldA';
    font-size: 25px;
    font-weight: bold;
    color: #454546;
    margin-bottom: 35px;
}
.section4 .textbox .second{
    font-family: 'NanumSquareNeo';
    font-size: 14px;
    color: #6E6E6E;
    width: 80%;
    margin: 0 auto;
    line-height: 25px;
    font-weight:400;
    margin-bottom:35px;
}
.section4 .textbox .btn-m{
    width: 135px;
    height: 35px;
    border: 1px solid #1683CB;
    margin: 0 auto;
    margin-bottom: 35px;
}

.section4 .textbox .btn-m{
    width: 135px;
    height: 35px;
    border: 1px solid #1683CB;
    margin: 0 auto;
    margin-bottom: 35px;
}

.section4 .textbox .btn-m a{
    font-family: 'NanumSquareNeo';
    font-size: 12px;
    color: #1683CB;
    line-height: 35px; 
}


.section4 .p-info{
    position: absolute;
    text-align: center;
    left: 50%; top: 12%;
    transform: translate(-50%,0);
    margin: auto 0;
    width: 100%;
    height: 100%;
}

.section4 .p-info p{
    font-family: 'NanumSquareNeo';
    font-weight: 600;
    margin-bottom: 18px;
    color: #fff;
    font-size: 14px;
}

.section4 .p-info a{
    font-family: 'NanumSquareNeo';
    font-size: 14px;
    border: 1px solid #fff;
    color: #fff;
    display: inline-block;
    width: 110px;
    height: 35px;
    line-height: 35px;
    overflow: hidden;
    background: transperent;
    position: relative;
    text-align: center;
}
.section4 .p-info a span{
margin-left:15px;
}


.section4 .p-info a:hover{
    color: #fff;
}

.flexwrap-m{
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.section4 .photo{
    height: 100%;
}
.section4 .photowrap img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.section4 .photowrap{
    width: 42%;
}
.section4 .photowrap{
    height: 112px;
    margin-bottom: 4%;
}

@media(max-width:991px){
   #fullpage{
display: none;
   }
   .main-m{
    display: block;
   }
   body{
    overflow-y: scroll !important;
   }
   .section4{
    padding-bottom: 6%;
   }
   .section2 .btn-m{
    padding-top: 5.5%;
   }
   .section3 .facil-info{
    height: 45vh;
   }
   .section3 .navbtn-m #btn1, .section3 .navbtn-m #btn2{
    top: 33%;
   }
   .section3 .navbtn-m #btn1{
    left: 42%;
   }
   .section3 .navbtn-m #btn2{
    right: 42%;
   }
   .section4 .textbox{
    height: 10vh;
   }
}

@media(max-width:500px){
    .section2 .btn-m{
        padding-top: 11%;
    }
    .section3 .facil-info{
        height: 38vh;
    }
    .section3 .navbtn-m #btn1, .section3 .navbtn-m #btn2{
        top: 35%;
    }
    .section4 .textbox{
        height: 18vh;
    }
    .section3 .navbtn-m #btn1{
        left: 35%;
    }
    .section3 .navbtn-m #btn2{
        right: 35%;
    }

}



@media(max-width:430px){
.section3 .facil-info{
    height: 55vh;
}
.section3 .navbtn-m #btn1, #btn2{
    top: 38% !important;
}
.section2 .btn-m{
    padding-top: 12%;
}
.section4 .textbox{
    margin-bottom: 0;
}
.section4 .textbox{
    height: 23vh;
}
.section4 .p-info{
    top: 18%;
}

}


@media(max-width:390px){
    .section2 .btn-m{
        padding-top: 11%;
    }
    .section3 .facil-info{
        height: 45vh;
    }
    .section3 .navbtn-m #btn1, #btn2{
        top: 39% !important;
    }
    .section3 .textbox .second{
        margin-bottom: 15px;
    }
    .section4 .textbox{
        height: 30vh;
    }
}
@media(max-width:378px){
    .section3 .facil-info{
        height: 60vh;
    }
    .section2 .btn-m{
        padding-top: 10%;
    }
    .section3 .navbtn-m #btn1, #btn2{
        top: 43% !important;
    }
    .section3 .navbtn-m #btn1, .section3 .navbtn-m #btn2{
        top: 40%;
    }
}
@media(max-width:350px){
    .section4 .textbox{
        height: 35vh;
    }
    .section2 .btn-m{
        padding-top: 7.5%;
    }
    .section3 .facil-info{
        height: 60vh;
    }
    .section3 .navbtn-m #btn1, #btn2{
        top: 42% !important;
    }
}

@media(max-width:320px){
.section3 .navbtn-m #btn1{

    left: 30%;
}
.section3 .facil-info{
    height: 68vh;
}
.section3 .navbtn-m #btn2{

right: 30%;
}
.section3 .navbtn-m #btn1, #btn2{
    top: 46% !important;
}
}

@media(max-width:300px){
    .section2 .btn-m{
        padding-top: 10%;
    }

}
