@charset "utf-8";
@import "default.css";
@font-face{
    src:url("../css/font/NotoSansKR-Regular.ttf");
    font-family: "reg";
}
@font-face{
    src:url("../css/font/NotoSansKR-Medium.ttf");
    font-family: "mid";
}
@font-face{
    src:url("../css/font/NotoSansKR-Bold.ttf");
    font-family: "bold";
}
@font-face{
    src:url("../css/font/ROKAF\ Slab\ Serif\ Medium.ttf");
    font-family: "roka";
}
.btns .uploadfile{
    display: inline-block;
    height: 40px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    width: 50%;
    color: #999999;
}
.btns a{
    font-size: 16px;
    font-family: "mid";
    border: 1px solid #707070;
    color: #251efb;
    padding: 5px 10px;
}
.btns a:hover{
    background-color: #251efb;
    color: #fff;
}
.btns{
    display: flex;
    gap: 1%;
    width: 90%;
    margin: 0 auto;
}
.alert{
    width: 25%;
    border: 1px solid #707070;
    margin: 0 auto;
    position: fixed;top: 50%;left: 50%;transform: translate(-50%,-50%);
    background-color: #e6e5e5;
    text-align: center;
    padding: 3% 2%;
    display: none; 
}
.alert p{
    font-family: "mid";
    font-size: 16px;
    margin-bottom: 15px;
}
.alert button{
    font-size: 16px;
    font-family: "mid";
    padding: 1% 2%;
    width: 20%;
}
.alert a{
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    text-decoration: underline;
}
.btns input{
height: 30px;padding: 0px 5px;
}
.btns button{
    padding: 0.2%;
    background-color: #fff;
    font-family: "mid";
    border: none;
    cursor: pointer;
    border: 1px solid #707070;
}
.btns #r_credit{
    color: #251efb;
    font-size: 16px;
}
.btns #r_credit:hover{
    background-color: #251efb;
    color: #fff;
}
.btns #r_cancel{
    color: #d70303;
    font-size: 16px;
    padding: 3px 10px;
}
.btns #r_cancel:hover{
    background-color: #d70303;
    color: #fff;
}
.btns input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}
.btns label {
    display: inline-block;
    padding: 0px 5px;
    color: #000;
    vertical-align: middle;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
    border: 1px solid #707070;
    font-family: "mid";
}
.reg{
    font-family: "reg";
}
.mid{
    font-family: "mid";
}
.bold{
    font-family: "bold";
}
.roka{
    font-family: "roka";
}
.wrap_all{
    width: 90%;
    margin: 0 auto;
}
.toparea{
    width: 95%;
    margin: 0 auto;
    margin-bottom: 3%;
    padding-top: 10%;
}
.toparea .top1{
    font-size: 30px;
    color: #707070;
    border: 1px solid #707070;
    padding: 1% 2%;
    margin-bottom: 1%;
}
.toparea .top2{
    font-size: 20px;
    color: #707070;
   background-color: #F2E3E3;
    padding: 0.5% 2%;
}
.toparea .top2 span{
    color: #E95165;
}
.block1 span{
    color:#E95165;
}
.block{
    width: 90%;
    margin-bottom: 2%;
    padding: 1% 0;
}
.block1 .flex span{
    font-size: 20px;
    
}
.block1 .flex{
    display: flex;align-items: center;
    margin-bottom: 1%;
}
.block1 .flex img{
    margin-right: 0.5%;
}
.block1 label{
    font-size: 18px;
    color: #707070;
    display: inline-block;
    width: 10%;
}

.block1 select option{
    font-size: 18px;
    color: #707070;
}
.block1 select{
    color: #707070;
    font-size: 18px;
    width: 10%;
    border: 1px solid #707070;
    border-radius: 0;
    padding: 6px 7px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('/images/reser/option.png') no-repeat 97% 50% /15px auto;
}
.block1 option{
    color: #707070;
    width: 10%;
    border: 1px solid #707070;
    border-radius: 0;
    padding: 3px 5px;
}
.block1 input{
    color: #707070;
    width: 10%;
    border: 1px solid #707070;
    padding: 3px 5px;
    font-family: "mid";
    font-size: 18px;
}
select::-ms-expand{
    display: none;
}
.block1 .flex-all{
display: flex;
flex-direction: column;
margin-left: 2%;
}
.block1 .flexbox{
    margin-bottom: 0.5%;
}
input[type='date']::before {
    content: attr(data-placeholder);
    width: 100%;
  }
  
  input[type='date']:focus::before,
  input[type='date']:valid::before {
    display: none;
  }
  input::-webkit-inner-spin-button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
.block1 .margin::after{
    content:'';
    display: block;
    width: 100%;    
    border-bottom: 2px solid #E95165;
    margin-top: 1%;
}
.block2 .margin::after{
   
    content:'';
    border-bottom: 2px solid #EE7215;
    color: #707070;
    display: block;
    width: 100%;    
    margin-top: 1%;
}

.block .program{
    display: flex;
    gap: 5%;
    border-bottom: 1px solid #EE7215;
    padding: 2% 0;
    color: #707070;
}
.block .program .rightbox{
    display: flex;
    flex-direction: column;
}
.block2 .leftbox{
    width: 7%;
}
.cp_sch .leftbox{
    width: 15%;
}
.cp_sch .program{
    gap: 0;
    align-items: center;
}
.block2 .bold{
    color: #EF7517;
}
.block2 .rightbox span{
    font-size: 18px;
    color: #EE7215;
}
.block2 input[type="checkbox"]{
    margin-right: 5px;
    border-radius: 0;
}
.block3 input[type="checkbox"]{
    margin-right: 5px;
    border-radius: 0;
}
.margin{
    padding-left: 2%;
}
.block2 .program:last-child{
    border: none;
}
.block3 .program{
    border: none;
}
.block3 .margin::after{
    content:'';
    border-bottom: 2px solid #7870B2;
    color: #707070;
    display: block;
    width: 100%;    
    margin-top: 1%;
}
.block4 .margin{
    padding-left: 0;
    margin-left: 2%;
    width: 98%;    
    margin-top: 1%;
    border-bottom: 1px solid #4B75B9;
    color: #707070;
}
.block4 .colunm::after{
    content:'';
    color: #707070;
    display: block;
    width: 100%;    
    margin-top: 1%;
    border-bottom: 2px solid #4B75B9;
    color: #707070;
}
.block4 .margin{
    display: flex;
    gap: 5%;
    flex-direction: column;
    margin-bottom: 2%;
}
.block4 .program{
    
    flex-direction: column;
    padding: 0;
    border: none;
   
}
.block4 .program .rightbox{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 3%;
}
.block4 .program .rightbox label{
    width: 33%;
}
.block4 .flex{
    display: flex;
    width: 90%;
    align-items: center;
    margin-bottom: 1%;
}
.block4 img{
    margin-bottom: 1%;
}
.block4 .flex:last-child{
    margin-bottom: 0;
}
.block4 select{
    color: #707070;
    font-size: 18px;
    width: 12%;
    border: 1px solid #707070;
    border-radius: 0;
    padding: 6px 7px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('/images/reser/option.png') no-repeat 97% 50% /15px auto;
} 
.colunm{
    flex-direction: column;
   border-bottom: none !important;
}
.colunm .flex label{
    width: 9%;
}

.block5 select{
    color: #707070;
    font-size: 18px;
    width: 10%;
    border: 1px solid #707070;
    border-radius: 0;
    padding: 6px 7px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('/images/reser/option.png') no-repeat 97% 50% /15px auto;
}
.block5 option{
    color: #707070;
    width: 10%;
    border: 1px solid #707070;
    border-radius: 0;
    padding: 3px 5px;
}
.block5 img{
    margin-bottom: 1%;
}
.block5 label{
    font-size: 18px;
    color: #707070;
    display: inline-block;
    width: 10%;
}
.block5 .flexbox{
    margin-bottom: 1%;
}
.block5 .margin{
    padding-bottom: 2%;
}
.block5 .margin::after{
    content:'';
    display: block;
    border-bottom: 2px solid #374957;
    width: 100%;
    margin-top: 2%;
}
.block5 .flexbox:last-child{
    margin-bottom: 0;
}
.block6 .file{
    border-radius: 0;
    border: 1px solid #707070;
    background: url('/images/reser/file.png') no-repeat 97% 50% /15px auto; ;
    display: inline-block;
    height: 40px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    width: 10%;
    color: #999999;
}
.block6 label {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    vertical-align: middle;
    background-color: #999999;
    cursor: pointer;
    height: 20px;
    margin-left: 10px;
    line-height: 20px;
}
.block6 input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}
.block6 img{
    margin-bottom: 1%;
}
.block6 textarea{
    width: 98%;
    font-size: 18px;
    font-family: "mid";
    color: #707070;
    padding: 2%;
    margin: 2% 0 1% 0.7%;
}
.block6 .margin::after{
    content:'';
    display: block;   border-bottom: 2px solid #0BA79A;
    margin-top: 1%;
}
.block7{
    text-align: center;
}
.block7 div{
    display: flex;
    align-items: center;
    font-size: 30px;
    color: #707070;
    text-align: center;
    justify-content: center;
    margin-bottom: 1%;
}
.block7 #permit{
    width: 25px;
    height: 25px;
}
.block7 div a{
    color: #4D7DBD;
}
.block7 button{
    display: block;
    width: 12%;
    height: 50px;
    line-height: 40px;
    font-size: 32px;
    color: #707070;
    background-color: transparent;
    border-radius: 0;
    padding: 5px 5px;
    margin: 0 auto;
    border: 1px solid #707070;
    cursor: pointer;
}
.block8{
    color: #707070;
    font-size: 20px;
}
#img-m{
    display: none;
}
.mail-flex{
    display: inline-block;
    width: 20%;
}
.mail-flex input{
    width: 45%;
}
.mail-m{
    display: inline-block;
    width: 20%;
}
.mail-m select{
    width: 40%;
}
.warn{
    font-size: 17px;
}

.cp_pro, .cp_sch{
    display: none;
}
@media(max-width:1200px){
    .block1 label{
        width: 15%;
    }
    .block1 select{
        width: 20%;
    }
    .mail-m select{
        width: 60%;
    }
    .block1 input{
        width: 20%;
    }
    .mail-flex input{
        width: 100%;
    }
    .block2 .leftbox{
        width: 12%;
    }
    .block4 select{
        width: 20%;
    }
    .block5 select{
        width: 20%;
    }
    .block7 button{
        width: 16%;
    }
}
@media(max-width:991px){
    .toparea{
        padding-top: 15%;
        text-align: center;
    }
    .toparea .top2 span{
        display: block;
    }
    .block4 .program .rightbox{
        width: 100%;
    }
    .block1 label{
        width: 25%;
    }
    .block2 .leftbox{
        width: 20%;
    }
    .block .program .rightbox{
        width: 100%;
    }
    .block3 .leftbox{
        width: 15%;
    }
    .block4 .leftbox{
        width: 15%;
    }
    .colunm .flex label{
        width: 15%;
    }
    .block7 div{
    font-size: 24px;
    }
    .block7 button{
        font-size:26px;
    }
    .block8 .mid{
        word-break: keep-all;
    }
}

@media(max-width:768px){
    .cp_sch .program{
        align-items:normal
    }
    .warn{
        font-size: 13px;
    }
    .block img{
        display: none;
    }
     #img-m{
        display: block !important;
    }
    .block1 .flexbox span>span{
        display: none;
    }
    .block1 .mail-m{
        width: 90%;
        display: block;
        text-align: right;
    }
    .block1 .mail-m select{
        width: 28%;
        margin-top: 1%;
        margin-right: 2%;
    }
    .block2 .leftbox{
        width: 25%;
    }
    .block .program{
        flex-direction: column;
        gap:10%;
    }
    .block .leftbox{
        margin-bottom: 1%;
    }
    .block1 select{
        width: 25%;
    }
    .block1 input{
        width: 25%;
    }
    .block4 .margin{
        flex-direction: column;
    }
    .colunm .flex label{
        width: 25%;
    }
    .block4 select{
        width: 30%;
    }
    .block5 label{
        width: 20%;
    }
    .block5 select{
        width: 25%;
    }
    .block6 .file{
        width: 20%;
    }
    .block7 #permit{
        width: 18px;
        height: 18px;
    }
    .block7 div{
        font-size: 18px;
    }
    .block7 button{
        font-size: 20px;
        height: 40px;
        line-height: 30px;
    }
    .block8{
        font-size: 14px;
    }
    .block6 .file{
        background-size: 20px;
    }
    .alert{
        width: 50%;
    }
}
@media(max-width:500px){
    .block6 label{
        margin-left: 0;
    }
    .alert button{
        font-size: 13px;
        width: 25%;
    }
    .alert{
        width: 70%;
    }
    .block1 label{
        width: 35%;
        font-size: 13px;
    }
    .block1 select{
        width: 45%;
        font-size: 12px;
    }
    .block1 input{
        width: 45%;
    }
    .mail-flex{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 45%;
        margin: 0 auto;
    }
    .mail-flex input{
        width: 100%;
    }
    .block1 .flexbox{
        display: flex;
    }
    .block1 .mail-m{
        width: 20%;
        align-self: self-end;
    }
    .block1 .mail-m select{
        width: 80%;
    }
    .block1 .mail{
        justify-content:space-between
    }
    .block1 .mail-m span{
        display: none;
    }
    .block1 .flexbox{
        margin-bottom: 1%;
    }
    .block7 div{
        font-size: 16px;
    }
    .block7 #permit{
        width: 16px;height: 16px;
    }
    .block{
        width: 100%;
    }
    .block4 .program .rightbox label{
        width: 50%;
    }
    .block4 select{
        width: 45%;
        font-size: 13px;
    }
    .block5 select{
        width: 35%;
        font-size: 13px;
    }
    .block6 .file{
       height: 28px;
        width: 28%;
    }
    .block7 button{
        font-size: 15px;
        width: 25%;
    }
    .block1 span{
        font-size: 13px;
    }
    
    .block1 .flex span{
        font-size: 15px;
    }
    .block1 input{
        font-size: 13px;
    }
    .block2 .margin{
        font-size: 13px;
    }
    .block2 .leftbox{
        width: 60% !important;
    }
    .block2 .rightbox span{
        font-size: 13px;
    }
    .block .leftbox{
        width: 30%;
    }
    .block3 .program{
        font-size: 13px;
    }
    .block4 .margin{
        font-size: 13px;
    }
    .block5 label{
        width: 35%;
        font-size: 13px;
    }
    .block6 label{
        padding: 3px 5px;
    }
    .toparea{
        padding-top: 30%;
    }
    .btns label{
        margin-left: 0;
       
    }
    .btns #r_cancel{
        margin-top: 10px;
    }
}
@media(max-width:320px){
    .block4 select{
        width: 55%;
    }
    .block5 select{
        width: 45%;
    }
}

