@charset "utf-8";
@import url('./fonts.css');
@font-face {
    font-family: 'GyeonggiTitleM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiTitleM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{ 
    font-family: 'thin';
    src:url(./fonts/Sacramento-Regular.ttf);
}
@font-face {
    font-family: 'GyeonggiBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.guide_map img{
	display: block;
	width: 100%;
}
.guide{
	width: 95%;
	margin: 0 auto;
}
.tables{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 5%;
}
.table3{
	display: inline-block;
	width: 45%;
	margin-bottom: 3%;

}
.table4{
	width: 25%;
	display: inline-block;
	margin-bottom: 3%;
}
.table1{
	width: 35%;
	margin-bottom: 3%;
	display: inline-block;
}
.table1 .tg td, .table1 .tg th, .table1 .tg .tg-baqh, .table1 .tg .tg-c3ow{
	border-color: #622089;
}
.table2 .tg td, .table2 .tg th, .table2 .tg .tg-baqh, .table2 .tg .tg-c3ow{
	border-color: #8C1B46;
}
.gray .tg td, .gray .tg th, .gray .tg .tg-baqh, .gray .tg .tg-c3ow{
	border-color: #676768;
}

.table2{
	width: 45%;
	margin-bottom: 3%;
	display: inline-block;
}
.table5{
	width: 60%;
	margin-bottom: 3%;
	display: inline-block;
}

.table1 .table_cover{background-image: url('../images/common/table1.png');  background-size: cover; background-repeat: no-repeat; background-position: center;padding: 3%;} 
.table2 .table_cover{background-image: url('../images/common/table2.png');  background-size: cover; background-repeat: no-repeat; background-position: center;padding: 3%;}
.table3 .table_cover{background-image: url('../images/common/table3.png');  background-size: cover; background-repeat: no-repeat; background-position: center;padding: 3%;}
.table4 .table_cover{background-image: url('../images/common/table4.png');  background-size: cover; background-repeat: no-repeat; background-position: center;padding: 3%;}
.table5 .table_cover{
	background-image: url('../images/common/table4.png');  background-size: cover; background-repeat: no-repeat; background-position: center;padding: 3%;
}

.table6{
	width:15%;
	margin-bottom: 3%;
}
.table6 .table_cover{
	background-image: url('../images/common/table4.png');  background-size: cover; background-repeat: no-repeat; background-position: center;padding: 3%;
}

.reser_btn{
	width: 65%;
	margin: 0 auto;
	text-align: center;
	display: flex;
	justify-content: center;
	gap: 5%;
}
.reser_btn a{
	display: inline-block;
text-align: center;
	width: 15%;
	border: 1px solid #000;
	padding: 1% 0;
	font-weight: bold;
}

.size{
	margin-bottom: 3%;
}
.size h1{
	text-align: center;
	margin-bottom: 2%;
}
.size img{
	display: block;width: 95%;
	margin: 0 auto;
	margin-bottom: 3%;
}
.list01 {}
.list01 li {text-indent:-0.6em;  padding-left:1em;}
.list01 li::before {content:"- "; text-align:center;}
.list02 li::before {content:"# ";}

.list03 { text-align:left !important;}
.list03 li { font-size:1.15em; line-height:1.8em; color:#707070; margin-bottom:5px; padding-left:2.5em;}
.list03 li i { display:inline-block; width:1.5em; font-family: 'Cormorant', serif; font-size:1.5em; color:#000;  text-align:left; font-style:normal; margin-left:-1.5em;}
.list03 li strong { font-weight:400; color:#000;}

@media  (max-width: 1024px){
.list03 li { font-size:0.9em; line-height:1.5em; padding-left:3em;}
.list03 li i { width:1.4em;margin-left:-1.4em;}
}

.tab_nav {} 
.tab_nav:after {content:"";display:block;clear:both;}
.tab_nav li { float:left; display:inline; margin:0; }
.tab_nav li a { }
.tab_nav li.ui-tabs-active a {color:#6d83ac; font-weight:700;}

.conText { text-align:center; }
.conText dt { opacity:0; filter: alpha(opacity=0;); }
.conText > dd { margin-bottom:6%; opacity:0; filter: alpha(opacity=0;);}

.active .conText dt {opacity:1; filter: alpha(opacity=100;); transition: all 0.5s ease-in-out 0.5s;}
.active .conText dd {opacity:1; filter: alpha(opacity=100;); transition: all 0.8s ease-in-out 1.0s;}

.conTitle01 { font-size:1em; font-weight:400; margin-bottom:5em; }
.conTitle01_01 { display:inline-block; font-family:'Playfair Display', serif; font-size: 3.8em; line-height:1em; color:#be6f51; vertical-align:baseline; margin-right:0.1em;}
.conTitle01_02 {display:inline-block; font-size:1.9em; line-height:1.2em; font-weight:100; vertical-align:super;}

@media  (max-width: 1280px){
.conTitle01 { margin-bottom:5%;}
.conTitle01_01 { font-size: 2.4em; line-height:1.2em; margin-right:0.1em;}
.conTitle01_02 { font-size:1.4em; line-height:1em; vertical-align:baseline;}

}

@media  (max-width: 768px){
	.reser_btn{
		flex-direction: column;
		align-items: center;
	}
	.reser_btn a{
		width: 40%;
		margin-bottom: 10px;
	}
	.tables{
		flex-direction: column;
	}
	.table1,.table2,.table3,.table4,.table5,.table6{
		width: 100%;
		margin: 0 auto;
	}
	.table1{
		margin-bottom: 5%;
	}
	.tg td,.tg th{
		padding: 5px 3px;
		font-size: 12px;
	}
.conTitle01 { margin-bottom:5%;}
.conTitle01_01 { font-size: 1.6em;}
.conTitle01_02 { font-size:1.1em; }
.room01_01 {display: none !important;}
.roomCon06 {padding-top: 1.5% !important;}
.room_info dt .title01 .title01_01 {font-size: 2.5em !important; font-weight: 600 !important;}
}
.room_logo{
	width: 15%;
	margin: 0 auto;
	text-align: center;
	padding: 1% 0;
}
.room_logo img{
	width: 100%;
}
.content02 {
	width: 100%;
	background: url('/html/images/main/bg02.jpg');
}
.content02 .special {
	width: 100%;
	padding-bottom: 5%;
}
.content02 .special:after {
	display: block;
	content: '';
	clear: both;
}
.content02 .special > .left {
	float: left;
	width: 35%;
	text-align: right;
}
.content02 .special > .middle {
	float: left;
	width: 35%;
	text-align: center;
}
.content02 .special > .right {
	float: left;
	width: 30%;
	text-align: left;
}
.m_special .swiper-wrapper .swiper-slide img {
	display: block;
	width: 60%;
	margin: 0 auto;
}
.txt {
	padding: 80px 0;
	width: 100%;
	text-align: left;
}

.txt span {
	display: block;
	font-size: 16px;
	color: #cd8161;
	letter-spacing: 5px;
	text-align: center;
}

.txt h1 {
	line-height: 80px;
	font-size: 60px;
	color: #cd8161;
	letter-spacing: 3px;
	padding: 15px 0 30px;
	text-align: center;
}

.txt p {
	line-height: 25px;
	font-size: 16px;
	color: #636363;
	text-align: center;
}
/* about + epilogue */
.obj {position: absolute;}
.about01_01 > .obj_01 {
	top: 0; left: 0;
}
.about01_01 > .obj_02 {
	top: 0; right: 0;
}
.about01_01 > .obj_04 {
	bottom: 0; right: 0;
}
.about01_01 {
	position: relative;
	width: 100%;
	text-align: center;
}
.about01_01 .obj01 {
	top: 0;
	left: 0;
}
.about01_01 .obj02 {
	top: 0;
	right: -70px;
}
.about01_01 .obj03 {
	top: 13.5%;
	left: 8px;
}
.about01_01 .obj04 {
	top: 10.1%;
	right: 0;
}
.about01_01 .content01 {
	width: 100%;
	background: url('/html/images/main/bg01.jpg');
}
.about01_01 .content01 .img {
	width: 80%;
	margin: 0 auto;
}
.about01_01 .txt {
	padding: 80px 0 95px 0;
	width: 100%;
}
.about01_01 .txt span {
	display: block;
	font-size: 16px;
	color: #cd8161;
	letter-spacing: 5px;
}
.about01_01 .txt h1 {
	line-height: 80px;
	font-size: 60px;
	color: #cd8161;
	letter-spacing: 3px;
	padding: 15px 0 30px;
}
.about01_01 .txt p {
	line-height: 25px;
	font-size: 16px;
	color: #636363;
}
.about01_02 {
	width: 100%;
	height: 100%;
	padding: 30px;
	background: #d6967b;
}
.about01_02 > .typoWrap {
	position:relative;
	overflow:hidden;
	width: 100%;
	margin: 0 auto;
	z-index: 3;
}
.about01_02 > .typoCon {
	position:absolute;
	z-index: 2;
	left: 2%; bottom: 2%;
	font-size: 50px;
	line-height: 60px;
	color: #fff;
	font-weight: bold;
	opacity: 0.8;
	letter-spacing: 10px;
}
.about01_05 {
	width: 100%;
	background: url('/html/images/main/bg01.jpg');
}
.about01_05 .txt {
	padding: 80px 0 15px 0;
	width: 100%;
	text-align: center;
}
.about01_05 .txt span {
	display: block;
	font-size: 16px;
	color: #cd8161;
	letter-spacing: 5px;
}
.about01_05 .txt h1 {
	line-height: 80px;
	font-size: 60px;
	color: #cd8161;
	letter-spacing: 3px;
	padding: 15px 0 30px;
}
.map02_01 { position:absolute; width:40%; left:0; top:50%; padding-left:10%; transform: translateY(-50%); -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); z-index:1; }
.map02_02 { position:relative; float:right; width:60%; z-index:2;}

.mapFrame { position:relative; width:100%; height:40vw; overflow:hidden; }
.mapFrame iframe {position:absolute; width:100%; height:100%; left:50%; top:50%; transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%); border:0;}

@media  (max-width: 1024px){
.map02_01 { position:relative; width:100%; left:0; top:0; padding:5% 7%; transform:none; -ms-transform:none; -webkit-transform:none; z-index:1; }
.map02_02 { position:relative; float:none; width:100%; z-index:2;}

.active.map01_02 { margin-top:0;}
.mapAdd { padding:3% 0;}
.mapFrame { height:50vw;}
.mapFrame iframe { width:200%; height:200%;}

.reser01_01 .img_bg, .reserCon02 .img_bg, .map01 .img_bg, .map03 .img_bg { padding-bottom:30%;}
.reserCon04 .img_bg, .map05 .img_bg {padding-bottom:40%;}

}

@media  (max-width: 768px){
	.room_logo{
		width: 35%;
	}
.reser01_02, .map01_02 { width:100%; margin-top:5%;}
.mapFrame { height:60vw;}
.map02_01, .map04 { padding:8% 5%;}
}

@media  (max-width: 420px){
.mapFrame { height:80vw;}
}

@media (max-width: 800px) {

	.txt {

		padding: 25px 0;
		width: 80%;
		margin: 0 auto;
	}

	.txt span {
		display: block;
		font-size: 12px;
		color: #cd8161;
		letter-spacing: 5px;
	}

	.txt h1 {
		line-height: 33px;
		font-size: 30px;
		color: #cd8161;
		letter-spacing: 0px;
		padding: 10px 0 15px;
	}

	.txt p {
		line-height: 20px;
		font-size: 12px;
		color: #636363;
	}

	.content02 .special > .left {
		float: left;
		width: 50%;
		text-align: right;
		padding: 0 5px 0 10px;
		box-sizing: border-box;
	}

	.content02 .special > .middle {
		float: left;
		width: 50%;
		text-align: center;
		padding: 0 10px 0 5px;
		box-sizing: border-box;
	}

	.content02 .special > .right {
		float: left;
		display: none;
		width: 35%;
		text-align: left;
	}

	.block800 { display: block !important;}
	.about01_01 .content01 .img {
		width: 90%;
	}
	.about01_01 .txt {
		padding: 25px 0;
		width: 80%;
		margin: 0 auto;
	}
	.about01_01 .txt span {
		display: block;
		font-size: 12px;
		color: #cd8161;
		letter-spacing: 5px;
	}
	.about01_01 .txt h1 {
		line-height: 33px;
		font-size: 30px;
		color: #cd8161;
		letter-spacing: 0px;
		padding: 10px 0 15px;
	}
	.about01_01 .txt p {
		line-height: 20px;
		font-size: 12px;
		color: #636363;
	}
	.about01_02 {
		padding: 10px;
	}
	.about01_02 > .typoCon {
		font-size: 18px;
		font-weight: bold;
		line-height: 23px;
		letter-spacing: 3px;
	}
	
	.about01_05 .txt {
		padding: 25px 0;
		width: 80%;
		margin: 0 auto;
	}
	.about01_05 .txt span {
		display: block;
		font-size: 12px;
		color: #cd8161;
		letter-spacing: 5px;
	}
	.about01_05 .txt h1 {
		line-height: 33px;
		font-size: 30px;
		color: #cd8161;
		letter-spacing: 0px;
		padding: 10px 0 5px;
	}
}


.epil01 { position:relative; z-index:3;}
.epil01_01, .epil01_02 { float:left; width:50%;}
.epil01 > .aboutLogo { width: 100%; text-align: center;}
.epil01 > .aboutLogo img { margin: 0 auto; display: block;}
.active.epil01_02_text { padding-top:27%;}
@media  (max-width: 1900px){ .epil01_02_text {font-size:2.5vw;} }
@media  (max-width: 1024px){ 
	.epil01 .aboutLogo img { width: 40%; }
	.epil01_02_text {font-size:3.6vw; padding:35% 0 23%;} 
	.active.epil01_02_text { padding-top:25%;}
}

.epil02 { }
.epil02_01 { position:relative; /*width:60%; margin-left:40%;*/ width: 100%; z-index:5;}
.epil02_01_video { position:relative; padding-bottom:56.25%;}
.epil02_01_video iframe { position:absolute; width:100%; height:100%; left:0; top:0;}
.epil02_02 { position:absolute; width:40%; height:100%; z-index:6; left:0; top:0;}
.epil02_02_text { position:absolute; width:100%; text-align:center; left:50%; top:80%; transform: translate(-50%,-50%); -ms-transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); }
.epil02_02_text p { display:inline-block; text-align:left;}
.active.epil02_02_text { top:50%;}
/*.epil02_02 { position:absolute; left:20%; top:0; ;}*/
.baum_typo {-webkit-writing-mode: vertical-rl; -ms-writing-mode: tb-rl; writing-mode: vertical-rl; font-family: 'Quicksand', sans-serif; font-size:1.07em; line-height:1em; font-weight:700; text-transform:uppercase; letter-spacing:0.3em}
	.color01 {color:#005e32}
	.color02 {color:#5cbbd0}
	.color03 {color:#d035c0}

.epil02_0301 {
	display: table-cell;
	/* width: 50%; */
	width: 60%;
}
.epil02_0302 {
	position: relative;
	display: table-cell;
	width: 40%;
	padding-left: 5%;
	vertical-align: middle;
}
.epil02_0302 .img05_01 {
	position: absolute;
	top: 10%;
	right: 10%;
}
.epil02_0302 .img05_02 {
    position: absolute;
    bottom: 3%;
    left: 5%;
}
@media  (max-width: 1480px){ .baum_typo { font-size:1em;} }
@media  (max-width: 1024px){ .baum_typo { font-size:1.5vw;} }
.epil02_03 { position:relative; display:table; width:100%;z-index:4; }
.epil02_0301 { display:table-cell; /*width:50%;*/ width: 60%;}
.epil02_0302 { display:table-cell; /*width:50%;*/width: 40%; /*padding:0 5% 10%;*/ padding-left: 5%; vertical-align:middle; /*text-align:center;*/}
.epil02_04 { position:relative; /*z-index:3;*/ width: 100%; text-align: center; margin: 2% 0;}
.epil02_04 a > .img07 { position: relative; display: block; max-width: 100%; margin: 0 auto; opacity: 0.3; cursor: pointer;}
.epil02_04 .reserveTitle { position: absolute; top: 31%; left: 50%; transform: translate(-50%, -50%); font-family: 'GyeonggiTitleM'; text-align: center; }
.epil02_04 .reserveTitle > h2 { color: #797878; font-size: 2.1em; letter-spacing: 5px;}
.epil02_04 .reserveTitle > h1 { color: #424242; font-size: 2.5em; letter-spacing: 5px; margin-top: 10%;}
.epil02_04 a > .btn { position: absolute; display: block; z-index: 5; top: 55%; left: 50%; transform: translate(-50%,-50%); cursor: pointer;}
/*.epil02_bg { position:absolute; width:100%; height:55%; background:#f0f1f5; left:0; top:20%; z-index:-1;}*/

@media  (max-width: 1280px){
}

@media  (max-width: 1024px){
.epil02_01 { /*width:90%; margin-left:10%;*/}
.epil02_02 { position:relative; width:100%; height:50vw; padding:5% 0; z-index:6;}
.epil02_02_text { position:relative;}
.epil02_04 .reserveTitle > h2 {
    font-size: 1.2em;
    letter-spacing: 3px;
}
.epil02_04 .reserveTitle > h1 {
    font-size: 1.6em;
    letter-spacing: 4px;
    margin-top: 2%;
}
.epil02_04 a > .btn {
    position: absolute;
    display: block;
    z-index: 5;
    top: 35%;
    left: 0 !important;
    right: 0 !important;
    margin: 0 auto;
    cursor: pointer;
    transform: scale(0.6) !important;
}
}

@media  (max-width: 768px){

.epil02_03 { position:relative; }
.epil02_0301 { display:block; /*width:90%;*/ width: 100%;}
.epil02_0302 { display:block; width:100%; /* padding:5% 5% 10%; text-align:left;*/ padding: 5%; text-align: center;}
.con_text01 dd .mb { text-align: center; }
.epil02_bg { height:80%;top:10%;}

}

@media  (max-width: 420px){

}

/* room */
.room_rprice table .ss, .room_rprice table .rprice {
	background: #fff !important;
}
.week_date p {
	color:#b1694c;
	font-weight: bolder;
}
.roomCon01 { overflow:hidden; background: #f8e9e4;}
.room01_01 { float:left; width:50%;}
.room01_01 .img01 img {vertical-align: top; max-width: 100%; width: 100%;}
.room01_02 { float:left; width:50%;}
.room_info { width:70%; max-width:620px;margin:20% auto 4%;}
.active.room_info { margin: 12% auto 0 auto; }
.room_info dt > p { text-align: center; font-family: 'GyeonggiBatang'; font-weight: bold;}
.room_info dt .title01 {position:relative; text-align: center; }
.room_info dt .title01 .title01_01 { display:block; font-size:60px; line-height:1.2em; color:#fff; font-weight: bolder;}
.room_info dt .title01 .title01_02 { display:block; font-size:1.8em; line-height:1.2em; margin-bottom:0.8em; color: #b1694c; font-weight: bolder;}
.room_info dd { font-size:1.1em; line-height:1.7em;}

.room_fa { /*padding:12% 0 20% 16%;*/ padding:5% 0 0 16%; text-align: center; text-transform:uppercase; letter-spacing:0.05em;}
.room_fa dt {/*font-family: 'Quicksand', sans-serif; */ font-weight:500; font-size:1.6em; line-height:1.8em; margin-bottom:0.3em; }
.room_fa dd {/*font-family: 'Quicksand', sans-serif;*/ font-weight:500;}
.room_fa dd .list01 li {/*font-family: 'Quicksand', sans-serif;*/font-weight:500; font-size:1.15em; line-height:1.8em; }
.room_fa .room_info_table, .room_items {margin-bottom: 5%;}

.roomCon02 {
	width: 100%;
	text-align: center;
	padding: 20px 0;
}

.roomCon03 { width: 100%;}

.roomCon04 { display:table; width:100%; }
.room04_01 {display:table-cell; width:50%;}
.room04_02 {display:table-cell; width:50%;}

.room_contents_info {color: #343434;}
.room_contents_info { width: auto; height: auto; margin-right: 15%;}
.room_contents_info img { width: 40px; vertical-align: -webkit-baseline-middle; margin-right: 10px; }
.room_contents_info .room_item_tit { display: block; }
.room_contents_info .room_item_tit > span { letter-spacing: -0.5px; color: #000 !important;}
.room_contents_info .rec {display: inline-block; width: 7px; height: 7px; background: #7aabad; margin: 0 5px;}
.room_item_tit { font-size: 14.5px; font-weight: bold; margin: 10px 0 ;}
.room_item_tit > span { vertical-align: -webkit-baseline-middle; }

.room_limit_table table { width: 100%; border-collapse: 0;border-spacing: 0;border-spacing: 0; border-collapse: 0; text-align: center;  }
.room_limit_table th { padding: 5px 0; border-top: 0.1px solid #e6e6e6; background: #fafafa; }
.room_limit_table td { padding: 10px 0; border-top: 0.1px solid #e6e6e6; border-bottom: 0.1px solid #e6e6e6;}
.room_limit_table { letter-spacing: -0.5px;}
.room_info_text div:first-child .room_item_desc { font-weight: normal;  }

@media  (max-width: 1420px){ 
	.room04_01 { font-size:1vw;}
}
@media  (max-width: 1280px){
	.room_info {font-size:0.9em;}
	.room_fa { font-size:0.95em;}
}
@media  (max-width: 1024px){ 
	.room_info { width:80%; font-size:0.85em; margin:12% auto 4%;}
	.room_info dt .title01 .title01_01 { font-size:3.6em;}
	.room_fa {
		font-size:0.9em;
		padding: 0;
		margin: 30px auto;
		width: 90%;
	}
	.room_contents_info {
		margin: 0 auto;
	}
}
@media  (max-width: 768px){ 
	.none768 {display: none;}
	.room01_01, .room01_02 { float:none; display:block; width:100%;}
	.room_info { width:80%; font-size:0.85em; margin:10% auto;}
	.room_info dd { font-size:1.3em; line-height:1.6em;}
	.room_fa {font-size:1.05em;}
	.week_date p {font-size: 13px !important;}
	.room_limit_table, .room_item_desc {font-size: 13px;}
	.roomCon02 {display: none;}
}

@media  (max-width: 500px){ 
	.room_info { width:84%;}
	.room_info dt .title01 .title01_01 {
		font-size: 3em !important;
		margin-bottom: 15px;
	}
}


/* roomPre */
.topArea_pre .lSSlideOuter { position:unset !important;}
.room_pre { position:relative; float:left; /*width:50%;*/ width: 100%;}
.pre_title { position:absolute; width:60%; left:50%; bottom:15%; transform: translateX(-50%); -ms-transform: translateX(-50%); -webkit-transform: translateX(-50%); opacity:0; color:#252525; text-shadow:1px 1px 2px rgba(0, 0, 0, 0.2); z-index:5;}
.room_pre01 .pre_title { text-align:right;}
.pre_title01 {font-family: 'Quicksand', sans-serif; font-size:1.07em; line-height:1.6em; letter-spacing:0.5em; text-transform:uppercase; font-weight:700;}
.pre_title02 { display:inline-block;font-family: 'Lora', serif; font-size:3.8em; line-height:1.2em; text-transform:uppercase; border-bottom:2px solid #262626; margin:2% 0 5%; }
.pre_title03 { font-size:1.15em; line-height:1.6em; margin-bottom:10%;}
.pre_btn { margin-bottom: 5px; }
.pre_btn { display:inline-block; font-family: 'Quicksand', sans-serif; font-size:1.17em; line-height:1.2em; letter-spacing:0.2em; color:#262626; font-weight:700; background:rgba(255, 255, 255, 0.0); border:1px solid #262626; padding:4% 10%; -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); -moz-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); -ms-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); -o-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);}
.pre_btn:hover { background:rgba(0, 0, 0, 0.2); }

/*.room_pre .lSSlideOuter .lSPager.lSpg { width:60.4%; left:19.4%; bottom:48%; text-align:left; opacity:0;}
.room_pre01 .lSSlideOuter .lSPager.lSpg { text-align:right;}
.room_pre .lSSlideWrapper { opacity:0.55; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}
.room_pre:hover .lSSlideWrapper { opacity:1; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out;}

.active .pre_title, .active .room_pre .lSSlideOuter .lSPager.lSpg { opacity:1; -webkit-transition: opacity 2s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 2s cubic-bezier(0.645, 0.045, 0.355, 1); transition: opacity 2s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 2s cubic-bezier(0.645, 0.045, 0.355, 1); -o-transition: opacity 2s cubic-bezier(0.645, 0.045, 0.355, 1), transform 2s cubic-bezier(0.645, 0.045, 0.355, 1); transition: opacity 2s cubic-bezier(0.645, 0.045, 0.355, 1), transform 2s cubic-bezier(0.645, 0.045, 0.355, 1); transition: opacity 2s cubic-bezier(0.645, 0.045, 0.355, 1), transform 2s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 2s cubic-bezier(0.645, 0.045, 0.355, 1); transition-delay:1s;}
*/
.mainRoom { position:relative; text-align:center;}
.mainRoom dt { padding: 55px 0 45px 0; background:#fff;  }
.mainRoom dt > span { display:block;}
.mainRoom_t01 { position:relative; margin-bottom:24px;}
.mainRoom_t0101 {font-family: 'GyeonggiBatang'; text-transform: uppercase; font-size: 7em; line-height:0.8em; color:#f5f5f5; letter-spacing:0.05em;}
.mainRoom_t0102 {position:absolute; left:50%; top:50%; text-align:center; font-size: 2em; 
  font-family: 'GyeonggiBatang';
  font-weight: 700;
  line-height:1.6em; transform: translate(-50%,-50%); -ms-transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); z-index:2;}
.mainRoom_t02 {
  color: #a8a8a8;
  font-size: 20px;
  line-height: 1.5em;
  font-family: 'GyeonggiTitleM';
}
.mainRoom ul {
  display: flex;
}
.roomList01 { 
  position:relative; 
  overflow:hidden;
  width: 25%;
  transition: 0.3s all !important;
}
.roomList01 a img {
  display: block;
  width: 100%;
}
.room_img {
  height: 936px;
}
.room_img01 {
  background: url('/html/images/room/roomList01.jpg')no-repeat center center;
}
.room_img02 {
  background: url('/html/images/room/roomList02.jpg')no-repeat center center;
}
.room_img03 {
  background: url('/html/images/room/roomList03.jpg')no-repeat center center;
}
.room_img04 {
  background: url('/html/images/room/roomList04.jpg')no-repeat center center;
}
.room_txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  transition: 0.4s all;
}
.R_bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.6);
	transition: 0.3s all;
}
.R_title span {
font-size: 24px;
line-height: 42px;
text-transform: uppercase;
position: relative;
padding-top: 25px;
display: block;
text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}
.room_txt p {
/* display: none; */
position: relative;
padding-top:  65px;
font-size: 13px;
line-height: 1.4em;
letter-spacing: 2px;
}
/* .room_txt p::Before {
display: block;
content:""; 
position:  absolute;
width: 80%;
height: 1px;
background: #fff;
top:30px;
left: 50%;
transform: translate(-50%, -50%);
} */
.room_more {
background: url('/html/images/room/more_B.png')no-repeat center center;
width: 86px;
height: 54px;
margin: 30px auto;
transition: 0.4s all;
}
  

@media  (max-width: 1820px){
.mainRoom_t0101 { font-size:5.6vw;}
}

@media  (max-width: 1480px){
.roomList01 .title { font-size:0.9em;}
}

@media (max-width: 1024px){
.mainLogo { width:30%;}
.main01_02 .btn_scroll { display:none;}
.mainRoom_t0101 { font-size:7.6vw;}
.mainRoom_t0102 { font-size:1.2em;}
.mainRoom_t02 { font-size:0.85em; line-height:1.5em;}
.roomList_img {padding-bottom:36%;}
.roomList01 .title { font-size:1vw;}
.roomList01 .title .title_e {font-size:3.4em; }
.roomList01 .title .title_k {font-size:2.4em;margin-bottom:10%;}
.roomList01 .title .title_btn p { font-size:2.5em; line-height:1em;}
.mainRoom ul {display: block;}
.mainRoom ul:after {display: block; content: ""; clear: both;}
.roomList01 {
	float: left;
	width: 50%;
}
.room_img {
	height: 350px;
	background-size: cover;
}
}
@media  (max-width: 768px){
.main_concept .bx-controls { left:5%;}
.main_concept .bx-pager { width:30%; left:5%}
.main_concept .bx-pager .bx-pager-item { margin-bottom:10%;}
.main_concept .bx-pager .bx-pager-item .bx-pager-link { font-size:1em;letter-spacing:0;}
.main_concept .bx-pager .bx-pager-item .bx-pager-link.active:after { width:45%;}
} 

@media  (max-width: 640px){
.main01_0302 {display:none;}
.roomList01 .title { font-size:1.5vw;}
.roomList01 .title .title_k {margin-bottom:3%;}
.roomList01 .title .title_btn p { display:none;}
.roomList01 .title .title_btn .btn_arrow { vertical-align:top; }
} 
@media (max-width:560px){
	.main01_01 .typo02_01 {font-size: 0.9em; top: 40px;}
	.main01_01 .typo02_02 {}
	.boxT02_03 {
	width: 100%;
	bottom: -30px;
	} 
	.typo02_03 {
	font-size: 0.9em;
	margin-bottom: 5px;
	}
	.typo02_03::before {
	display: none;
	}
	.typo02_04 {
	font-size: 0.9em;
	}
	.img02_02 p {
	font-size: 1em;
	}
	.R_title span {
		font-size: 1.2em;
		line-height: 25px; 
		padding-top: 43px;
	}
	.room_more {
	background-size: contain;
	width: 75px;
	height: 40px;
	margin: 15px auto;
	}
	.roomList01 a:hover .room_more {
	background-size: contain;
	width: 75px;
	height: 40px;
	margin: 15px auto;
	}
}
@media  (max-width: 420px){
	.main01_01 .typo02_01 {
	font-size: 0.75em;
	}
	.typo02_03, .typo02_04 {
	font-size: 0.75em;
	}
	.main_concept .bx-pager { width:24%; left:3%}
	.main_concept .bx-pager .bx-pager-item .bx-pager-link.active:after { width:40%;}
}
.roomPre01_01 { width:33%; max-width:320px; min-width:150px; vertical-align:top;}

.preTypo { position:absolute; width:60%; display:inline-block; text-align:center; left:50%; top:50%; transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%); padding-top:10%;}
.active.preTypo {padding-top:0;  -webkit-transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 1s cubic-bezier(0.645, 0.045, 0.355, 1); transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 1s cubic-bezier(0.645, 0.045, 0.355, 1); -o-transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1), transform 1s cubic-bezier(0.645, 0.045, 0.355, 1); transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1), transform 1s cubic-bezier(0.645, 0.045, 0.355, 1); transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1), transform 1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 1s cubic-bezier(0.645, 0.045, 0.355, 1);}
.preTypo dt {font-size:2.6em; line-height:1.25em; margin-bottom:0.5em; text-align: center;}

.preTypo dt > h1 { position: relative;}
.preTypo dt > h1 img { vertical-align: top; max-width: 100%;}
.preTypo dt > p { position: absolute; display: block; width: 100%; left: 50%; top: 30%; font-size: 28px; font-weight: 700; transform: translate(-50%,-50%); font-family: 'GyeonggiBatang'; letter-spacing: 5px;}

.preTypo dd {font-size:1.07em; line-height:1.8em; text-align: center;}
.preTypo01 { display:inline-block; text-align:left;}
.preTypo01:after {content:"";display:block;clear:both;}
.preTypo01 dt { float:left; margin-right:1.5em;}
.preTypo01 dd { float:left; margin-top:0.5em; }

.preTypo02 { display:inline-block; text-align:left;}
.preTypo02 dt { margin-bottom:1em;}

.roompre01_01 .splist {
	position: relative;
	width: 100%;
	height: 300px;
	background-size: cover;
	margin-bottom: 5px;
}
.roompre01_01 .splist01 {background: url('/html/images/room/sp01.jpg') no-repeat center 30%;}
.roompre01_01 .splist02 {background: url('/html/images/room/sp02.jpg') no-repeat center 75%;}
.roompre01_01 .splist03 {background: url('/html/images/room/sp03.jpg') no-repeat center 20%;}
.roompre01_01 .splist > .splist_bg {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 3;
	background: #000;
	opacity: 0;
	top: 0; left: 0;
	transition: all 0.5s;
}
.roompre01_01 .splist > .splist_title {
	position: absolute;
	left: 50%; top: 55%;
	transform: translate(-50%,-50%);
	color: #fff;
	text-align: center;
	z-index: 4;
	vertical-align: middle;
	font-weight: bold;
	transition: all 0.3s;
}
.roompre01_01 .splist > .splist_title h1 {
	font-size: 22px;
}
.roompre01_01 .splist > .splist_title p {
	font-size: 18px;
	line-height: 30px;
}
.roompre01_01 .splist .hover {
	opacity: 0;
	z-index: 5;
	transition: all 0.5s;
}
.roompre01_01 .splist .hover01 {
	position: absolute;
	left: 50%; top: 53%;
	color: #fff;
	transform: translate(-50%,-50%);
	font-size: 14px;
	font-weight: bold;
}
.roompre01_01 .splist .hover02 {
	position: absolute;
	right: 1.5%; bottom: 5%;
	color: #fff;
	font-size: 14px;
	font-weight: bolder;
	text-align: right;
	font-size: 18px;
}
.splist:hover .splist_bg{
	opacity: 0.5;
}
.splist:hover .splist_title{
	opacity: 0;
}
.splist:hover .hover{
	opacity: 1;
}
.roompre01_03 {
    display: table;
    width: 100%;
    position: relative;
}
.roompre01_03 .left {
    width: 50%;
    display: table-cell;
	overflow: hidden;
}
.roompre01_03 .right {
    display: table-cell;
    width: 50%;
	overflow: hidden;
}
@media (max-width:800px) {
	.roompre01_01 .splist {
		height: 200px;
	}
}

.roomPreLogo { width: 100%; text-align: center; }
.roomPreLogo img { display: block; margin: 0 auto; max-width: 100%; height: auto !important; }

.roomPre15 { position: relative; width: 100%; text-align: center; }
.roomPre15 img { display: block; margin: 0 auto; max-width: 100%; height: auto !important; }
.roomPre15 h1 { position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); font-size: 3em; color: #fff; letter-spacing: 0.4em; text-transform: uppercase;}

@media  (max-width: 1480px){ 
.room_pre .lSSlideOuter .lSPager.lSpg { bottom:50%;}
}
@media  (max-width: 1280px){ 
.pre_title01 {font-size:1em; letter-spacing:0.4em; }
.pre_title02 { font-size:3.0em; line-height:1.2em; margin:2% 0 5%; }
.pre_title03 { font-size:0.9em; line-height:1.6em; margin-bottom:10%;}
.pre_btn { font-size:1em; line-height:1.2em; letter-spacing:0.2em; padding:4% 10%;}

.preTypo { width:70%;}
.preTypo dt {font-size:2em;}
.preTypo dd {font-size:1em; line-height:1.6em;}

}

@media  (max-width: 1024px){
.room_pre .lSSlideOuter .lSPager.lSpg, .pre_title03 {display:none;}
.pre_title { width:70%; bottom:5%;}

.preTypo { width:75%;}
.preTypo dt {font-size:1.6em;}
.preTypo dd {font-size:0.9em;}

.roomPre04_02 { width:65%; margin-left:35%;}

.roomPre14 {margin-top: 0;}
.roomPreLogo img { width: 40% }
.roomPre15 h1 { font-size: 1.2em; letter-spacing: 0.4em; width: 100%;}

}

@media  (max-width: 768px){

.pre_title01 {font-size:1.7vw; letter-spacing:0.4em; }
.pre_title02 { font-size:4.5vw; line-height:1.2em; margin:2% 0 8%; border-bottom:1px solid #fff; }
.pre_btn { font-size:2.4vw; line-height:1.2em; letter-spacing:0.2em; padding:8% 14%;}

.preTypo dt {font-size:1.4em;}
.preTypo dd {font-size:1em; line-height:1.5em;}
.preTypo01 dt { float:none; margin-right:0;  margin-bottom:1em;}
.preTypo01 dd { float:none; margin-top:0; }

.roomPre02_01 { padding:0 5%; margin-bottom:5%; text-align:left;}
.roomPre02_02 { width:60%; margin-left:35%;}
.roomPre02_03 { width:42%; margin:-18% 0 0 5%; z-index:2;}
.roomPre03 { width:100%; margin-bottom:10%;}
.roomPre04 { width:95%; margin-left:5%; margin-bottom:10%;}

.roomPre13 { margin-top:0;}
.roomPre12_02 {padding-bottom:40%; }
.roomPre13_02 { padding-bottom:40%; }
.roomPre14_02 {padding-bottom:40%;  }
}
@media  (max-width: 670px){
	.preTypo dt > h1 img { width: 50px; }
	.preTypo dt > p { top: 25%; font-size: 15px; letter-spacing: 0px; }
}
@media  (max-width: 560px){ 
	.room_pre_box > h2 { font-size: 20px; }

}

@media  (max-width: 420px){
.preTypo { width:80%;}
.preTypo dt {font-size:1em; line-height:1.15em; }
.preTypo dd {font-size:0.7em; line-height:1.35em; letter-spacing:-0.1em;}
}

.topArea01 h1{
	position: absolute;
	top: 50%;left: 50%;
	transform: translate(-50%,-50%);
	z-index: 9999;
	text-align: center;
	font-family: 'GyeonggiTitleM';
	color: #fff;
	font-size: 46px;
	font-weight: bold;
	line-height: 40px;
} 
.topArea01 h1 span{
	font-size: 32px;
	font-family: 'thin';
}

/* special */
.spCon01 {
	width: 100%;
}
.spCon02 {
	width: 100%;
	overflow: hidden;
}
.spCon02 .txtBox {
	float: right;
	width: 50%;
	box-sizing: border-box;
	padding: 8% 3% 15% 9%;
}
.spCon02 .txtBox .title_eng {
	font-size: 60px;
	font-weight: bolder;
	color: #cd8161;
	letter-spacing: 8px;
	margin-bottom: 10%;
}
.spCon02 .txtBox .title_kor {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 5%;
}
.spCon02 .txtBox dd {
	font-size: 16px;
	margin-bottom: 10%;
	padding: 5% 0;
	word-break: keep-all;
}
.spCon03 {
	display: table;
	width: 100%;
	position: relative;
}
.spCon03:after {
	display: block;
	content: '';
	clear: both;
}
.spCon03 > .left{
	width: 50%;
	display: table-cell;
}
.spCon03 > .right{
	width: 50%;
	display: table-cell;
}
.spCon04 {
	display: table;
	width: 100%;
	position: relative;
}
.spCon04:after {
	display: block;
	content: '';
	clear: both;
}
.spCon04 > .left{
	width: 50%;
	display: table-cell;
}
.spCon04 > .right{
	position: relative;
	display: table-cell;
	width: 50%;
}
.spCon04 > .right > .logo_image img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
@media (max-width: 800px) {
	.topArea01 h1{
		font-size: 32px;
	}
	.topArea01 h1 span{
		font-size: 24px;
	}
	.none800 { display: none !important; }
	.spCon02 .txtBox {
		width: 100%;
		padding: 17% 10% 5% 10%;
	}
	.spCon02 .txtBox .title_eng {
		font-size: 35px;
		font-weight: bolder;
		color: #cd8161;
		letter-spacing: 1px;
		margin-bottom: 10%;
	}
	.spCon04 > .right > .logo_image img {
		width: 80%;
	}
}
@media (max-width: 500px){
	.topArea01 h1{
		font-size: 24px;
	}
	.topArea01 h1 span{
		font-size: 18px;
	}
}
/*
.spCon01 { margin-bottom:0;} 
.spCon02 { margin-bottom:0;}
.sp02_00 { position:relative; z-index:2;}
.sp02_01 { position:relative; width:72%; left: 28%;}
.sp02_02 { position:absolute; width:28%; height:830px; left:0; top:0; }
.sp02_02 > div {
	overflow: hidden;
}
.sp02_0201 {
	position: absolute;
	right: 5%;
	top: 25%;
	left: unset;
}
.active.sp02_0201 { margin-top:0;}
.sp02_0201 li {
	line-height: 1.7;
	font-size: 20px;
	font-weight: 600;
	color: #0a2545;
	text-align: right;
	font-family: 'GyeonggiBatang';
}
.sp_line {
	display: block;
	background: #666464;
	position: absolute;
}
.sp_line:first-child {
	height: 990px;
	width: 1px;
	top: -81px;
	left: 50%;
	transform: rotate(327deg);
}
.sp_line:nth-child(2) {
	width: 100%;
	height: 1px;
	top: 50%;
}
.sp02_0202 { position:absolute; left:6%; bottom:10%; margin-bottom:-10%;}
.active.sp02_0202 { margin-bottom:0;}
.sp02_00 dt {
	padding: 55px 0 45px 80px;
	background: #fff;
}
.sp_t0101 {
	font-family: 'GyeonggiBatang';
	text-transform: uppercase;
	font-size: 7em;
	line-height: 0.8em;
	color: #f5f5f5;
	letter-spacing: 25px;
}
.sp_t0102 {
	position: absolute;
	left: -3%;
	top: -35px;
	text-align: center;
	font-size: 2em;
	font-family: 'GyeonggiBatang';
	font-weight: 700;
	letter-spacing: 3px;
	line-height: 1.6em;
	z-index: 2;
}
.sp_t02 {
	display: block;
	color: #a8a8a8;
	font-size: 18px;
	line-height: 1.5em;
	font-family: 'GyeonggiTitleM';
	margin-top: 10px;
}
.sp02_04 {
	text-align: center;
	   margin: 30px 0;
}
.sp02_04 h3 { 
	position: relative;
	font-size: 30px;
	font-family: 'GyeonggiBatang';
	line-height: 1.7;
	margin-bottom: 80px;
}
.sp02_04 h3::before {
	position: absolute;
	display: block;
	content: "";
	width: 1px;
	height: 23px;
	background: #4b4a4a;
	top: 111px;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}
.sp02_04 p {
	font-size: 16px;
	color: #888888;
	line-height: 2;
	letter-spacing: 1px;
}
.sp02_0202 dd { font-family:'Quicksand', sans-serif; font-size:0.9em; line-height:1.6em; font-weight:300;}
.sp02_03 { position:relative; z-index:1;}
.spCon03 {
	position: relative;
	display: block; 
	width: 100%;
	z-index: 2;
}
.sp03_01 {
	display: block;
	width: 50%;
	left: 0;
}
.sp03_02, .sp03_03 {
	width: 50% !important;
	position: absolute;
	right: 0;
	z-index: 10;
}
.sp03_02 {
	top: 0;
}
.sp03_03 {
	bottom: 0;
}
.linebox {z-index: 9 !important;}
.sp03_01_text { display:inline-block; text-align:left; margin:7% 0 0;}
.sp03_01_text dt { margin-bottom:8%;}
.sp03_01_text dt .spTypo01 { width:100%; max-width:480px; vertical-align:top;} 
.sp03_01_text dd { line-height:1.8em;}

@media  (max-width: 1280px){
.spCon00 .txtBox {
	padding-left: 10%;
	
}
.sp02_0202 dt {font-size:2.6vw; line-height:1.2em; margin-bottom:3%;}
.sp02_0202 dd {font-size:1vw; line-height:1.6em; font-weight:300;}

.sp03_01_text dd { font-size:0.9em; line-height:1.6em;}

}

@media  (max-width: 1024px){

.sp02_0201 {top:5%; }
.sp02_0202 {bottom:5%;}
.sp03_01_text dd { font-size:0.8em; line-height:1.5em;}

}

@media  (max-width: 768px){

.special .subTop01 { width:100%; margin: 0 auto;}
.textBox_01 {height: auto;}
.sp02_02 {
	height: 200px;
}
.sp02_0202 {bottom:2%;}
.sp02_0201 {
	top: unset;
    bottom: 12%;
}
.sp02_0201 li {
	font-size: 16px;
}
.sp02_00 dt {
	padding: 30px 0 20px 15px;
}
.sp_t0101 {
	font-size: 3em;
	letter-spacing: 10px;
}
.sp_t0102 {
	font-size: 0.9em;
	top: -1px;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	letter-spacing: 2px;
	line-height: 0;
	width: 100%;
}
.sp_t02 {font-size: 0.8em;}
.sp02_04 h3 {
	font-size: 1.5em;
	margin-bottom: 50px;
}
.sp02_04 h3::before {top: 90px;}
.sp02_04 p {
	font-size: 0.9em;
}
.sp03_01_text { width:180%; padding:30% 0 8% 8%;}
.sp03_01_text dt { width:90%; margin-bottom:3%;}
.sp03_01_text dt .spTypo01 { max-width:320px;}
.sp03_01_text dd { font-size:0.85em; line-height:1.5em; letter-spacing:-0.05em;}
}
@media (max-width: 500px) {
	.sp02_02 {
		height: 190px;
	}
	.sp02_0201 li {
		font-size: 0.8em;
	}
}*/

/* tour */
.tourContents { margin-top:5%}
.tourCon01{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto !important;
}
.tourCon01 .tourlist {
    margin-bottom: 5%;
    margin: 0 auto;
}
.tourCon01 .tourlist::after {
    content: "";
    display: block;
    clear: both;
}
.tourCon01 .tourlist img {
    vertical-align: top;
    width: 100%;
    max-width: 100%;
}
.tourCon01 .tourlist li {
    float: left;
    width: 50%;
    padding: 0 1.5em;
    margin: 0 auto;
    color: #4a3129;
}
.tourCon01 .tourlist dl {
    padding: 3% 0 6% 0;
}
.tourCon01 .tourlist dl dt {
    font-size: 1.3em;
    line-height: 1.5em;
    letter-spacing: -0.05em;
    font-weight: 200;
}
.tourCon01 .tourlist dl dt .line {
    display: block;
    width: 48px;
    height: 1px;
    background: #000;
    margin: 0.8em 0 0.5em 0;
}
.tourCon01 .tourlist dl dd {
	font-size: 1.1em;
	line-height: 1.5em;
}
.tourCon01 .tourlist .blank{
    width: 100%;
    display: block;
}
@media (max-width: 1580px) {
    .tourCon01 .tourlist li {
        padding: 0 0.5em;
    }
}
@media (max-width: 750px) {
    .tourCon01 .tourlist li {
        width: 100%;
        padding: 0 1.5em;
    }
    .tourCon01 .tourlist dl dt {
        font-size: 1em;
        line-height: 1.3em;
    }
    .tourCon01 .tourlist dl dd {
        font-size: 0.9em;
        line-height: 1.4em;
    }
}


.tourCon { position:relative; }
.tourCon:after {content:"";display:block;clear:both;}

.tourCon .tourImg { float:left; width:51.3%;}
.tourCon .tourImg img { width:100%; vertical-align:top;}
.tourCon .tourText { position:absolute; width:45%; left:55%; top:80%; padding:0%; opacity:0; filter: alpha(opacity=0;);  transform: translateY(-50%); -ms-transform:translateY(-50%); -webkit-transform:translateY(-50%); }
.tourText dt { font-size:1.25em; line-height:1.8em; font-weight:500; margin-bottom:3%;}
.tourText dt span {font-family: 'Roboto', sans-serif; letter-spacing:0.15em;}
.tourText dd { font-size:1.05em; line-height:1.8em;}
.tourText dd div { margin-bottom:2em;}

.tourCon02 .tourImg { float:right;}
.tourCon02 .tourText { left:0; text-align:right;}

@media  (min-width: 769px){
.tourCon .tourText {}
.active.tourText {opacity:1; filter: alpha(opacity=100;); top:50%; transition: all 0.6s ease-in-out 1.0s;}
}

@media  (max-width: 1480px){

.tourText dd { font-size:1em; line-height:1.7em;}



}

@media  (max-width: 1280px){

.tourText dd { font-size:0.95em; line-height:1.85em;}

}

@media  (max-width: 1024px){
.tourWrap { padding-top:2%;}
.tourCon { width:96%; margin:0 auto;}
.tourCon .tourImg { float:none; width:100%; padding:0;}
.tourCon .tourText { position:relative; float:none; width:100%; margin:0; left:auto; top:0; padding:0 2% 5%; transform:none; -ms-transform:none; -webkit-transform:none;}
.tourCon .tourText dt { margin-top:-1.8em; color:#fff; text-shadow:1px 1px rgba(0, 0, 0 ,0.5);}
.tourCon02 .tourText { text-align:left;}

}

@media  (max-width: 768px){
.tourCon .tourText { float:none; width:100%; margin:0; padding:0 3% 5%;}
.active.tourText {opacity:1; filter: alpha(opacity=100;); transition: all 0.3s ease-in-out 0.5s;}

.tourText dd { font-size:0.9em; line-height:1.6em; font-weight:300;}

}

/* reser */
.reserCon01 { }
.reser01_01 { }
.reser01_02 { padding:0; text-align:center; }
.reser01_02 .reser_dl { display:inline-block; width:90%; max-width:1140px; text-align:left;}

.reser01_01 .img_bg { padding-bottom:18.8%; background:url(../images/reser/img01_01.jpg);}
.reser02_01 .img_bg { padding-bottom:18.8%; background:url(../images/reser/img02_01.jpg);}
.reserCon02 .img_bg { padding-bottom:18.8%;background:url(../images/reser/img01_02.jpg);}
.reserCon04 .img_bg { padding-bottom:31%; background:url(../images/reser/img01_03.jpg);}

.reserCon03 { padding:5%; }
.reser03_01, .reser03_02 { position:relative; float:left; width:50%; }
.reser03_01:after { content:""; position:absolute; width:0.5px; height:0; background:rgba(0, 0, 0, 0); right:0; top:0;}
.active.reser03_01:after { height:100%;  background:rgba(0, 0, 0, 0.2); transition: all 1.5s cubic-bezier(0.694, 0, 0.335, 1) 2.2s;}
.reser03_02 { padding-left:3%;}
.reser03_02 .reser_dl > .txt p { font-size: 1em; line-height: 1.8em; text-indent: -0.6em; padding-left: 1.4em;}
.reser03_02 .reser_dl > .txt p::before { content: "- "; text-align: center; }

.table_div { width: 80%; }


.reser_dl { margin-left:8%;}
.active.reser_dl { margin-left:0;}
.reser_dl > dt { font-size:1.7em; line-height:1.6em; margin-bottom:1.5em; display: inline-block; padding: 5px; font-weight: bold;
	background: linear-gradient(120deg, rgba(255,211,182, 1), rgba(255,187,185,1) );
}
.dl_title {
	display: block;
	padding: 5px 10px;
    border: 1px solid #fff;
}
.map02_01 .reser_dl > dt { margin-bottom:0.5em;}
/* .reser_dl > dt .no { font-family: 'Vidaloka', serif; font-size:2em; color:#10acd1;} */
.reser_dl > dd {font-size:1.05em; line-height:1.8em; overflow:hidden;}

.reser_con {}
.reser_con > dt { font-size:1.1em; line-height:1.8em; text-indent:-0.6em; padding-left:1em; font-weight: bold; }
.reser_con > dt::before  {content:"+ "; text-align:center;}
.reser_con > dd { margin-bottom:2em;}
.reser_con > dd p { font-size:1em; line-height:1.8em; text-indent:-0.6em; padding-left:1.4em;}
.reser_con > dd p::before  {content:"- "; text-align:center;}

/* table */
/*.reserTable { width:100%;border-collapse:collapse; border-top:1px solid #ccc;}
.roomFa { margin:1em 0 3em;}
.reser01 .reserTable, .reser02 .reserTable { margin-bottom:20px;}
.roomReser { margin-bottom:10px;}
.reser_name {text-align:center;}
.reser_name .rTitle { font-size:1.35em; line-height:2em; font-weight:700;}
.reser_name .rCon {}
.reser_name .rCon p { font-size:1.1em; line-height:1.5em; margin-bottom:0.2em;}
.reserTable th, .reserTable td { padding:15px 2px; font-size:1em; line-height:1.5em; text-align:center; border-bottom:1px solid #ccc; font-weight:400;}
.reserTable th { background:#f9f9f9}
.reserTable .price01 { position:relative;}
.reserTable th[scope=col] { border-bottom:2px solid #333; }
.reserTable th[scope=rowgroup] { background:transparent;}
.reser .reserTable th[scope=rowgroup] { position:relative; display: table-cell; z-index:10; }
.reserTable tbody tr:hover { }
.reserTable td.type { text-align:left; padding-left:10px;}

.reserTable th.seasonBg {background:#f9f9f9;}
.roomLink { position:absolute; width:100%; height:100%; left:0; top:0; opacity:0;  filter: alpha(opacity=0;); z-index:5;}
.roomLink a { display:block; width:300%; height:100%;}
.reser .reserTable tbody:hover td, .reser .reserTable tbody:hover th {  -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -ms-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; background:#000; color:#fff; cursor:pointer;}

.reser_frame { position:relative; width:100%;}
.reser_frame iframe { width:100%; height:800px; overflow-y:auto;}

.reser02_02 { padding:5% 0; text-align:center; }
.reser02_02 .reser_dl { display:inline-block; width:100%; max-width:1030px; text-align:left;}
*/
/*
.reserCon01 { margin-bottom:5%;}
.reser01_01 { position:relative; width:50%; z-index:1; }
.reser01_02 { position:absolute; width:60%; right:0; bottom:-15%; background:#fff; overflow:hidden; z-index:2;}
.active.reser01_02 { bottom:0; }
.reserCon02 {}
.reser02_01 { position:relative; width:50%; padding:9% 0 9% 10%;}
.reser02_02 { position:absolute; width:50%; height:100%; left:50%; top:0; background:url(/html/images/reser/img01_02.jpg) center center no-repeat; background-size:cover !important; }
.reserCon03 {}
.reser03_01 {position:absolute; width:56%; height:100%; left:0; top:0; background:url(/html/images/reser/img01_03.jpg) center center no-repeat; background-size:cover !important;}
.reser03_02 { position:relative; width:44%; margin-left:56%; padding:6% 0 6% 8%;}

*/

/* 예약안내 버튼 */
.reser01 #contents .new_reser {

}
.reser01 #contents .new_reser > ul {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
	padding: 5% 0 0 0;
}
.reser01 #contents .new_reser > ul li {
	transition: 0.5s;
}
.reser01 #contents .new_reser > ul li a {
	display: flex !important;
	justify-content: center;
	align-items: center;
	gap: 10px;
	width: 300px;
	position: relative;
	display: block;
	padding: 20px 40px;
	background: linear-gradient(120deg, rgba(255,211,182, 1), rgba(255,187,185,1) );
	border-radius: 5px;
}
.reser01 #contents .new_reser > ul li a::before {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 95%;
    height: 80%;
	border: 1px solid #fff;
}
.reser01 #contents .new_reser > ul li a i {
	font-style: normal;
    font-weight: 700;
}
.reser01 #contents .new_reser > ul li.ddanyo_icon a i {
	font-size: 1.5em;
	color: #de2e5f;
}
.reser01 #contents .new_reser > ul li.naver_icon a i {
	font-family : "xeicon";
	font-size: 1.7em;
	color: #06be34;
}
.reser01 #contents .new_reser > ul li.ddanyo_icon:hover a::before {
	border: 1px solid #ea1f62;
}
.reser01 #contents .new_reser > ul li.naver_icon:hover a::before {
	border: 1px solid #06be34;
}


.reser01 #contents .new_reser > ul li a .txt {
	display: inline-block;
    font-weight: 700;
    font-size: 1.1em;
	line-height: normal;
}

@media (max-width: 768px) {
	/* 예약안내 버튼 */
	.reser01 #contents .new_reser {

	}
	.reser01 #contents .new_reser > ul {
		flex-flow: column;
		gap: 10px;
		margin-top: 5%;
	}
	.reser01 #contents .new_reser > ul li a {
		width: 200px;
		padding: 10px 20px;
	}
	.reser01 #contents .new_reser > ul li a::before {
		content: "";
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		width: 95%;
		height: 80%;
		border: 1px solid #fff;
	}
	.reser01 #contents .new_reser > ul li.ddanyo_icon a i {
		font-size: 1em;
	}
	.reser01 #contents .new_reser > ul li.naver_icon a i {
		font-size: 1.5em;
	}
	.reser01 #contents .new_reser > ul li a .txt {
		display: inline-block;
		font-weight: 700;
		font-size: 0.8em;
		line-height: normal;
	}
}








@media  (max-width: 1480px){
}
@media  (max-width: 1280px){
	.reser03_01, .reser03_02 { position:relative; float:none; width:100%; padding:5% 0; }
	.reser03_01:after { width:0; height:1px; }
	.active.reser03_01:after { width:100%; height:1px; top:auto; bottom:0;  background:rgba(0, 0, 0, 0); transition: all 1.5s cubic-bezier(0.694, 0, 0.335, 1) 2.2s;}

	.reser_dl > dt { font-size:1.2em;}
	.reser_dl > dt .no { font-family: 'Vidaloka', serif; font-size:2em; color:#10acd1;}
	.reser_dl > dd {font-size:1em; line-height:1.6em;}

	.reser_name .rTitle { font-size:1.25em; line-height:2em; font-weight:700;}
	.reser_name .rCon {}
	.reser_name .rCon p { font-size:1em; line-height:1.5em; margin-bottom:0.2em; letter-spacing:-0.05em;}
	.reserTable th, .reserTable td { padding:10px 2px; font-size:0.9em; letter-spacing:-0.05em;}
}
@media  (max-width: 1024px){

}
@media  (max-width: 800px){
	.table_div { width: 100%;}
	.priceApp { font-size:0.9em;}
	.active.reser_dl { text-align: justify;}
	.reserCon03 {
		padding: 5% 6% 5% 4%;
	}
	.mb20 {
		text-align: justify;
	}
	.reser_con > dt {
		text-align: justify;
	}
	.reser_con > dd p {
		text-align: justify;
	}
	.reser_con > dd p {
		text-align: justify;
	}
	.reser03_02 .reser_dl > .txt p {
		text-align: justify;
	}

}

/* map 
.map01 .img_bg { padding-bottom:18.8%; background:url(../images/reser/img03_01.jpg);}
.map03 .img_bg { padding-bottom:18.8%;background:url(../images/reser/img03_02.jpg);}
.map05 .img_bg { padding-bottom:31%; background:url(../images/reser/img03_03.jpg);}
.map02_01 { position:absolute; width:40%; left:0; top:50%; padding-left:10%; transform: translateY(-50%); -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); z-index:1; }
.map02_02 { position:relative; float:right; width:60%; z-index:2;}
.active.map01_02 { margin-top:-30%;}

.reserCon03 .reser_dl , .reser03 .reser_dl { width:100%;}

.mapAdd { padding:6% 0; font-size:0.9em; }
.mapAdd p { font-size:1.15em;}

.mapFrame { position:relative; width:100%; height:40vw; overflow:hidden; }
.mapFrame iframe {position:absolute; width:100%; height:100%; left:50%; top:50%; transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%); border:0;}

.map04 { padding:5% 10%; overflow:hidden;}


@media  (max-width: 1024px){
.map02_01 { position:relative; width:100%; left:0; top:0; padding:5% 7%; transform:none; -ms-transform:none; -webkit-transform:none; z-index:1; }
.map02_02 { position:relative; float:none; width:100%; z-index:2;}

.active.map01_02 { margin-top:0;}
.mapAdd { padding:3% 0;}
.mapFrame { height:50vw;}
.mapFrame iframe { width:200%; height:200%;}

.map04 { padding:5% 7%;}

.reser01_01 .img_bg, .reserCon02 .img_bg, .map01 .img_bg, .map03 .img_bg { padding-bottom:30%;}
.reserCon04 .img_bg, .map05 .img_bg {padding-bottom:40%;}

}

@media  (max-width: 768px){
.reser01_02, .map01_02 { width:100%; margin-top:5%;}
.mapFrame { height:60vw;}
.map02_01, .map04 { padding:8% 5%;}
}

@media  (max-width: 420px){
.mapFrame { height:80vw;}
}*/


/*  commnuity */
.boardCon { position:relative; width:100%; padding:7% 0; opacity:0; filter: alpha(opacity=0;); z-index:3;}
.boardCon iframe { display:block; width:96%; max-width:1300px; margin:0 auto; border:0;}
.active .boardCon { opacity:1; filter: alpha(opacity=100); margin-top:0; transition: all 0.7s ease-in-out 0.5s;}



.mainCon {
	margin: 30px 0;
}
.mainGrid{display:inline-block;width:100%;float:left}
.grid_item{position:relative;width:33.333333%;float:left;overflow:hidden;background:#18252e}
.grid_item img{width:100%;-webkit-transform:scale(1.03,1.03);-ms-transform:scale(1.03,1.03);transform:scale(1.03,1.03);opacity:.5;filter:alpha(opacity=50;);-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out;float:left}
.grid_item:hover img{-webkit-transform:none;-ms-transform:none;transform:none;opacity:1;filter:alpha(opacity=100;)}
.grid_item_inner{position:absolute;top:0;left:0;width:100%;height:100%}
.grid_item_tb{display:table;width:100%;height:100%;text-align:center}
.grid_item_tbc{display:table-cell;vertical-align:middle}
.grid_item .tag_inner{
	font-style:italic;
	color: #fff;
}
.grid_item .tag {
    margin-bottom: 3.5%;
}
.tag {
    position: relative;
    display: inline-block;
}
.tag.top::before {
    left: 50%;
    bottom: 80%;
    width: 1px;
    height: 44px;
}
.tag::before {
    content: '';
    position: absolute;
    display: inline-block;
    background: #fff;
}
.tag.top .tag_inner {
    display: inline-block;
    width: 180px;
    padding: 18px 0 12px;
    text-align: center;
}
/*.tag_inner {
    border: 2px solid #fff;
    padding: 13px 43px 13px 23px;
    color: #fff;
    font-family: 'Source Han Serif KR','Jeju Myeongjo',serif;
    font-size: 1.53em;
    display: inline-block;
    float: left;
    white-space: nowrap;
}*/
.grid_item_text{color:#fff;font-size:1.07em;line-height:1.8; font-weight:100;}
.grid_item_title{font-size:1.23em;}

@media (max-width: 1024px) {
	.tag.top::before {
		display: none;
	}
	.tag.top .tag_inner {
		width: 130px;
		padding: 10px 0 12px;
	}
	.tag_inner {
		font-size: 1em;
	}
	.grid_item_text {
		font-size: 0.8em;
	}
}
@media (max-width: 560px) {
	.tag.top .tag_inner {
		width: 100px;
		padding: 4px 0;
	}
	.tag_inner {
		font-size: 0.9em;
	}
}