@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700'); /* font-family: 'Noto Sans KR', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR:400,500,600'); /* font-family: 'Noto Serif KR', serif; */
@import url('//fonts.googleapis.com/earlyaccess/jejumyeongjo.css'); /* font-family: 'Jeju Myeongjo', serif; */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700'); /* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700'); /* font-family: 'Quicksand', sans-serif; */

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500'); /* font-family: 'Fira Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Lora'); /* font-family: 'Lora', serif; */
@import url('https://fonts.googleapis.com/css?family=Vidaloka'); /* font-family: 'Vidaloka', serif; */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i'); /* font-family: 'Playfair Display', serif; */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500'); /* font-family: 'Montserrat', sans-serif; */

@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond'); /* font-family: 'Cormorant Garamond', serif; */
@import url('https://fonts.googleapis.com/css?family=Sacramento'); /* font-family: 'Sacramento', cursive; */

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700'); /* font-family: 'Josefin Sans', sans-serif;  */

@import url('https://fonts.googleapis.com/css?family=Caveat'); /* font-family: 'Caveat', cursive; */
@import url('https://fonts.googleapis.com/css?family=Lora'); /* font-family: 'Lora', serif; */

@font-face {
    font-family: 'KHNPHD';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KHNPHD.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GyeonggiTitleM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiTitleM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GyeonggiBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'paybooc-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'tw cen mt';
	src: url('./fonts/twcenmt.eot');
	src: local('twcenmt'), url('./fonts/twcenmt.woff') format('woff'), url('./fonts/twcenmt.ttf') format('truetype');
}

@font-face {
	font-family: 'Gotham';
	font-style: normal;
    font-weight: 100;
	src: url('./fonts/GothamThin.eot');
	/*src: local('Gotham Thin'),*/ url('./fonts/GothamThin.woff') format('woff'), url('./fonts/GothamThin.ttf') format('truetype');
}

@font-face {
	font-family: 'Gotham';
	font-style: normal;
    font-weight: 400;
	src: url('./fonts/GothamMedium.eot');
	/*src: local('Gotham Medium'),*/ url('./fonts/GothamMedium.woff') format('woff'), url('./fonts/GothamMedium.ttf') format('truetype');
}

@font-face {
	font-family: 'Gotham';
	font-style: normal;
    font-weight: 700;
	src: url('./fonts/GothamBold.eot');
	/*src: local('Gotham Bold'),*/ url('./fonts/GothamBold.woff') format('woff'), url('./fonts/GothamBold.ttf') format('truetype');
}
@font-face {
    font-family: 'paybooc-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}