@charset "utf-8";

html{width:100%;height:100%;overflow-y:auto;-webkit-text-size-adjust:none;}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dt,dd,input,select,textarea,form,fieldset,legend,body{margin:0;padding:0; font-family: 'Cafe24SsurroundAir', "Sacramento", 'NanumSquare', "Malgun Gothic","Nanum Gothic",NanumGothic,Dotum,"돋움",Arial;}
*+html body body, *+html body div, *+html body li, *+html body dt, *2017-11-22+html body dd, *+html body p, *+html body tr, *+html body td, *+html body h2 { font-family: 'Cafe24SsurroundAir', "NanumBarunGothic", 'NanumSquare',  "Malgun Gothic","Nanum Gothic",NanumGothic,Dotum,"돋움",Arial;}
body{visibility:visible; width:100%; font-size:13px;color:#000; background:#fff; line-height:1.5em; }
img,fieldset{border:none;}
em,address{font-style:normal;}
a{text-decoration:none;color:#000;}
li{list-style:none;}
select,textarea{border-radius:0;}
.clear {}
.clear:after {content:"";display:block;clear:both;}
.blind, .sound_only {visibility:hidden;width:0;height:0;font-size:0;line-height:0;overflow:hidden;}
.img_100 {width:100%; height:auto !important; vertical-align:top;}
.img_00 {vertical-align:top; max-width: 100%;}
select{min-width:50px;height:26px;margin:0;padding:0;font-size:12px;line-height:26px;font-family:Dotum,sans-serif;}
.underline {text-decoration:underline; }
.tl { text-align:left;}
.tc { text-align:center;}
.tr { text-align:right;}
.vt {vertical-align:top;}
.mb0 { margin-bottom:0 !important;}
.mb3 { margin-bottom:3px !important;}
.mb20 { margin-bottom:20px !important;}
* {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.boxShadow {-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15); -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15); box-shadow:1px 1px 5px rgba(0, 0, 0, 0.15);}

.transAll015 {-webkit-transition: all 0.15s ease-in-out; -moz-transition: all 0.15s ease-in-out; -ms-transition: all 0.15s ease-in-out; -o-transition: all 0.15s ease-in-out; transition: all 0.15s ease-in-out; }
.transAll03 {-webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); -moz-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); -ms-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); -o-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }
.transAll03_ease {-webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -ms-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease;}
.transAll02_ease {-webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -ms-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease;}
.scale01 {-webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}
.scale01:hover, .scale01:focus {-ms-transform: scale(1.1); -webkit-transform: scale(1.1); transform: scale(1.1);}


.strongColor01 { color:#021e2f;}

.block1480, .block1280, .block1024, .block800, .block768, .block560, .block480, .block380 {display:none !important;}
.in-block1480, .in-block1280, .in-block1024, .in-block768, .in-block560, .in-block480, .in-block380 {display:none !important;}

@media  (max-width: 1810px){
	.none1810 {display: none !important;}
}

@media  (max-width: 1680px){
}

@media  (max-width: 1480px){

.none1480 {display:none !important;} 
.block1480 {display:block !important;}
.in-block1480 {display:inline-block !important;}

}


@media  (max-width: 1420px){
}

@media  (max-width: 1280px){

.none1280 {display:none !important;} 
.block1280 {display:block !important;}
.in-block1280 {display:inline-block !important;}

}

@media  (max-width: 1024px){

.none1024 {display:none !important;} 
.block1024 {display:block !important;}
.in-block1024 {display:inline-block !important;}


} 

@media  (max-width: 768px){

.none768 {display:none !important;} 
.block768 {display:block !important;}
.in-block768 {display:inline-block !important;}

}

@media  (max-width: 560px){

.none560 {display:none !important;} 
.block560 {display:block !important;}
.in-block560 {display:inline-block !important;}

}

@media  (max-width: 480px){

.none480 {display:none !important;} 
.block480 {display:block !important;}
.in-block480 {display:inline-block !important;}

}


@media  (max-width: 380px){

.none380 {display:none;} 
.block380 {display:block;}
.in-block380 {display:inline-block;}	
}

@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.air {font-family: 'Cafe24SsurroundAir' !important;}

@font-face {
    font-family: 'GyeonggiTitleM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiTitleM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.ggtitle {font-family: 'GyeonggiTitleM' !important;}

@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
.calli {font-family: 'Sacramento' !important}