/* main */
.section01 { position: relative; width: 100%; height: 100%; max-height: 979px; display: flex; flex-wrap: nowrap; }
.scroll_box { position: relative; width: 15%; background: url('/images/common/bg01.jpg');}
.scroll_box > span::before { content: ''; display: block; width: 2px; height: 200px; background: #bababa; margin: 0 auto; position: absolute; bottom: 0; left: 0; right: 0; }
.scroll_box > span::after { content: ''; display: block; width: 10px; height: 10px; background: #50504f; border-radius: 100%; margin: 0 auto; position: absolute; bottom: 200px; left: 0; right: 0; animation: scroll 3s ease-in-out infinite  }
@keyframes scroll {
    0% { bottom: 200px; opacity: 0; }
    30% { opacity: 1; }
    70% { opacity: 1; }
    100% { bottom: 0px; opacity: 0; }
}
.video{
    width:100%;
    margin: 0 auto;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}
video{
    margin: none;
}
.main_slide { position: relative; width: 100%; /*max-width: 1650px;*/ overflow: hidden; }
.main_slide .swiper-wrapper .swiper-slide img { width: 100%; height: 100%; object-fit: cover; }
.main_slide .swiper-slide > .txt { position: absolute; display: block; z-index: 100; width: 440px; height: 130px; background: url('/images/common/bg01.jpg'); right: 0; bottom: 0; text-align: center; }
.main_slide .swiper-slide > .txt span { display: block; margin-top: 25px; font-size: 0.9em; color: #243933; text-transform: uppercase; font-family: 'Arita-buri-SemiBold', sans-serif; }
.main_slide .swiper-slide > .txt p { font-size: 1.1em; line-height: 2em; color: #313131; text-transform: uppercase; font-family: 'Arita-buri-SemiBold'; }
pre{font-family: 'Arita-dotum-Medium'; font-weight: 500;}
.main_button { position: absolute; display: block; z-index: 100; width: 440px; height: 130px; right: 0; bottom: 0; text-align: center; }
.main_button > .scroll { position: absolute; width: 100px; bottom: 30px; right: 210px; z-index:100000; }
.main_button > .scroll .main-scrollbar { height: 3px; opacity: 1 !important; }

.main_button > .current { color: #414241; font-size: 0.8em; font-style: italic; }
.main_button > .current .main-pagination{ bottom: 25px !important; left: unset !important; right: 130px !important; width: 80px !important; }

.main_button > .move { position: absolute; width: 80%; left:50%; top: 50%; transform: translate(-50%,-50%); }
.main_button > .move .visual_prev { float: left; cursor: pointer; }
.main_button > .move .visual_next { float: right; cursor: pointer; }
.section04 > .inner > .inner_img > .img_txt> span{font-family:'Arita-buri';}
/* @media (max-width: 900px) {
.main_slide .swiper-slide > .txt { position: absolute; display: block; z-index: 100; width: 200px; height: 130px; background: white; right: 0; bottom: 0; text-align: center; }
.main_button { position: absolute; display: block; z-index: 100; width: 200px; height: 130px; right: 0; bottom: 0; text-align: center; }
} */
@media (max-width: 800px) {
    .section01 { position: relative; width: 100%; height: calc(75% - 60px); max-height: 550px; display: flex; flex-wrap: nowrap; }
    .main_slide .swiper-slide > .txt { width: 75%; height: 70px; }
    .main_slide .swiper-slide > .txt span { display: block; margin-top: 15px; font-size: 0.6em; color: #243933; text-transform: uppercase; font-family: 'Poppins', sans-serif; }
    .main_slide .swiper-slide > .txt p { font-size: 0.88em; line-height: 2em; color: #313131; text-transform: uppercase; font-family: 'Arita-buri-SemiBold'; }
    .main_slide .swiper-wrapper .swiper-slide img { object-fit: fill; }

    .main_button { width: 65%; height: 70px; }
    .main_button > .move { width: 85%; left: 50%; top: 50%; transform: translate(-50%,-50%); }
    .main_button > .move i > img { width: 10px; }
    .main_button > .scroll, .main_button > .current { display: none; }

    .scroll_box > span::before { content: ''; display: block; width: 2px; height: 100px; background: #bababa; margin: 0 auto; position: absolute; bottom: 0; left: 0; right: 0; }
    .scroll_box > span::after { content: ''; display: block; width: 10px; height: 10px; background: #50504f; border-radius: 100%; margin: 0 auto; position: absolute; bottom: 100px; left: 0; right: 0; animation: scroll 3s ease-in-out infinite  }
    @keyframes scroll {
        0% { bottom: 100px; opacity: 0; }
        30% { opacity: 1; }
        70% { opacity: 1; }
        100% { bottom: 0px; opacity: 0; }
    }
}

.section02 { width: 100%; height: 100%; max-height: 979px; background: url('/images/common/bg02.jpg');}
.section02 > .title { width: 100%; text-align: center; color: #393d3c; padding: 4% 0 2.5% 0; }
.section02 > .title h1 { text-transform: uppercase; font-size: 1.7em; letter-spacing: 1.5px; }
.section02 > .title h1:after { content: ''; display: block; width: 18px; height: 20px; margin: 1% auto; background: url('/images/common/title_logo.png') no-repeat 0 0; }
.section02 > .title p { font-weight: 500; font-size: 0.9em;}

.roomlist { width: 100%; max-width: 100%; margin: 0 auto; /*display: flex; justify-content: space-evenly; flex-wrap: nowrap;*/ }
.roomlist li { margin: 0 auto !important; }
.roomlist li a { display: flex; margin: 0 auto !important; justify-content: center; cursor: default;}
.roomlist li a > .name { writing-mode: vertical-rl; color: #393d3c; font-family: 'Arita-dotum-Medium'; font-weight: 500; }
.roomlist li a > .name span{writing-mode:horizontal-tb }
.roomlist li a > .box { position: relative; padding: 10px; background: url('/images/common/bg03.jpg'); color: #fff; cursor: pointer; }
.roomlist li a > .box > .hover { position: absolute;  width: 100%; top: 35%; left: 0; background: url('/images/common/bg03.jpg'); box-sizing: border-box; padding: 4% 8%; opacity: 0; transition: all 0.3s; }
.roomlist li a > .box > .hover h1 { font-family: 'Arita-dotum-Medium'; font-size: 2.6em; font-weight: 300; padding-bottom: 45%;}
.roomlist li a > .box > .hover span:nth-of-type(1) { float: left; font-family: 'Arita-dotum-Medium'; }
.roomlist li a > .box > .hover span:nth-of-type(2) { float: right; vertical-align: middle; }
.roomlist li a:hover .box > .hover { opacity: 1; }

.roomlist_m { position: relative; z-index: 200;}
.roomlist_m > .swiper-wrapper { height: unset !important; }
.roomlist_m ul li > .img {padding-bottom: 5% !important; margin-top: 7% !important; width: 70%; margin: 0 auto; background: url('/images/common/bg03.jpg'); box-sizing: border-box; padding: 10px; }
.roomlist_m ul li > .img .room_img { width: 100%; }
.roomlist_m ul li > .img .txt { color: #fff; padding-bottom: 8%; }
.roomlist_m ul li > .img .txt h1 {margin-top: 7%;  font-family: 'Arita-buri'; font-size: 1.2em; font-weight: 500; }
.roomlist_m ul li > .img .txt span:nth-of-type(1) { float: left; font-size: 0.8em; font-family: 'Arita-dotum-Medium'; }
.roomlist_m ul li > .img .txt span:nth-of-type(2) { float: right; vertical-align: middle; }
.roomlist_m ul li > .img .txt span:nth-of-type(2) img { width: 50px; max-width: 100%; }
.roomlist_btn { position: absolute; left: 50%; top: 45%; transform: translate(-50%, -50%); z-index: 10; width: 90%; display: flex; justify-content: space-between; }
.roomlist_btn i { cursor: pointer; }

@media (max-width: 1200px) {
    .section02 > .title { width: 100%; text-align: center; color: #393d3c; padding: 0 0 2.5% 0; }
}
@media (max-width: 900px) {
    .section02 { width: 100%; height: unset; max-height: unset; padding-top: 8%; background: url('/images/common/bg02.jpg'); }
    .section02 > .title h1 {margin-bottom: 15px; text-transform: uppercase; font-size: 1.2em; letter-spacing: 1.5px; }
    .section02 > .title p { font-size: 0.8em; }
    .roomlist_m ul li > .img .txt span:nth-of-type(2) img { width: 45px; }
}
@media (max-width: 670px) {
    .section02 { padding: 8% 0 25% 0;}
    .roomlist_m { padding-bottom: 15%; }
}
@media (max-width: 570px) {
    .section02 { padding: 15% 0 0 0;}
    .section02 > .title h1:after{
        display:none;
    }
    .main_slide .swiper-slide > .txt {opacity:70%;}
    .scroll_box{
        display:none;
    }
}

.section03 { width: 100%; background: url('/images/common/bg04.jpg');background-size: cover; box-sizing: border-box; padding-top: 10%; }
.section03 > .inner { position: relative; display: flex; flex-wrap: wrap; }
.section03 > .inner > .left { width: 100%; height: 100vh; position: sticky; top: 12%; }
.section03 > .inner > .left > h1 {letter-spacing: 13; text-indent: 2%; font-size: 5em; color: #fff; opacity: 0.7; padding-bottom: 15%; }
.section03 > .inner > .left > .txt { width: 35%; text-align: right; color: #393d3c; }
.section03 > .inner > .left > .txt p { font-size: 1.3em; }
.section03 > .inner > .left > .txt p::after { content: ''; display: block; width: 100%; height: 1px; background: #393d3c; margin: 0 auto; margin: 4% 0; }
.section03 > .inner > .left > .txt span { display: block; font-size: 0.95em; line-height: 1.7em; padding-bottom: 20%; }
.section03 > .inner .left > .txt > a:hover { opacity: 0.4; transition: all 0.3s; } 
.section03 > .inner .right { display: flex; justify-content: flex-end; width: 55vw; margin-left: -55vw; margin-top: 5vw; margin-bottom: 5vw;  } 
.section03 > .inner .right .img .img_list { width: 55vw; justify-content: space-between; margin-right: 1.5vw; }
.section03 > .inner .right .img_list { display: flex; flex-wrap: wrap; justify-content: flex-end; }
.section03 > .inner .right .img_list li { z-index: 50; }
.section03 > .inner .right .img_list li:nth-of-type(2n) { position: relative; margin: 10% 0 4% 0; }

.section03 .inner_m { width: 100%; }
.section03 > .inner_m img { width: 100%; max-width: 100%; margin: 0; }
.section03 .inner_m > .txt { width: 90%; text-align: right; font-family: 'Arita-buri-SemiBold'; color: #393d3c; padding-bottom: 6%; }
.section03 .inner_m > .txt h1 { text-align: left; font-size: 3.5em; letter-spacing: 2.3px; opacity: 0.8; color: white; padding: 0 0 5% 3%; box-sizing: border-box; }
.section03 .inner_m > .txt p { font-size: 1em; font-weight: bold; }
.section03 .inner_m > .txt p::after { display: block; content: ''; width: 100%; height: 1px; background: #393d3c; margin: 1.5% auto; }
.section03 .inner_m > .txt span { font-size: 0.7em; }
.section03 .inner_m > .img01 { display: flex; width: 100%; align-items: flex-end; justify-content: space-between; }
.section03 .inner_m > .img01 > img { width: 65%; max-width: 100%; }
.section03 .inner_m > .img01 > .btn { width: 35%; margin: 5% 3%; text-align: center; }
.section03 .inner_m > .img01 > .btn:hover { opacity: 0.5; transition: all 0.3s; }
.section03 .inner_m > .img02 { width: 100%; display: flex; justify-content: flex-end; box-sizing: border-box; padding: 5% 0 0 20%; }

@media (max-width: 900px) {
    .section03 { width: 100%; background: url('/images/common/bg04.jpg'); box-sizing: border-box; padding: 5% 0 !important; }
}

.section04 { width: 100vw; overflow: hidden; position: relative; }
.section04 > .inner { position: relative; width: 100%; }
.section04 > .inner > .zoom { position: sticky; top: 0; width: 100%; vertical-align: top; transition: all 2s; /*transition-timing-function: ease-in-out;*/}
.section04 > .inner > .inner_img > .fixed_img {height: auto; position: absolute; top: 0; width: 100%; z-index: 9000; }
.section04 > .inner > .inner_img > .fake { }
.section04 > .inner > .inner_img > .img_txt {z-index:10000; text-shadow: -65px -65px 65px #fff,65px 65px 65px #fff,-85px -85px 85px #fff,85px 85px 85px #fff,-85px 85px 85px #fff, 85px -85px 85px #fff, -55px 55px 65px #fff, 55px -55px 65px #fff; display: inline; position: absolute; top: 50%; left: 50%; right: 0; transform:translate(-50%,-50%); width: 20%; font-size: 1.1em; line-height: 1.5em; text-align: center; color: #fff;  transition: all 0.2s; }
/* #trigger1 { position: absolute; top: 45%; opacity: 0; } */
#trigger2 { position: absolute; top: 32%; opacity: 0; }

footer { width: 100vw; background: url('/images/common/bg05.jpg'); text-align: center; padding: 4% 0; color: #fff; font-size: 0.9em; overflow: hidden; font-weight: normal !important;}
footer .footer_inner > h3 { padding: 1.7% 0 1.3% 0; }
footer .footer_info li { line-height: 1.6em; }
footer .footer_info02 li { display: inline-block; padding: 1% 0; }
footer .footer_info02 li:nth-of-type(1):hover, footer .footer_info02 li:nth-of-type(2):hover { opacity: 0.5; transition: all 0.3s; }
footer .footer_info02 li b:hover { opacity: 0.5; transition: all 0.3s; }
footer .footer_info02 li+li:before { content: '|'; display: inline-block; margin: auto 5px; }
footer .footer_info02 li img { vertical-align: middle; }

@media (max-width: 900px) {
    footer .footer_logo a { display: block; width: 100px; margin: 0 auto; }
    footer .footer_logo a img { width: 100%; }
    footer .footer_inner > h3 { padding: 3% 0; font-size: 1em; }
    footer .footer_inner .footer_info01 { font-size: 0.7em; }
    footer .footer_inner .footer_info02 { width: 100% !important; font-size: 0.6em; }
    footer .footer_info02 li+li:before { content: '|'; display: inline-block; margin: auto 1px; }
    footer .footer_info02 li img { width: 15px; vertical-align: middle; }
}