.mapCon01 {
    width: 100%;
    background: url('/images/room/01_01.jpg') no-repeat center center;
    background-size: cover;
    padding-bottom: 35%;
}
.map_wrap {
    width: 100%;
    background: url('/images/common/bg02.jpg') repeat;
    font-family: 'Arita-dotum-Medium';;
}
.map_wrap > .sub_title {
    width: 100%;
    text-align: center;
    color: #393d3c;
    padding: 4% 0;
}
.map_wrap > .sub_title > h1 {
    text-transform: uppercase;
    font-size: 1.7em;
    letter-spacing: 1.5px;
}
.map_wrap > .sub_title > h1:after {
    content: '';
    display: block;
    width: 18px;
    height: 20px;
    margin: 1% auto;
    background: url('/images/common/title_logo.png') no-repeat 0 0;
}
.map_wrap > .sub_title > p {
    font-weight: 500;
    font-size: 0.9em;
}

.map_wrap > .map {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 8%;
    text-align: center;
}
@media (max-width: 1200px) {
    .map_wrap > .sub_title { width: 100%; text-align: center; color: #393d3c; padding: 5% 0 2.5% 0; }
}

@media (max-width: 900px) {
    .map_wrap > .sub_title > h1 { text-transform: uppercase; font-size: 1.2em; letter-spacing: 1.5px; }
    .map_wrap > .sub_title > p { font-size: 0.6em; }
}