.nm { width: 100%; }
.mb20 {margin-bottom: 20px;}
.mb05 { margin-bottom: 5px; }
.mb6::before {content: '' !important;}
.reser_dl { color: #424242;}
.reser_wrap {
    width: 100%;
    background: url('/images/common/bg02.jpg') repeat;
    font-family: 'Arita-dotum-Medium';;
}
.sub_title {
    width: 100%;
    text-align: center;
    color: #393d3c;
    padding: 4% 0 8% 0;
}
.sub_title > h1 {
    text-transform: uppercase;
    font-size: 1.7em;
    letter-spacing: 1.5px;
}
.sub_title > h1:after {
    content: '';
    display: block;
    width: 18px;
    height: 20px;
    margin: 1% auto;
    background: url('/images/common/title_logo.png') no-repeat 0 0;
}
.sub_title > p {
    font-weight: 500;
    font-size: 0.9em;
}

.reserCon01 {
    width: 100%;
    background: url('/images/reser/01_01.jpg') no-repeat center center;
    background-size: cover;
    padding-bottom: 35%;
}
.reserCon02 {
    width: 100%;
    text-align: center;
    padding: 60px 0 70px 0;
}
.reserCon02 .title p {
}
.reserCon02 .title p::after {
    display: block;
    content: "";
    width: 18px;
    height: 1px;
    background: #000;
    margin: 20px auto;
}
.reserCon02 .title h1 {
    font-size: 57px;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 65px;
}
.reserCon {
    width: 96%;
    max-width: 1520px;
    margin: 0 auto;
}
.block650 {display: none;}
.table_div { width: 70%;}
.tables { width:100%; border-collapse: collapse; text-align:center; border-spacing: 0; font-size:1em;}
.barbecue { width:60%;}
.tables tr, .tables td, .tables th { border: 1px solid #d9d9d9; padding: 10px 0; background: #fff; }
.tables { background-color: #f8f8f8; }
.tables th { background: #eceae1;}
.reser01_01 {
    float: left;
    width: 30.7%;
    margin-bottom: 6%;
}
.reserCon03 {
    margin: 0 auto 5%;
    border-bottom: 1px solid #dedede;
}
.reser_dl {
    float: left;
    width: 100%;
   
}
.bigger {
    font-size: 1.1em;
}
.bigger::before{
    content: '' !important;
}
.reser_dl dt {
    font-size: 1.7em;
    line-height: 1.5em;
    margin-bottom: 1em;
}
.reser_dl dd {
    margin-bottom: 6%;
    font-size: 1em;
    line-height: 1.5em;
    overflow: hidden;
}
.subCon:after {
    content: "";
    display: block;
    clear: both;
}
.mb5 {
    position: relative;
    padding-left: 1.5%;
}
.list01 li::before {
    content: ' · ';   
    position: absolute;
    top: 0;
    left: 0.5%; 
}
.linenone {
    border-bottom: none;
}
@media (max-width:1024px){
    .subNav {
        margin-top: 0;
    }
    .barbecue {
        width: 100%;
    }
    .table_div {
        width: 100%;
        margin: 0 auto;
    }
}
@media (max-width: 670px) {
    .toptitle {
        padding: 50px 0 0 0 !important;
    }
    .toptitle>.title h1 {
        padding-bottom: 50px;
    }
    .reserCon03 {
        margin: 0 auto 10%;
        border-bottom: 1px solid #dedede;
    }
    .bg {
        padding: 0 10px;
    }
    .tables {
        font-size: 0.8em;
    }
    .tables tr, .tables td, .tables th {
        padding: 5px 0;
    }
}
@media (max-width: 650px) {
    .block650 {display: block;}
}
@media (max-width:370px){
    .rsv_cal_t p {
        font-size: 13px !important;
    }
}

@media (max-width: 1200px) {
    .sub_title { width: 100%; text-align: center; color: #393d3c; }
}

@media  (max-width: 1350px){
    .reser_name { font-size:0.95em; margin-bottom:5px;}
    .reser_name strong { font-size:1.15em;}
    .reser01_01 { float:none; width:100%; margin-bottom:0; }
    .reserCon03 { width:100%; }
    .reser_dl { float:none; width:100%; margin-left:0; }
    .reser_dl dt {  font-size:1.3em; line-height:1.5em; margin:-1.5em 0 0.5em; padding-left:0.5em; color:#fff; text-shadow:1px 1px 2px rgba(0, 0, 0, 0.5);}
    .reser_dl dd { font-size:0.9em; line-height:1.6em; margin-bottom:5%;}
    .reser_dl dd > p {font-size:0.9em; line-height:1.8em; margin-bottom:0.5em;}
    .reser_dl dd.reser_info { font-size:0.9em; line-height:1.6em;}
    .reser01_01 img { width: 100%; }
}
@media (max-width: 900px) {
    .sub_title > h1 { text-transform: uppercase; font-size: 1.2em; letter-spacing: 1.5px; }
    .sub_title > p { font-size: 0.6em; }
}

@media  (max-width: 768px){
    .reser .reserTable thead { border-bottom:2px solid #555;}
    .reserTable th, .reserTable td, .cancelTable th, .cancelTable td { padding:10px 1px; font-size:0.95em; letter-spacing:-0.05em; line-height:1.5em;}
    .reserCon02 .title p::after { margin: 10px auto; }
    .topsubtitle>.title h1 {padding-bottom: 0px; font-size: 2em; }
    .rsv_cal_t{
        display:flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .rsv_cal_t p{
        padding: 0 !important;
    }
}

@media  (max-width: 620px){
    .reser_dl dd { font-size:0.7em; line-height:1.6em; margin-bottom:5%;}
    .reserTable th, .reserTable td, .cancelTable th, .cancelTable td {font-size:0.7em;}
    .reser_dl dt{margin: 0;}
}

@media  (max-width: 560px)
{
    .table-price {
        -webkit-overflow-scrolling:touch;
        overflow-x:scroll;
    }
    .table-guide {
        display:block;
    }
   
}

