@charset "utf-8";
/* 기본설정 */
@import "default.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
@font-face {
	src: url("../css/font/PretendardVariable.ttf");
	font-family: "Pre";
}
@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 모바일헤더 스타일링 */
.header-m{
    display: none;
    height: 70px;
    position: fixed;
    z-index: 9998;
    background-color: rgba(255,255,255,0.7);
    width: 100%;
}
.header-m a{
    width: 100%;
    height: 100%;

    display: inline-block;
}
.gnb_Title >a{
    color: #000;
}
.gnb_Title >a:hover{
    color: rgba(150,150,150,1.0);
    font-weight: 500;
}
.header-m:hover{
    background-color: rgba(255,255,255,1.0);
    transition: all 0.35s;
}
.header-m .logo-m{
    width: 110px;
    height: 45px;
    position: absolute;
    top: 15%;
}
.header-m .navbar{
    position: absolute;
    right: 7%;
    top: 26%;
    cursor: pointer;
}
.close{
    position: absolute;
    right: 7%;
    top: 3%;
    cursor: pointer;
}
.gnbwrap_m{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    z-index: 9999;
}
.gnbwrap_m .logo-m{
    position: absolute;
    left: 1%;
    top: 2.5%;
}

.gnb_m{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding-top: 15%;
}
.gnb_Title_m{
    font-size: 50px;
    font-family: 'GowunDodum-Regular';
    font-weight: 400;
    cursor: pointer;
}
.gnb_Title_m >a:hover{
    border-bottom: 3px solid #000;
}
.gnb_Title_m a{
    color: #000;
    display: inline-block;
    margin-bottom: 0px;
    font-weight: 400;
}
.gnb_Title_m a:hover{
    font-weight: 600;
}
.gnb_text_m:nth-child(odd){
padding-left: 5%;

}
.gnb_text_m:nth-child(even){
padding-right: 5%;
}
.gnb_text_m{
    font-size: 34px;
    font-family: 'GowunDodum-Regular';
    width: 40%;
    text-align:center;
}
.gnb_text_m a{
    color: #000;
    word-break: keep-all;
}
.gnb_Title_m ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gnb_Title_m ul li{
    display: none;
}
/* 모바일헤더 스타일링 */
.header{
    width: 100%;
    height: auto;
    background-color: #fff;
    position: fixed;
    z-index: 9999;
    opacity: 70%;
}
.header:hover{
    transition: all 0.3s;
    opacity: 100%;
}
.gnb_Title{
    display: inline-block;
    width: 15%;
    text-align: center;
    position: relative;
    cursor: pointer;
    font-size: 18px;
    font-family: 'GowunDodum-Regular';
}
.gnb_Title:last-child{
    margin-right: 0;
}

.logo{
    width: 185px;
    height: 85px;
    background-image: url(/images/common/logo1.png);
    display: inline-block;
    margin-left: 4%;

}
.logo a{
    display: inline-block;
    opacity: 0;
    width: 100%;
    height: 100%;
}
.gnb_wrap{
    margin-left: 8%;
    width:60%
}
.header >ul{
    display: flex;
    margin: 0 auto;
    height: 84px;
    line-height: 84px;
    justify-content: space-evenly;
}

.remove{
    display:none;
}
.active{
    display:active;
}
.gnb_Title ul{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,0);
    width:max-content;
    max-width: max-content;
    display:none;
    padding: 0 25%;
}

.gnb_Title li{
    height: 30px;
    background-color: #fff;
    width:150px;
    font-family: 'GowunDodum-Regular';
    line-height: 30px;
    font-size: 16px;
   
}
.gnb_wrap li:nth-child(2) ul li{
    width: 250px;
}
.gnb_Title li:first-child{
    padding-top: 5%;
    border-top: 2px solid #000;
}
.gnb_Title li:last-child{
    padding-bottom: 10%;
}
.gnb_Title li a{
    color: #000;
    text-decoration: none;
   
}
.header{
    display: flex;
}

.logo-m{
    width: 100px;
    height: 30px;
    background-image: url(/images/common/m/logo1.png);
    display: inline-block;
    margin-left: 4%;
}
.gnb_Title_m p{
    display: inline-block;
}


@media (max-width: 768px){
.header{
    display:none;
}
.header-m{
    display: block;
}
.gnb_text_m a{
    margin-top: 15px;
    font-weight: 400;
}

}

@media (max-width: 500px){
    .gnb_Title_m{
        font-size: 30px;
        margin-bottom: 15px;
        transition: all 1.0s;
    }
    .gnb_text_m{
        font-size: 20px;
    }
    .gnb_m{
        padding-top: 30%;
    }

    .gnb_Title_m a{
        margin-top: 12px;
    }
    .gnb_Title_m ul{
        display: block;
        margin: 0 auto;
        width: 100%;
    }
    .gnb_text_m:nth-child(odd){
        padding: 0;
    }
    .gnb_text_m:nth-child(even){
        padding: 0;
    }
    .gnb_text_m{
        width: 100%;
    }
}

@media (max-width: 380px){
    .gnb_text_m{
        margin: 0 auto;
    }
    .gnb_Title_m a{
        margin-top: 15px;

    }
   
}