.sc0030 {color: #ff6666 !important;}
.sc0010 {color: #5eb917 !important;}
.sc0100 {color: #676767 !important;}
/* ---------- *전체 일자별 요금표 1, *전체 일자별 요금표 2 ---------- */
.rsv_cal_t{position:relative;text-align:center; /*font-family:Arial,"돋움",Dotum;*/*margin-bottom:10px;}
.rsv_cal_t p{display:inline-block;padding:0 10px 10px;margin-top:0;text-align:center;vertical-align:top;line-height:32px;font-size:16px;*display:inline;*zoom:1;}
.rsv_cal_t .prv{display:inline-block;width:32px; height:33px; background:url("//ddnayo.com/img/api/gray_btn.png") no-repeat;background-position:-1px -1.5px;cursor:pointer;*display:inline; *zoom:1;}
.rsv_cal_t .next{display:inline-block;width:32px; height:33px;background:url("//ddnayo.com/img/api/gray_btn.png") no-repeat;background-position:-35px -1.5px; cursor:pointer;*display:inline; *zoom:1;}
.rsv_cal_h,.rsv_cal_h tr,.rsv_cal_h td,.rsv_cal_h p{margin:0; padding:0; /*font-family:"돋움",Arial;*/}
.rsv_cal_h{border-collapse:collapse;width:100%;text-align:center;font-size:12px;color:#666; border-top:1px solid #d7d7d7; }
.rsv_cal_h td{width:11.42857%;padding:10px 0;border-bottom:1px solid #d7d7d7; }
.rsv_cal_h td.blank{width:20%;background:#fafafa;/*border-bottom:2px solid #d7d7d7;*/}
.rsv_cal_h .ssn td{background:#fafafa;}
/*.rsv_cal_h .htr {border-bottom:2px solid #d7d7d7;}*/
.rsv_cal_h .htr td{background:#fafafa;}
.rsv_cal_h .htr .satur{color:#0000ff;}
.rsv_cal_h .htr .sun{color:#ff0000;}
.rsv_cal_b,.rsv_cal_b tr,.rsv_cal_b td,.rsv_cal_b p{margin:0; padding:0; /*font-family:"돋움",Dotum,Arial;*/}
.rsv_cal_b{border-collapse:collapse;width:100%;text-align:center;font-size:12px;color:#666;}
.rsv_cal_b td{width:11.42857%;padding:10px 0; border-bottom:1px solid #d7d7d7; }
.rsv_cal_b .state td{border-bottom:1px solid #d7d7d7;}
.rsv_cal_b .state .son{color:#00b1cd;}
.rsv_cal_b .state .soff{color:#b3b3b3;}
.rsv_cal_b .rate .sale{color:#000;font-weight:bold;font-family:Arial;}
.rsv_cal_b .rate .dc{color:#FF7200;}
.rsv_cal_b .rate .rate { text-decoration:line-through;color:#b3b3b3;}
.rsv_cal_b td.nm_room{width:20%;background:#fafafa; color:#222; font-weight:bold;border-bottom:1px solid #d7d7d7;}
.nm_room .nm { font-size:1.2em; line-height:1.5em;}
.rsv_cal_b td .not{text-decoration: line-through;color: #a6a6a6;}
.rsv_cal_b td .dc{color: #cc3816;text-align: center;}	
.rsv_cal_h tr.ssn td.ssn_0001{	} /*비수*/
.rsv_cal_h tr.ssn td.ssn_0002{color: #ff7800;} /*성수*/
.rsv_cal_h tr.ssn td.ssn_0003{color: #c2a148;} /*준성*/
.rsv_cal_h tr.ssn td.ssn_0004{color: #d03b53;} /*할인*/
.rsv_cal_h tr.ssn td.ssn_0005{color: #000000;} /*지정*/

@media  (max-width: 1024px){
.rsv_cal_t p { font-size:14px; padding:0 8px;}
.rsv_cal_h, .rsv_cal_b { font-size:11px;}
}





/* ---------- *객실별 일자별 요금표 , *객실요금 ---------- */
.week_date {position:relative; font-size:14px; line-height:30px;text-align:center; /*font-family:"돋움",Dotum,Arial;*/*margin-bottom:10px;}
.week_date p{display:inline-block;padding:0 15px;margin-top:0;text-align:center;vertical-align:top;line-height:32px;font-size:16px;*display:inline;*zoom:1;}
.week_date .prv{display:inline-block;width:33px; height:33px; background:url("//ddnayo.com/img/api/gray_btn.png") no-repeat;background-position:-1px -1px;cursor:pointer;*display:inline; *zoom:1;}
.week_date .next{display:inline-block;width:33px; height:33px;background:url("//ddnayo.com/img/api/gray_btn.png") no-repeat;background-position:-35px -2px; cursor:pointer;*display:inline; *zoom:1;}
.room_rprice {position:relative; padding:0 10px;}
.room_rprice table{margin:0; padding:0;width:100%;font-size:12px;border-collapse:collapse;text-align:center;/*font-family:"돋움",Arial;*/border-top:1px solid #e6e6e6;}
.room_rprice table td{margin:0; padding:0;width:14.28571%;font-size:12px;border-bottom:1px solid #e6e6e6;}
.room_rprice table tr,.room_rprice table p{margin:0; padding:0;}
.room_rprice table .head{background:#fafafa;}
.room_rprice table .head td{padding:10px 0;}
.room_rprice table .head .satur{color:#0000ff}
.room_rprice table .head .sun{color:#ff0000}
.room_rprice table .ssn {font-size:11px;}
.room_rprice table .ss td{padding:20px 0;}
.room_rprice table .rprice td{padding:20px 0;}
.room_rprice table .rprice p{padding:0;margin:0;}
.room_rprice table .rprice .dc{color:#FF0C00;font-size:12px;}
.room_rprice table .rprice .rate{color:#b3b3b3;text-decoration:line-through;margin-bottom:3px;/*font-family:"돋움",Arial;*/}
.room_rprice table .rprice .sale{color:#000;font-size:14px;font-weight:bold;/*font-family:"돋움",Arial;*/}
.room_rprice table .state td{background:#fafafa;padding:10px 0;color:#c6c6c6;}
.room_rprice table .state .rstate{font-size:12px}
.room_rprice table .state .son{color:#00b1cd;}
.room_rprice table .state .soff{color:#c6c6c6;}


@media  (max-width: 1024px){
.week_date p { font-size:13px;}
.room_rprice table, .room_rprice table td { font-size:11px;}
.room_rprice table .rprice .sale { font-size:12px;}
}

/* 요금표 */
.priceTable {border-collapse: collapse;text-align: center;width:100%;color:#808080;font-size:12px;}
.priceTable th{border:1px solid #d2d2d2;padding:7px 0;}
.priceTable td{border:1px solid #d2d2d2;padding:7px 0;}
.priceTable th.nm{background:#eee;}
.priceTable th.nm p{padding:8px 0;}
.priceTable th.type{background:#fff;font-weight: 300;}
.priceTable th.sz{background:#eee;}
.priceTable th.ss{background:#f8f1e9;}
.priceTable th.wk{background:#eee;width:10%;}
.priceTable th.ad{background:#f8f1e9;width:9%;}
.priceTable th p.small{font-size:11px;}




/* ---------- *객실정보 ---------- */
.room_tit { font-size:20px; font-weight:bold; margin:0px;/*font-family:"돋움",Arial;*/}
.room_data {padding-left:10px; list-style-type: none; margin:0px; /*display: flex;*/}
.room_data li {position:relative; text-align:left; }
.room_data li .tit {
	font-weight: bold;
    padding-top: 15px;
    font-size: 17px;
    color: #a6825a;
    padding-bottom: 5px;
    border-bottom: 2px solid #a6825a;
}
.room_data li .data {padding-left:20px; padding-top:5px; font-size:17px; line-height: 28px;}
.room_data li .data p { margin:0px; }
.room_data li .person_limit table { border-collapse:collapse; text-align:center; font-size:12px; margin-top:5px;}
.room_data li .person_limit table th {border:1px solid #e4e4e4; padding:5px;}
.room_data li .person_limit table td {border:1px solid #e4e4e4; padding:5px;}
@media (max-width: 1024px) {
	.room_data {
		padding: 0;
	}
	.room_data li .data {
		padding-left: 0;
		font-size: 13px;
		line-height: 20px;
	}
	#room_des {
		overflow: hidden;
	} 
}






/* ---------- *특별기간 ---------- */
.season div,.season dl,.season dt,.season dd{margin:0;padding:0;font-size:12px;}
.season{width:440px;border:1px solid #dfdfdf;/*font-family:"돋움",Arial;*/}
.season div {background:#fafafa;text-align:center;padding:5px 0;width:100%;}
.season dl{border-top:1px solid #dfdfdf;width:100%;}	
.season dl:after{content:'';display:block; clear:both;}
.season dt{border-right:1px solid #dfdfdf;padding:5px;float:left;width:30%;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
.season dd{padding:5px;width:70%;float:left;*width:auto;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}







/* ---------- *위약금/취소수수료 ---------- */
.cancelfee { border-collapse:collapse; background-color:#fff;font-size:12px;margin-bottom:20px;/*font-family:"돋움",Arial;*/}
.cancelfee caption{visibility:hidden;width:0px; height:0px;}
.cancelfee th { text-align:center; border: 1px solid #d7d7d7; background-color:#f8f8f8; padding:5px 10px; }
.cancelfee td { text-align:center; border: 1px solid #d7d7d7; padding:3px 10px;}
.cancelfee td p { margin:2px 0; }







/* ---------- 예약 현황 달력 ---------- */
#rsvSysRoot {padding:0px 15px 10px 15px;font-family:"돋움","굴림","arial";font-size:12px;color : #666;line-height:16px;text-decoration: none;height: 100%;padding: 0px;margin: 0px;text-align: left; }
#rsvSysRoot a{text-decoration:none;}
div.calendar2 { }
div.calendar2 table caption span.pre_y {}
div.calendar2 table caption span.nxt_y {}
div.calendar2 table {width:100%; background-color:#ddd; border-collapse:collapse; border:1px solid #ddd; }
div.calendar2 table .pre_m {display:inline-block;width:32px;*width:33px;height:32px;*height:34px;cursor:pointer;vertical-align:top;*vertical-align:middle;background:url("//ddnayo.com/img/api/gray_btn.png") no-repeat;background-position:-1px -2px;*background-position:-1px -1px;border:1px solid transparent;}
div.calendar2 table .nxt_m {display:inline-block;width:32px;*width:33px;height:32px;*height:34px;cursor:pointer;vertical-align:top;*vertical-align:middle;background:url("//ddnayo.com/img/api/gray_btn.png") no-repeat;background-position:-35px -2px;*background-position:-35px -1px;border:1px solid transparent;}
div.calendar2 table caption{color:#000;height:26px;padding-top:13px; padding-bottom:13px;}
div.calendar2 table caption p.now{font-size:18px;font-weight:bold;display:inline-block;padding:6px 10px;margin:3px 0 0 0;vertical-align:top;/*ie7*/*display:inline;*vertical-align:middle;}
div.calendar2 table th.w_th_0, div.calendar2 table th.w_th, div.calendar2 table th.w_th_6 {text-align:center; padding:3px; font-size:11px; font-weight:normal; width:14.28%; font-weight:bold;border:1px solid #ddd;}
div.calendar2 table th.w_th_0 {background-color:#ffe8e8; color:#ff5e5e; }
div.calendar2 table th.w_th {background-color:#ececec; color:#6e6e6e; }
div.calendar2 table th.w_th_6 {background-color:#c2e6ff; color:#0096ff;}		
div.calendar2 table th.d_th_0, div.calendar2 table th.d_th, div.calendar2 table th.d_th_6{position:relative;padding-left:5px;text-align:left; font-weight:normal; font-weight:bold;border:1px solid #ddd;}
div.calendar2 table th.d_th_0 {background-color:#ffe8e8; color:#ff5e5e; }
div.calendar2 table th.d_th {background-color:#ececec; color:#6e6e6e; }
div.calendar2 table th.d_th_6 {background-color:#c2e6ff; color:#0096ff; }		
div.calendar2 table th.d_th_now {font-weight:bold; color:#000; }	
div.calendar2 table th.d_th_sel {font-weight:bold; color:#0000ff; }
div.calendar2 table th.d_th_past {color:#878787; }
div.calendar2 table th.dt_th_hol {background-color:#ffe8e8; color:#ff5e5e; }
div.calendar2 table td.d_td_0, div.calendar2 table td.d_td, div.calendar2 table td.d_td_6 { padding:5px; vertical-align:top; border:1px solid #ddd;}
div.calendar2 table td.d_td_0 { background-color:#FFFAF6; color:Gray; }
div.calendar2 table td.d_td { background-color:#fff; color:Gray; }
div.calendar2 table td.d_td_6 { background-color:#F6FAFF; color:Gray; }		
div.calendar2 a.rsa0010 { color:#666; }
div.calendar2 a.rsa0011 { color:#666; }
div.calendar2 a.rsa0020 { color:#3399ff; }
div.calendar2 a.rsa0030 { color:#ff6666; }
div.calendar2 a.rsa0100 { color:#666; }
div.calendar2 a.rsa0010 del,div.calendar2  a.rsa0011 del, div.calendar2 a.rsa0020 del, div.calendar2 a.rsa0030 del, div.calendar2 a.rsa0100 del { color:#b3b3b3; }
div.calendar2 span.ss0001 { color:#939393; padding:1px 1px 0px 1px;  font-size:11px; display:inline-block; }
div.calendar2 span.ss0002 { color:#ff9307; padding:1px 1px 0px 1px;  font-size:11px; display:inline-block; }
div.calendar2 span.ss0003 { color:#c2a148; padding:1px 1px 0px 1px;  font-size:11px; display:inline-block; }
div.calendar2 span.ss0004 { color:#ff0000; padding:1px 1px 0px 1px;  font-size:11px; display:inline-block; }
div.calendar2 span.ss0005 { color:#007eff; padding:1px 1px 0px 1px;  font-size:11px; display:inline-block; }
div.calendar2 span.wk0000 { color:#818181; padding:1px 1px 0px 1px;  font-size:11px; margin-left:3px; display:inline-block; }
div.calendar2 span.wk0010 { color:#818181; padding:1px 1px 0px 1px;  font-size:11px; margin-left:3px; display:inline-block; }
div.calendar2 span.wk0020 { color:#818181; padding:1px 1px 0px 1px;  font-size:11px; margin-left:3px; display:inline-block; }
div.calendar2 span.wk0030 { color:#ff9307; padding:1px 1px 0px 1px;  font-size:11px; margin-left:3px; display:inline-block; }
div.calendar2 table dl.tblRate:after {content:'';display:block; clear:both;}
div.calendar2 table dl.tblRate {width:100%;margin: 0;padding: 0 2px;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;;*padding:0;*width:auto;}
div.calendar2 table dl.tblRate p{padding:0;margin: 0;}
div.calendar2 table dl.tblRate dt{float:left;width:70%;height:15px;padding:0;margin:0 0 2px 0;overflow:hidden;*width:49%;}
div.calendar2 table dl.tblRate dd{float:left;width:30%;height:15px;padding:0;margin:0 0 2px 0;text-align:right;*width:49%;}
div.tdInfo { text-align:right; margin-bottom:6px; }
div.calendar2 span.hday {position:absolute;right:5px;color:#ff0000; font-size:11px; font-weight:normal; }
div.calendar2 span.dcNm { color:#ff0000; margin-left:3px; padding:1px 1px 0px 1px;  font-size:11px; display:block; }
div.calendar2 span.rstt0010,div.calendar2 span.rstt0011,div.calendar2 span.rstt0020,div.calendar2 span.rstt0030,div.calendar2 span.rstt0100 { font-size:11px;padding:2px 2px 1px 2px; color:White;}
div.calendar2 span.rstt0010 { background-color:#5eb917; }
div.calendar2 span.rstt0011 { background-color:#5eb917; }
div.calendar2 span.rstt0020 { background-color:#3399ff; }
div.calendar2 span.rstt0030 { background-color:#ff6666; }
div.calendar2 span.rstt0100 { background-color:#676767; }
div.calendar2 span.rstt0010s,div.calendar2 span.rstt0011s,div.calendar2 span.rstt0020s,div.calendar2 span.rstt0030s,div.calendar2 span.rstt0100s { font-size:11px; width:11px; height:11px; line-height:11px; padding:2px 1px 1px 1px; color:White; margin-right:3px;}
div.calendar2 span.rstt0010s { background-color:#5eb917; }
div.calendar2 span.rstt0011s { background-color:#5eb917; }
div.calendar2 span.rstt0020s { background-color:#3399ff; }
div.calendar2 span.rstt0030s { background-color:#ff6666; }
div.calendar2 span.rstt0100s { background-color:#676767; }
div.calendar2 ul { list-style:none; margin:0px; padding:0px; }
div.calendar2 ul li { margin:0px; padding:0px; overflow:hidden; line-height:18px; height:18px; font-size:12px; }
@media screen and (max-width:480px) {
	div.calendar2 span.ss0001, div.calendar2 span.ss0002, div.calendar2 span.ss0003, div.calendar2 span.ss0004, div.calendar2 span.ss0005{padding:0;margin-left:0;width:100%;font-size:11px;}
	div.calendar2 span.wk0000, div.calendar2 span.wk0010, div.calendar2 span.wk0020, div.calendar2 span.wk0030{margin-left:0;padding:0;width:100%;font-size:10px;letter-spacing:-1px;}
	div.calendar2 div.tdInfo{text-align:center;}
	div.calendar2 table dl.tblRate {*width:100%;}
	div.calendar2 table dl.tblRate dt{width:100%;}
	div.calendar2 table dl.tblRate dd{width:100%;color:#000066;padding-right:3px;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box; *text-align:center;}	
	div.calendar2 table th.w_th_0, div.calendar2 table th.w_th, div.calendar2 table th.w_th_6{padding:3px 0;}
	div.calendar2 table td.d_td_0, div.calendar2 table td.d_td, div.calendar2 table td.d_td_6 { padding:5px 0;text-align:center;}
	div.calendar2 table th.d_th_0, div.calendar2 table th.d_th, div.calendar2 table th.d_th_6{text-align:center;padding-left:0;}
	div.calendar2 span.hday {position:static; width:100%;display:block;margin:0;font-size:10px;letter-spacing:-1px; }
	div.calendar2 span.dcNm { margin:0;letter-spacing:-1px;font-size:10px; }
	div.calendar2 .book_hide{display:none;}
}
@media screen and (min-width:481px) and (max-width:635px) {
	div.calendar2 table th.d_th_0, div.calendar2 table th.d_th, div.calendar2 table th.d_th_6{text-align:center;padding-left:0;}
	div.calendar2 span.hday {position:static; width:100%;display:block;margin:0;letter-spacing:-1px; }
}
@media screen and (min-width:481px) and (max-width:755px) {
	div.calendar2 span.ss0001, div.calendar2 span.ss0002, div.calendar2 span.ss0003, div.calendar2 span.ss0004, div.calendar2 span.ss0005{padding:0;margin-left:0;width:100%;}
	div.calendar2 span.wk0000, div.calendar2 span.wk0010, div.calendar2 span.wk0020, div.calendar2 span.wk0030{margin-left:0;padding:0;width:100%;}
	div.calendar2 table dl.tblRate dt{width:100%}
	div.calendar2 table dl.tblRate dd{width:100%;color:#000066;}		
}
@media screen and (min-width:756px) and (max-width:985px) {
	div.calendar2 table dl.tblRate dt{width:50%;}
	div.calendar2 table dl.tblRate dd{width:50%;}
}


/* 객실에서 뺄 것 */
#room_des .room_tit { display:none;}
#room_des .room_data li:last-child { display:none;}
