@charset "utf-8";
/* Cont01 */
.Cont01 {
    position: relative;
}
.mainTypo {
    position: absolute;
    width: 1200px;
    max-width: 100%;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform:translate(-50%, -50%); 
    -webkit-transform:translate(-50%, -50%); 
    text-align: center;
    color: #fff;
}
.mainTypo h1 {
    text-transform: uppercase;
    text-shadow: 0px 0px 10px #626262;
    font-size: 5em;
    padding-bottom: 1%;
    letter-spacing: 10px;
}
.mainTypo p {
    text-shadow: 0px 0px 10px #626262;
}
.reser_Btn a {
    position: absolute;
    z-index: 10;
    bottom: 0;
    right: 0;
    display: block;
    font-size: 23px;
    color: #fff;
    background: #b4b2b2;
    padding: 15px 30px;
    transition: 0.4s all; 
}
.reser_Btn a:hover {
    background: #fff;
    color:#b4b2b2
}
.reser_Btn a:hover .reser_line, .reser_Btn:hover .reser_line::before {
    background: #b4b2b2;
}
.reser_line {
    width: 30px;
    height: 1px;
    background: #fff;
    position: relative;
    display: inline-grid;
    vertical-align: super;
    justify-items: start;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-left: 10px;
}
.reser_line::before {
    position: absolute;
    display: block;
    content: "";
    width: 10px;
    height: 1px;
    top: -4px;
    right: 0;
    background: #fff;
    transform: rotate(45deg);
}

/* cont02 */
.Cont02 {
    position: relative;
}
.con02_01 {}
.con02_01_m{
    display: none;
}
.roomss{
    padding-top: 15px;
    top: 25px !important;
}
.roomss .con02_txt p{
    padding-top: 50px;
}
.con02_02 {
    position: absolute;
    top: 120px;
    left: 80px;
}
.roomss .con02_txt h2{
    padding-top: 25px;
    margin-bottom: 65px;
}
.roomss .con02_txt{
    padding: 0 0 45px 80px;
}
.roomss .con02_txt h2::before{
    top: 120px;
}
.roomss .con02_txt span{
    margin-bottom: 35px;
}
.con02_txt {
    color: #fff;
    border-left: 1px solid #fff;
    padding: 95px 0 95px 80px;
}
.con02_txt h2 {
    position: relative;
    font-size: 57px;
    font-weight: 400;
    margin-bottom: 180px;
}
.con02_txt h2::before {
    position: absolute;
    display: block;
    content: "";
    width: 24px;
    height: 46px;
    background: url('/images/common/simbol.png')no-repeat top center;
    top: 120px;
}
.con02_txt span {
    color: #ceb97d;
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 60px;
    display: block;
}
.con02_txt p {
    font-size: 1em;
    line-height: 1.7;
}

/* cont03 */
.Cont03 {position: relative;}
.main02-swiper {
    position: relative;
    width: 1619px;
    margin: 40px auto;
    overflow: unset !important;
}
.main02-button-next, .main02-button-prev {
    position: absolute;
    top: 45%;
    width: 40px;
    height: 75px;
    cursor: pointer;
    transition: 0.3s all;
}
.main02-swiper > .main02-button-prev {left: -93px;}
.main02-swiper > .main02-button-next {right: -93px;}
.main02-swiper > .main02-button-next:hover {
    right: -103px;
}
.main02-swiper > .main02-button-prev:hover {
    left: -103px;
}
/* cont04 */
.Cont04 {}
.con04_box {
    background: url('/images/main/img01_03.jpg')no-repeat top center;
    background-size: cover;
    background-attachment: fixed; 
}
.con04_box h2 {
    font-weight: 400;
    font-size: 50px;
    padding: 125px 0;
    text-align: center;
    color: #fff;
    letter-spacing: 15px;
}


/* cont06 */
.Cont06 {}
.con06_box {
    position: relative;
    width: 97%;
    margin: 30px auto;
}
.con06_txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform:translate(-50%, -50%); 
    -webkit-transform:translate(-50%, -50%); 
    text-align: center;
    color: #fff;
    width: 100%;
}
.con06_txt h2 {
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 30px;
    /*margin-bottom: 35px;*/
}
.con06_txt p {
    font-size: 18px;
    line-height: 2.5em;
}
@media (max-width: 1800px) {
    .main02-swiper {
        width: 80%;
    }
}
@media (max-width: 1500px) {
    .main02-swiper {
        width: 80%;
    }
    .mainTypo {
        width: 600px;
    }
    .mainTypo h1 {
        font-size: 2em;
        letter-spacing: 5px;
    }
    .mainTypo p {
        font-size: 0.7em;
    }
}
@media (max-width: 1024px) {
    .con06_box {
        margin: 20px auto;
    }
    .mainTypo {
        width: 500px;
    }
    .con06_txt h2 {
        font-size: 2em;
        letter-spacing: 15px;
    }
    .con06_txt p {
        font-size: 0.9em;
        line-height: 1.5em;
    }
}
@media (max-width: 750px) {
    
    .con02_01_m{
        display: block;
        position: relative;
    }
    .mainTypo {
        width: 300px;
    }
    .mainTypo p {
        display: none;
    }

}
@media (max-width: 500px) {
    .main-swiper > .main-button-next, .main-swiper > .main-button-prev, .main-swiper > .swiper-pagination {
        display: none !important;
    }
    .reser_Btn {
        display: inline-block;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .reser_Btn a {
        position: relative !important;
        text-align: right;
        font-size: 15px;
        padding: 10px 15px;
    }
    .con02_02 {
        position: unset;
        background: #0d1b2b;
    }
    .roomss{
        background-color: transparent;
        position: absolute;
        top: 30%;left: 50%;
        transform: translateX(-50%);
    }
    .con02_txt {
        border: none;
        width: 90%;
        margin: 0 auto;
        padding: 30px 0;
    }
    .con02_txt h2 {
        /*margin-bottom: 90px;
        font-size: 3em;*/
        margin-bottom: 60px;
        font-size: 1.5em;
    }
    .con02_txt h2::before {
       width: 20px;
       height: 42px;
       top: 45px;
       background-size: contain;
    }
    .con02_txt span {
        color: #ceb97d;
        font-size: 1.2em;
        margin-bottom: 30px;
        display: block;
    }
    .con02_txt p {
        font-size: 0.7em;
        line-height: 1.5;
    }
    /*.main02-button-next, .main02-button-prev {
        width: 20px;
        height: 38px;
        top: 44%;
    }
    .main02-swiper > .main02-button-next {
        right: -34px;
    }
    .main02-swiper > .main02-button-prev {
        left: -34px;
    }
    .main02-swiper > .main02-button-prev:hover {
        left: -34px;
    }
    .main02-swiper > .main02-button-next:hover {
        right: -34px;
    }*/
    .main02-swiper {
        width: 100%;
    }
    .main02-swiper > .main02-button-next,  .main02-swiper > .main02-button-prev {
        display: none !important;
    }
    .con04_box h2 {
        /*font-size: 2em;
        padding: 60px 0;*/

        font-size: 1.7em;
        padding: 40px 0;
    }
    .con05_box p {
        margin-right: 10px;
        font-size: 0.7em;
        line-height: 1.8em;
    }    
    .con06_txt h2 {
        font-size: 1em;
        letter-spacing: 8px;
    }
    .con06_txt p {
        font-size: 0.6em;
        line-height: 1.5em;    
    }
}





















