@charset "utf-8";

.roomPre {
    position: relative;
    width: 80%;
    margin: 30px auto;
}
.img_100 {
    width: 100%;
    height: auto !important;
    vertical-align: top;
}
@media (max-width:1024px) {
    .roomPre {
        width: 90%;
    }
}
.precont01 {
    position: relative;
}
.pre_sub_title {
    padding: 5% 0 5% 0 !important;
}
.B_Typo {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    z-index: 9;
    font-size: 70px;
    color: #fff;
    font-weight: 400;
    letter-spacing: 20px;
    text-shadow: 0px 0px 10px #626262;
}

.precont02 {
    position: relative;
}
.precont02:after {display: block; content: ""; clear: both;}
.precont02_01 {
    float: left;
    position: relative;
    width: 27%;
    padding-bottom: 835px;
}
.precont02_01 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.precont02_02 {
    position: relative;
    width: 100%;
}

.precont02_txt {
    text-align: center;
    margin: 45px 0;
}
.precont02_txt span {
    font-size: 1em;
    font-weight: 600;
    color: #797878;
    font-weight: 400;
}
.precont02_txt h3 {
    position: relative;
    font-size: 20px;
    color: #424242;
    margin-bottom: 80px;
}
/*.precont02_txt h3::before {
    position: absolute;
    display: block;
    content: "";
    top: 70px;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform:translate(-50%, -50%); 
    -webkit-transform:translate(-50%, -50%); 
    width: 16px;
    height: 29px;
    background: url('/images/common/after.png')no-repeat center center;
}*/
.precont02_txt p {
    font-size: 0.9em;
    color: #c3c3c5;
}


.precont03 {
    position: relative;
}
.precont03_box {
    display: flex;
    margin-bottom: 50px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.precont03_item {
    margin: 2% 1%;
    width: 31%;
}


.precont03_img {width: 100%;}
.precont03_txt {
    text-align: center;
}
.precont03_txt h3 {
    margin-top: 30px;
    margin-bottom: 10px;
    position: relative;
    font-size: 30px;
    color: #4e4e4e;
    font-weight: 400;
    display: inline-block;
}
.precont03_txt h3::before {
    position: absolute;
    display: block;
    content: "";
    top: -27px;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform:translate(-50%, -50%); 
    -webkit-transform:translate(-50%, -50%); 
    width: 80%;
    height: 7px; 
    background: #0a2545;
}
.precont03_txt p {
    font-size: 1em;
    color: #777777;
}

@media (max-width: 1024px) {
    #preview_wrap > #roomList > .room_typo {padding: 0 0 30px 0;}
    .B_Typo {
        font-size: 2em;
        letter-spacing: 5px;
    }
    .precont02_txt {
        margin: 20px 0;
    }
    .precont02_txt h3 {
        margin-bottom: 50px;
    }
    .precont02_txt h3::before {
        top: 53px;
    }
    .precont03_txt h3 {font-size: 1.2em;}
    .precont03_txt p {font-size: 0.7em;}
    #preview_wrap > #roomList {
        margin-bottom: 20px;
    }
}
@media (max-width:768px) {
    .precont03 {
        width: 70%;
        margin: 0 auto;
    }
    .precont03_box {overflow: hidden;}
    .precont03_item:first-child {
        margin: unset;
    }
    .precont03_item:last-child {
        margin: unset;
    }
    .precont03_item {
        margin: unset;
    }
    .pre-button-next, .pre-button-prev {
        top: 35% !important;
        width: 30px;
        height: auto !important;
        margin-top: unset !important;
        display: block !important;
        transition: 0.3s all;
        cursor: pointer;
        position: absolute;
        z-index: 99;
    }
    .pre-button-next {right:-50px;}
    .pre-button-prev {left:-50px;}
}
@media (max-width: 500px) {
    .B_Typo {
        font-size: 1em;
        letter-spacing: 3px;
    }
    .precont02_txt h3 {font-size: 0.9em;}
    .precont02_txt h3::before {
        top: 40px;
    }
    .precont02_txt p {font-size: 0.6em;}
    .precont03_txt h3 {font-size: 0.7em;}
    .precont03_txt p {font-size: 0.6em;}
}



