.RoomCon01 {position: relative;}
.RoomCon01 > .roomTypo {
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 70% !important;
}
.RoomCon01 > .roomTypo h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    color: #fff;
    font-size: 3.5em;
    width: 100%;
    letter-spacing: 20px;
    text-shadow: 0px 0px 10px #626262;
}
.room-swiper > .swiper-button-next, .room-swiper > .swiper-button-prev {
    top: 48% !important;
    width: 145px !important;
    height: auto !important;
    margin-top: unset !important;
    display: block !important;
    transition: 0.3s all;
}
.room-swiper > .swiper-button-prev {
    left: 1.5% !important;
    right: auto;
}
.room-swiper > .swiper-button-next {
    right: 1.5% !important;
    left: auto;
}
.room-swiper > .swiper-button-next:after, .room-swiper > .swiper-button-prev:after {
    content: '' !important;
}
.room-swiper > .swiper-button-next:hover {
    right: 20px !important;
}
.room-swiper > .swiper-button-prev:hover {
    left: 20px !important;
}
.room_swiper-pagination {
    bottom: 2% !important;
    text-align: center;
    left: 0;
    width: 100%;
    position: absolute;
    z-index: 10;
}
.RoomCon02 {
    width: 100%;
    text-align: center;
    padding: 1.5% 0;
}
.RoomCon02 p, .RoomCon02 h3 {
    text-transform: uppercase;

}
.RoomCon02 h3 {
}
.RoomCon02 p {
    font-size: 0.95em;
    color: #797878;
    font-weight: 600;
    margin-bottom: 0.5%;
    letter-spacing: 4px;
}
.RoomCon02 h3 {
    font-size: 1.2em;
    color: #424242;
    font-weight: bold;
    letter-spacing: 6px;
}
.RoomCon02 h3::after {
    content: '';
    display: block;
    width: 18px;
    height: 30px;
    margin: 1% auto;
    background: url('/images/common/after.png') no-repeat;
}
.RoomCon02 span {
    font-size: 0.8em;
    color: #a8a8a8;
    line-height: 0.9em;

}
.room_contents {
    width: 96%;
    max-width: 1520px;
    margin: 0 auto;
}
.RoomCon03 {
    width: 100%;
    text-align: center;
}
.RoomCon03 > .logo {
    margin: 0 auto;
    width: 450px;
}
.RoomCon04 {
    width: 100%;
    text-align: center;
}
.RoomCon04 > .img {
    margin: 0 auto 1% auto;
    width: 88.36%;
}
.RoomCon04 > .img > .img01 {
    float: left;
    width: calc(100% / 3);
    background-size: cover;
    padding-bottom: 37%;
}
.RoomCon04 > .img > .img02 {
    float: left;
    width: calc(100% / 3);
    background-size: cover;
    padding-bottom: 37%;
}
.RoomCon04 > .img > .img03 {
    float: left;
    width: calc(100% / 3);
    background-size: cover;
    padding-bottom: 37%;
}
.RoomCon04 > .img::after { display: block; content: ''; clear: both;}
.RoomCon04 > .img img{
    float: left;
}
.RoomCon05 {
    position: relative;
    width: 88.36%;
    margin: 0 auto 1% auto;
}
.RoomCon05 > p {
    position: absolute;
    width: 100%;
    left: 50%; top: 50%;
    transform: translate(-50%,-50%);
    z-index: 5;
    text-align: center;
    font-size: 2em;
    color: #fff;
}
.RoomCon06 {
    position: relative;
    width: 100%;
}
.RoomCon06 p{
    position: absolute;
    left: 50%; top:50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 13px;
}
.RoomCon07 {
    width: 100%;
}
.RoomCon07_01 {
    float: left;
    width: 60%;
}
.RoomCon07_02 {
    float: left;
    width: 40%;
}
.RoomCon07_02::after { display: block; content: ''; clear: both;}
.RoomCon07_02 p {
    text-align: center;
    color: #a0a0a0;
    padding-top: 37.5%;
}
.RoomCon07_03 {
    width: 100%;
    text-align: center;
}
.RoomCon08 {
    width: 100%;
    text-align: center;
    background: url('/images/common/txt_bar.jpg') no-repeat center center;
    background-size: cover;
    padding: 3% 0;
    color: #e0dede
}
.RoomCon08 p, .RoomCon08 h1{
}
.RoomCon08 p {
    font-size: 0.95em;
    font-weight: bold;
    letter-spacing: 2px;
}
.RoomCon08 h1{
    font-size: 1.9em;
    letter-spacing: 5px;
    line-height: 1.2em;
    padding: 1% 0;
}
.RoomCon08 span {
    font-size: 0.9em;
    line-height: 1.8em;
}
.RoomCon09 {
    width: 100%;
}
.RoomCon09::after { display: block; content: ''; clear: both;}
.RoomCon09_01{
    float: left;
    width: 50%;
}
.RoomCon09_02{
    float: left;
    width: 50%;
}
@media (max-width: 1024px) {
    .RoomCon01 .roomTypo {
        display: none;
    }
}
@media (max-width: 650px) {
    .block650 {display: block !important;}
    .room-swiper > .swiper-button-next, .room-swiper > .swiper-button-prev { 
        display: none !important;
    }
    .RoomCon02 {
        padding: 5% 0 0 0;
    }
    .RoomCon02 p {
        font-size: 0.6em;
    }
    .RoomCon02 h3 {
        font-size: 0.8em;
        color: #424242;
        font-weight: bold;
        letter-spacing: 3px;
    }
    .RoomCon02 span {
        display: none;
    }
    .RoomCon02 h3::after {
        content: '';
        display: block;
        width: 15px;
        height: 20px;
        margin: 1% auto;
        background: url('/images/common/after.png') no-repeat center center;
        background-size: contain;
    }
    .RoomCon03 > .logo {
        margin: 0 auto;
        width: 250px;
    }
    .RoomCon05 {
        margin: 0 auto 6% auto;
    }
    .RoomCon05 > p {
        font-size: 1em;
    }
    .RoomCon06 {
        display: none;
    }
    .RoomCon07_01 {
        float: none;
        width: 100%;
    }
    .RoomCon07_02 p {
        display: none;
    }
    .RoomCon08 p {
        display: none !important;
    }
    .RoomCon08 h1 {
        font-size: 1em;
        letter-spacing: 3px;
        line-height: 1.2em;
        padding: 1% 0;
    }
    .RoomCon08 span {
        font-size: 0.6em;
        line-height: 0.5em !important;
    }
}