.img00 {vertical-align: top; max-width: 100%; margin: 0 auto;}
.spCon01 {position: relative;}
.spTypo {
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 70% !important;
}
.spTypo h1 {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 3.5em;
    width: 100%;
    letter-spacing: 20px;
    text-shadow: 0px 0px 10px #626262;
}
.special-swiper > .swiper-button-next, .special-swiper > .swiper-button-prev {
    top: 48% !important;
    width: 145px !important;
    height: auto !important;
    margin-top: unset !important;
    display: block !important;
    transition: 0.3s all;
}
.special-swiper > .swiper-button-prev {
    left: 1.5% !important;
    right: auto;
}
.special-swiper > .swiper-button-next {
    right: 1.5% !important;
    left: auto;
}
.special-swiper > .swiper-button-next:after, .special-swiper > .swiper-button-prev:after {
    content: '' !important;
}
.special-swiper > .swiper-button-next:hover {
    right: 20px !important;
}
.special-swiper > .swiper-button-prev:hover {
    left: 20px !important;
}
.special-swiper > .special-swiper-pagination {
    bottom: 2% !important;
    text-align: center;
    left: 0;
    width: 100%;
    position: absolute;
    z-index: 10;
}


/* spList */
.spCon02 {
    background: url('/images/main/bg01.jpg')no-repeat top center;
    background-size: contain;
}
.spConWrapper {
    position: relative;
    border-bottom: 1px solid #838282;
    border-top: 1px solid #838282;
}
.spConWrapper:after{content:'';display:table;clear:both;}
.spCon02 .spConWrapper > .title{
    border-left: 1px solid #838282;
    position:relative;
    float: left;
    width: 750px;
    padding-top:46%;
    margin-left: 95px;
    -webkit-transition:all .3s ease-in-out;
    -moz-transition:all .3s ease-in-out;
    -ms-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out;
}
.speciallist_content{
    /* float: right; */
    position: absolute;
    width: 998px;
    right: 90px;
    top: 70px;
}
.title_inner{position:absolute;top:0;left:0;width:100%;height:100%; z-index: 100;}

.sp_outer{
    display:table;
    width: 88%;
    padding-top: 45px;
    padding-left: 40px;
}
.sp_boxx {
    padding-top: 60px;
    padding-left: 45px;
    padding-bottom: 40px;
    border-bottom: 1px solid #838282;
}
.sp_boxx1{
    text-align: right;
}
.sp_boxx1 span{
    display: inline-block;
    width: 68%;
    text-align: left;
    font-size: 24px;
    margin-bottom: 15px;
}
.sp_boxx1 .spTitle_txt{
    display: inline-block;
    width: 68%;
    text-align: left;
}
.sp_boxx1 h2{text-align: left;
    display: inline-block;
    width: 68%;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
.sp_boxx h2 {
    font-size: 57px;
    color: #323232;
    margin-bottom: 20px;
}
.spTitle_txt {
    font-size: 16px;
    color: #858687;
}
@media (max-width:1900px){
	.rt_outer {
		background-size: cover; 
	}
}
.sp_inner{}
.sp_head{
    margin-bottom: 120px;
    position: relative;
	font-weight: 500;
	font-size:45px;
    color:#323232;
    line-height:1;
	-webkit-transform:none;
    -ms-transform:none;
    transform:none;
    -webkit-transition:all .3s ease-in-out;
    -moz-transition:all .3s ease-in-out;
    -ms-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out;
}
.sp_head::before {
    top: 85px;
    display: block;
    content: "";
    position: absolute;
    width: 24px;
    height: 46px;
    background: url('/images/common/after.png')no-repeat top center;
} 
.sp_objectt {
    font-size: 20px;
    color: #ceb97d;
    margin-bottom: 40px;
}
.sp_body{ 
    color: #838282; 
	font-size:16px;
	line-height:1.8;
    margin-bottom:10%;
    -webkit-transform:none;
    -ms-transform:none;
    transform:none;
    -webkit-transition:all .3s .15s ease-in-out;
    -moz-transition:all .3s .15s ease-in-out;
    -ms-transition:all .3s .15s ease-in-out;
    -o-transition:all .3s .15s ease-in-out;
    transition:all .3s .15s ease-in-out}

.sp_desc{
    font-size:1.07em;
    line-height:1.8;
    -webkit-transform:none;
    -ms-transform:none;
    transform:none;
    opacity:1;
    filter:alpha(opacity=100;);
    -webkit-transition:all .3s .15s ease-in-out;
    -moz-transition:all .3s .15s ease-in-out;
    -ms-transition:all .3s .15s ease-in-out;
    -o-transition:all .3s .15s ease-in-out;
    transition:all .3s .15s ease-in-out
}
.spCon02_01_img {
    width: 95%;
    margin: 80px auto 60px; 
}
.spCon02_01_box p {
    margin-right: 50px;
    text-align: right;
    color: #838282;
    line-height: 1.7em;
    padding-bottom: 3%;
    FONT-SIZE: 1.05em;
}

.spCon03 {
    width: 100%;
}
.spCon03::after { display: block; content: ''; clear: both;}
.spCon03_01 {
    width: 100%;
}
.spCon03_01 .img01, .spCon03_01 .img02, .spCon03_02 .img03, .spCon03_02 .img04 {
    float: left;
    width: 50%;
}

@media (max-width: 1800px) {
    .spConWrapper {
        border-top: 1px solid #838282;
    }
    .spCon02 .spConWrapper > .title {
        width: 100%;
        margin-left: 2%;
        border-right: none;
    }
    .speciallist_content {
        position: unset;
        float: right;
        width: 100%;
        padding-top: 10%;
        padding-right: 0;
    }
    .speciallist_content > img { width: 100% }
    .spCon02 .spConWrapper > .title {
        border-left: none;
    }
    .sp_inner {
        border-left: 3px solid #0a2545;
        box-sizing: border-box;
        padding: 15px;
    }
}
@media (max-width: 1500px) {
    .sp_boxx {
        display: none !important;
    }
    .sp_outer {
        width: 80%;
    }
    .spCon02_01_box p {
        margin-right: 3%;
        text-align: right;
        color: #838282;
        line-height: 2;
        padding-bottom: 3%;
    }
}
@media (max-width: 1350px) {
    .sp_head {
        margin-bottom: 80px;
        font-size: 30px;
    }
    .sp_head::before {
        top: 50px;
        display: block;
        content: "";
        position: absolute;
        width: 24px;
        height: 46px;
        background: url('/images/common/after.png')no-repeat top center;
    }
}
@media (max-width: 1024px) {
    .sp_outer {width: 90%;}
    .spCon02 .spConWrapper > .title {
        width: 100%;
        margin-left: 2%;
        border-right: none;
        float: unset;
        padding-top: unset;
        position: unset;
    } 
    .speciallist_content {float: unset; padding-top: 5%;}
    .title_inner {position: unset;}
}
@media (max-width: 845px) {
    .spTypo h1 { display: none; }
    .sp_objectt {
        display: none;
    }
    .spCon02_01_box p {
        font-size: 0.8em;
    }
    .spCon02_01_img {
        width: 95%;
        margin: 30px auto;
    }
    .spCon02_01_box p {
        padding-bottom: 5%;
    }
}
@media (max-width: 700px) {
    .sp_outer {
        display: table;
        padding-top: 30px !important;
        padding-left: 25px !important;
    }
    .special-swiper > .swiper-button-next, .special-swiper >.swiper-button-prev {
        display: none !important;
    }
    .sp_head {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 60px;
    }
    .sp_head::before {
        top: 35px;
        display: block;
        content: "";
        position: absolute;
        width: 24px;
        height: 46px;
        background: url('/images/common/after.png')no-repeat top center;
    }
    .sp_body {
        font-size: 13px;
        line-height: 1.5;
        margin-bottom: 0;
    }
}
@media (max-width: 500px) {
    .sp_outer {
        display: table;
        padding-top: 20px !important;
        padding-left: 15px !important;
    }
    .sp_head {
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 30px;
    }
    .sp_head::before {
        display: none !important;
    }
    .sp_body {
        font-size: 10px;
        line-height: 1.5;
        margin-bottom: 0;
    }
    .spCon02_01_box p {
        margin-right: 15px;
        font-size: 0.7em;
        line-height: 1.6em;
    }
}