.tourCon01 {
    width: 100%;
    background: url('/images/travel/01_01.jpg') no-repeat center center;
    background-size: cover;
    padding-bottom: 35%;
}
.tourCon02 {
    width: 100%;
    text-align: center;
    padding: 60px 0 70px 0;
}
.tourCon02 .title p {
}
.tourCon02 .title p::after {
    display: block;
    content: "";
    width: 18px;
    height: 1px;
    background: #4a3129;
    margin: 20px auto;
}
.tourCon02 .title h1 {
    font-size: 57px;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 65px;
}

.tourCon03{
    width: 100%;
    max-width: 1520px;
    margin: 0 auto !important;
    padding-bottom: 5%;
}
.tourCon03::after {display: block; content: ''; clear: both;}
.tourCon03 .tourlist {
    margin: 0 auto;
}
.tourCon03 .tourlist::after {
    content: "";
    display: block;
    clear: both;
}
.tourCon03 .tourlist img {
    vertical-align: top;
    width: 100%;
    max-width: 100%;
}
.tourCon03 .tourlist li {
    float: left;
    width: 50%;
    padding: 0 1.5em;
    margin: 0 auto;
    box-sizing: border-box;
}
.tourCon03 .tourlist dl {
    padding: 3% 0 6% 0;
}
.tourCon03 .tourlist dl dt {
    font-size: 1.3em;
    line-height: 1.5em;
    letter-spacing: -0.05em;
    font-weight: 200;
}
.tourCon03 .tourlist dl dt .line {
    display: block;
    width: 48px;
    height: 1px;
    background: #000;
    margin: 0.8em 0 0.5em 0;
}
.tourCon03 .tourlist dl dd {
    text-align: justify;
}
.tourCon03 .tourlist .blank{
    width: 100%;
    display: block;
}
@media (max-width: 1580px) {
    .tourCon03 .tourlist li {
        padding: 0 0.5em;
    }
}
@media (max-width: 750px) {
    .tourCon02 {
        padding: 50px 0 30px 0;
    }
    .tourCon02 .title p::after {
        margin: 15px auto;
    }
    .tourCon02 .title h1 {
        font-size: 35px;
        font-weight: 600;
        padding-bottom: 20px;
    }
    .tourCon03 .tourlist li {
        width: 100%;
        padding: 0 1.5em;
    }
    .tourCon03 .tourlist dl dt {
        font-size: 1em;
        line-height: 1.3em;
    }
    .tourCon03 .tourlist dl dd {
        font-size: 0.9em;
        line-height: 1.4em;
    }
}
