@charset "utf-8";
@import url(./default.css);
html, body{
    height: 100%;
}
body{
  position: relative;
}
.bg-wrap{
  width: 100%;
  position: absolute;top: 0;
  height: 100%;
  overflow: hidden;
  z-index: 9998;
}
.bg-wrap img{
  display: block;
}
.ac_box {
  position: absolute;
  top: 25%;
  left: 9%;
  z-index: 9999;
  width: 30%;
}

.ac_box .acco1 {
  width: 80%;
}

.ac_box .acco2 {
  width: 60%;
}

.ac_box .acco3 {
  width: 60%;
}

.margin1{
  margin-bottom: 5%;
}
.ac_box .accordion {
  border: none;
  background-color: transparent;
  color: #fff;
  border-bottom: 2px solid #fff;
  transition: 0.4s;
  font-family: 'bold';
}

.ac_box .flex {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  column-gap: 10px;
  row-gap: 5px;
}

.ac_box label {
  color: #fff;
  display: flex;
  margin-right: 5px;
  align-items: baseline;
}

.ac_box .panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
  font-size: 18px;
}

.accordion {
  background-color: #fff;
  color: #444;
  cursor: pointer;
  padding: 3px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  width: 95%;
  border-bottom: 2px solid #000;
  font-family: 'GowunDodum-Regular';
  font-size: 24px;
}


.ac_box .accordion:hover + .panel,
.ac_box .accordion.active + .panel,
.ac_box .panel:hover {
  max-height: 500px;
  transition: max-height 0.4s ease-out;
  display: block;  /* 추가된 부분 */
}

.ac_box .panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
  font-size: 18px;
  display: none;  /* 추가된 부분 */
}

/* 추가된 부분: .active인 경우에도 마우스 클릭 시 펼쳐진 상태 유지를 위해 */
.ac_box .accordion:active + .panel {
  max-height: 500px;
  transition: max-height 0.4s ease-out;
  display: block;  /* 추가된 부분 */
}

.panel {
  display: none;
  overflow: hidden;
}
.panel p{
  word-break: keep-all;
  width: 95%;
  line-height: 35px;
  font-size: 22px;
  font-family: 'GowunDodum-Regular';
}

.accordion:after {
  content: ''; /* Unicode character for "plus" sign (+) */
  display: block;
  background-image: url(/images/common/acco_arrow.png);
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 13px;
  color: #fff;
  float: right;
  margin-left: 5px;
  margin-top: 10px;
  width: 17px;
  height: 15px;
}



.go{
  display:block;
  border: 1px solid #fff;
  border-radius: 30px;
  font-size: 26px;
  text-align: center;
  background-color: transparent;
  font-family: 'bold';
  color: #fff;
  padding: 0 30px;
  height: 45px;
  line-height: 48px;
  cursor: pointer;
  margin-top: 8%;
  vertical-align: middle;
}

 input[type="checkbox"]{
  display: none;
} 
 input[type="checkbox"] + label{
  display: inline-block;
  width: 10px;
  height: 10px;
  border:1px solid #fff;
  background-color: #fff;
  position: relative;
  margin-right: 5px;
}
input[type="checkbox"]:checked + label::after{
  content:'✔';
  color: #ED2B55;
  font-size: 14px;
  font-weight: bold;
  width: 12px;
  height: 12px;
  text-align: center;
  position: absolute;
  left: 0;
  top:20%;
  transform: translateY(-50%);
} 

.textbox{
  color: #fff;
  position: absolute;
  bottom: 10%;
  right: 7%;
  z-index: 9999;
  text-align: right;
}
.textbox h2{
  font-family: 'vitro';
  font-size: 40px;
  margin-bottom: 5px;
}
.textbox p{
  font-family: 'NanumSquareNeo-Variable';
  font-size: 22px;
} 
#mobile{
  display: none;

}
#m_text{
  display: none;
}
.banner{
  display: none;
  width: 100%;
  margin: 0 auto;
  margin-top: 10%;
}
.banner img{
  display: block;
  width: 100%;
}
@media(max-width:991px){
  .textbox h2{
    font-size: 28px;
  }
  .textbox p{
    font-size: 18px;
  }
  .ac_box{
    width: 55%;
  }
  .go{
    font-size: 22px;
  }

  
}
@media(max-width:768px){
  .header .logo{
    width: 20% !important;
    left: 50% !important;
    top: 25% !important;
    transform: translateX(-50%) !important;
  }
  .logo #logo_pc{
    width: 100% !important;
  }

  input[type="checkbox"] + label{
    border-color: #474747;
  }
  .bg-wrap img{
    width: 100%;
  }
   .ac_box{
    display: block;
    width: 65%;
    margin: 0 auto;
    position: static;
    margin-top: 7%;
  } 

  .bg-wrap{
    position: relative;
  }

  .ac_box .accordion {
    border: none;
    background-color: transparent;
    color: #474747;
    border-bottom: 2px solid #474747;
    transition: 0.4s;
    font-family: 'bold';
  }
  
  .ac_box .flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    column-gap: 10px;
    row-gap: 5px;
    justify-content: space-around;
  }
  
  .ac_box label {
    color: #474747;
    display: flex;
    margin-right: 5px;
    align-items: baseline;
  }
  
  .ac_box .panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    font-size: 18px;
  }
  
  .accordion {
    background-color: #474747;
    color: #444;
    cursor: pointer;
    padding: 3px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    width: 95%;
    border-bottom: 2px solid #000;
    font-family: 'GowunDodum-Regular';
    font-size: 24px;
  }
  
  
  .ac_box .accordion:hover + .panel,
  .ac_box .accordion.active + .panel,
  .ac_box .panel:hover {
    max-height: 500px;
    transition: max-height 0.4s ease-out;
    display: block;  /* 추가된 부분 */
  }
  
  .ac_box .panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    font-size: 18px;
    display: none;  /* 추가된 부분 */
  }
  
  /* 추가된 부분: .active인 경우에도 마우스 클릭 시 펼쳐진 상태 유지를 위해 */
  .ac_box .accordion:active + .panel {
    max-height: 500px;
    transition: max-height 0.4s ease-out;
    display: block;  /* 추가된 부분 */
  }
  
  .panel {
    display: none;
    overflow: hidden;
  }
  .panel p{
    word-break: keep-all;
    width: 95%;
    line-height: 35px;
    font-size: 22px;
    font-family: 'GowunDodum-Regular';
  }
  
  .accordion:after {
    content: ''; /* Unicode character for "plus" sign (+) */
    display: block;
    background-image: url(/images/common/acco_arrow_m.png);
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 13px;
    color: #474747;
    float: right;
    margin-left: 5px;
    margin-top: 10px;
    width: 17px;
    height: 15px;
  }
  .ac_box .acco1, .ac_box .acco2, .ac_box .acco3{
    width: 100%;
  }
  .go{
    width: 55%;
    margin: 0 auto;
    margin-top: 5%;
    color: #474747;
    border-color: #474747;
  }
  .bg-wrap{
    height: auto;
  }
  body{
    position: static;
    height: auto;
    background-color: #F8F8F8;
  }
  html{
    height: auto;
  }
  .textbox{
    bottom: 7%;
    right: 0;
    left: 5% !important;
text-align: left;
  }
  #text_pc{
    display: none;
  }

  #m_text{
    display: block;
  }
  .textbox h2{
    font-size: 22px;
  }
  .textbox p{
    font-size: 14px;
  }
  .banner{
    display: block;
  }
}

@media(max-width:500px){
  .header .logo{
    width: 30% !important;
  }
  .bg-wrap{
    min-height: 350px;
  }
  .bg-wrap img{
    min-height: 350px;
  }
  .ac_box{
    margin-top: 12%;
  }
  body{
    height: auto;
  }
  .ac_box{

   width: 75%;
  
 } 
 .go{
  margin-top: 10%;
  width: 38%;
  font-size: 16px;
  padding: 0 15px;
 }
}