@charset "utf-8";
/* 기본설정 */
@import "default.css";
.aboutslide{
    position: relative;
}
.aboutslide img{
    width: 100%;
    height: 100%;
}
.about_intro{
    display: flex;
    padding: 10%;
    justify-content: space-around;
}
.about_intro .leftbox h2{
    font-size: 35px;
    display: inline-block;
    font-family: 'medium';
}
.about_intro .leftbox h2::after{
    content:'';
    display: block;
    height: 2px;
    width: 60%;
    background-color: #000;
    margin-top: 40px;
    margin-bottom: 110px;
}
.about_intro .leftbox p{
    font-size: 24px;
    color: #3B60B8;
    margin-bottom: 100px;
    font-family: 'medium';
}
.about_intro .leftbox{
    font-size: 14px;
    line-height: 25px;
    color: #505050;
    position: relative;
    padding-left: 3%;
    font-family: 'medium';
}
.about_intro .leftbox::before{
    content:'';
    display: block;
    width: 1px;
    height: 92%;
    background-color:#A1A1A1;
    position: absolute;
    left: 0;
    bottom: 1%;
    margin-right: 3%;
}
.about_intro .rightbox{
    width: 55%;
    max-height: 680px;
}
.about_intro .rightbox img{
    width: 100%;
    display: block;
}
.banner img{
    display: block;
    width: 100%;
}
.banner{
    margin-bottom: 7%;
}
.left_photo{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-between;
    height: auto;
}
.left_photo img{
    height: 48%;
}
.right_photo{
    width: 50%;
    height: auto;
}
.photos{
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1.5%;
    justify-content: space-between;
    gap: 3%;
}
.photos img{
    width: 100%;
    object-fit: cover; 
}
.below_photo{
    width: 80%;
    margin: 0 auto;
}
.below_photo img{
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 7%;
}
.aboutmap h2{
    font-size: 35px;
    text-align: center; 
    font-family: 'medium';
}
.aboutmap h2::after{
    content:'';
display: block;
width: 4%;
height: 2px;
background-color:#000;
margin: 0 auto;
margin-top: 35px;
margin-bottom: 70px;
}
.mapbox{
    width: 85%;
    margin: 0 auto;
    max-height: 750px;
    margin-bottom: 5%;
}
.mapbox img{
    width: 100%;
    max-height: 750px;
}
@media(max-width:768px){
    .about_intro{
        display: block;
    }
    .about_intro .leftbox{
        text-align: center;
        margin-bottom: 5%;
    }
    .about_intro .leftbox::before{
        display: none;
    }
    .about_intro .rightbox{
        width: 100%;
        
    }
    .about_intro .rightbox img{
        height: auto;
    }
    .about_intro .leftbox h2::after{
        margin: 0 auto;
        margin-top: 15%;
        margin-bottom: 15%;
    }
    .about_intro .leftbox p{
        margin-bottom: 3%;
    }
    .banner img{
        height: auto;
    }
}

@media(max-width:500px){

    .aboutmap h2{
        font-size: 24px;
    }
    .aboutmap h2::after{
        width: 18%;
        margin-top: 7%;
        margin-bottom: 5%;
    }
    .photos{
        width: 85%;
    }
    .below_photo{
        width: 85%;
    }
    .below_photo img{
        margin-bottom: 12%;
    }
    .about_intro .leftbox{
        font-size: 12px;
    }
}