@charset "utf-8";
/* 기본설정 */
@import "default.css";
.special_slide{
    position: relative;
    margin-bottom: 7%;
}
.special_slide .textbox{
    position: absolute;
    top: 50%;left: 50%;transform: translate(-50%,-50%);
    z-index: 9997;
}
.special_slide .textbox h2{
    font-size: 50px;
    color: #fff;
    letter-spacing: 5px;
    font-family: 'medium';
    text-align: center;
}
.special_slide .textbox h2 span{
    font-size: 22px;
}
.special_list{
    margin-bottom: 7%;
}
.special_list h2{
    font-size: 35px;
    text-align: center;
  margin-bottom: 7%;
  font-family: 'medium';
}
.special_list h2::after{
content:'';
display: block;
width: 4%;
height: 2px;
background-color:#000;
margin: 0 auto;
margin-top: 35px;
margin-bottom: 70px;
}
.flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    font-size: 17px;
    color: #505050;
    line-height: 50px;
}
.flex .leftbox{
    width: 65%;
}
.flex .leftbox img{
    display: inline-block;
    width: 100%;
}
.flex .rightbox{
    width: 30%;
    font-family: 'light';
}
.flex .rightbox a{
    font-weight: bold;
    font-size: 18px;
    color: rgb(125, 208, 0);
    border: 1px solid rgb(125, 208, 0);
    padding: 0 2%;
}
.flex .rightbox a:first-child{
    margin-bottom: 3%;
}
.flex .rightbox p{
    font-weight: bold;
    word-break: keep-all;
    
}
.flex .rightbox .routes{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.flex .rightbox p span{
    font-family:'light'!important;
}
.flex h3{
    color: #3B60B8;
    font-size: 20px;
    margin-bottom: 15px;
    font-family: 'medium';
}
.special_slide img{
    width: 100%;
    height: 100%;
}

@media(max-width:991px){

    .flex{
        display: block;
    }
    .flex .leftbox{
        width: 100%;
    }
    .flex .leftbox img{
        height: auto;
    }
    .flex .rightbox{
        width: 100%;
    }
    .flex .rightbox .routes{
        width: 90%;
        margin: 0 auto;
    }
    .flex .rightbox .routes a{
        font-size: 12px;
    }
}

@media(max-width:500px){
    .special_slide .textbox h2{
        font-size: 20px;
    }
    .special_list h2{
        font-size: 24px;
    }
    .special_list h2::after{
        width: 15%;
        margin-bottom: 5%;
        margin-top: 5%;
    }
    .special_slide{
        margin-bottom: 12%;
    }
    .flex .leftbox{
        margin-bottom: 3%;
    }
    .flex h3{
        margin-bottom: 0;
        font-size: 17px;
    }
    .flex .rightbox{
        font-size: 13px;
        line-height: 25px;
        margin-bottom: 12%;
        word-break:keep-all;
    }
    .special_slide img{
        height: auto;
    }
}

@media(max-width:320px){
    .flex h3{

        font-size: 15px;
    }
    .flex .rightbox{
        font-size: 13px;
        line-height: 34px;
    } 
}