@charset "utf-8";
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction
{
	display: flex;
  bottom: 3% !important;
  left: 50% !important;
  width: 50%;
  justify-content: center;
  transform: translateX(-50%);
}

.swiper-button-next:after, .swiper-button-prev:after{
  color: transparent;
}
.mainslide .swiper-pagination-bullet{
	width: 6px !important;
	height: 6px !important;
	border-radius: 0 !important;
	border: 1px solid #fff !important;
	opacity: 1 !important;
	background-color: transparent !important;
  border-radius: 100px !important;
}

.mainslide .swiper-pagination-bullet-active{
	background-color: #fff !important;
}


.mainslide-m .swiper-pagination-bullet-active{
	background-color: #fff !important;
}

/* about swiper */


.swiper-wrap{
  overflow: hidden;
}
.swiper3 .swiper-pagination-bullet{
	width: 6px !important;
	height: 6px !important;
	border-radius: 0 !important;
	border: 1px solid #fff !important;
	opacity: 1 !important;
	background-color: transparent !important;
  border-radius: 100px !important;
}

.swiper3 .swiper-pagination-bullet-active{
	background-color: #fff !important;
}


.swiper4 .swiper-pagination-bullet{
	width: 6px !important;
	height: 6px !important;
	border-radius: 0 !important;
	border: 1px solid #fff !important;
	opacity: 1 !important;
	background-color: transparent !important;
  border-radius: 100px !important;
}

.swiper4 .swiper-pagination-bullet-active{
	background-color: #fff !important;
}


.swiper6 .swiper-pagination-bullet{
	width: 6px !important;
	height: 6px !important;
	border-radius: 0 !important;
	border: 1px solid #fff !important;
	opacity: 1 !important;
	background-color: transparent !important;
  border-radius: 100px !important;
}

.swiper6 .swiper-pagination-bullet-active{
	background-color: #fff !important;
}
.roompreview .swiper2{
	overflow: hidden;
	width: 78%;
	margin: 0 auto;
	text-align: center;
}

.swiper2 .swiper-slide{
	min-height: 420px;
	max-height: 420px;

}
.swiper2 .swiper-slide img{
	display: block;

}
.swiper2 .swiper-wrapper{
	max-height: 420px;
}

.roompreview .swiper5{
	overflow: hidden;
	width: 78%;
	margin: 0 auto;
	text-align: center;
}

.swiper5 .swiper-slide{
	min-height: 420px;
	max-height: 420px;
	width: calc(100% / 3) !important;
}
.swiper5 .swiper-slide img{
	display: block;
object-fit: cover;
}
.swiper5 .swiper-wrapper{
	max-height: 420px;
}
/* .swiper2 .swiper-slide{
	width: auto !important;
	height: auto !important;
} */
.preview{
	position: relative;
}
.preview-m{
  position: relative;
  display: none;
}
.roomlist{
	position: relative;
}

.preview-m .swiper-wrap{
  width: 80%;
  margin: 0 auto;
}
.preview-m .swiper-horizontal{

  width: 75%;
  margin: 0 auto;
  overflow: hidden;
}
.preview-m .imgcover{
  width: auto;
  text-align: center;
}
.preview-m .swiper-slide{
  max-height: 450px;
  width: 80%;
}
.preview-m .swiper-wrapper{
  height: auto;
}
/* about swiper */
.mainbtn1{
    background: url(/images/common/main_left.png);
    background-repeat: no-repeat;
    width: 48px !important;
    height: 48px !important;
    left: 6%!important;
    top: 50% !important;
}
.mainbtn2{
    background: url(/images/common/main_right.png);
    background-repeat: no-repeat;
    width: 48px !important;
    height: 48px !important;
right: 6% !important;
top: 50% !important;
}

.aboutbtn1{
    background: url(/images/common/main_left.png);
    background-repeat: no-repeat;
    width: 48px !important;
    height: 48px !important;
    left: 120px !important;
    top: 50% !important;
}
.aboutbtn2{
    background: url(/images/common/main_right.png);
    background-repeat: no-repeat;
    width: 48px !important;
    height: 48px !important;
right: 120px !important;
top: 50% !important;
}

.roombtn1{
    background: url(/images/common/main_left.png);
    background-repeat: no-repeat;
    width: 48px !important;
    height: 48px !important;
    left: 120px !important;
    top: 50% !important;
}
.roombtn2{
    background: url(/images/common/main_right.png);
    background-repeat: no-repeat;
    width: 48px !important;
    height: 48px !important;
right: 120px !important;
top: 50% !important;
}

.preview1{
    background: url(/images/common/room_left.png);
    background-repeat: no-repeat;
    width: 42px !important;
    height: 42px !important;
    left: 6% !important;
    top: 38% !important;
}
.preview2{
  background: url(/images/common/room_right.png);
  background-repeat: no-repeat;
  width: 42px !important;
  height: 42px !important;
right: 6% !important;
top: 38% !important;
}
.preview1_m{
  background: url(/images/common/room_left.png);
  background-repeat: no-repeat;
  width: 42px !important;
  height: 42px !important;
  left: 7% !important;
  top: 41% !important;
}
.preview2_m{
  background: url(/images/common/room_right.png);
  background-repeat: no-repeat;
  width: 42px !important;
  height: 42px !important;
right: 7% !important;
top: 41% !important;
}


.roomlistbtn1{
    background: url(/images/common/room_left.png);
    background-repeat: no-repeat;
    width: 42px !important;
    height: 42px !important;
    left: 120px !important;
    top: 59% !important;
}
.roomlistbtn2{
    background: url(/images/common/room_right.png);
    background-repeat: no-repeat;
    width: 42px !important;
    height: 42px !important;
right: 120px !important;
top: 59% !important;
}

.specialbtn1{
    background: url(/images/common/main_left.png);
    background-repeat: no-repeat;
    width: 48px !important;
    height: 48px !important;
    left: 120px !important;
    top: 50% !important;
}
.specialbtn2{
    background: url(/images/common/main_right.png);
    background-repeat: no-repeat;
    width: 48px !important;
    height: 48px !important;
right: 120px !important;
top: 50% !important;
}


.swiper2 .swiper-slide:hover img{
	transition: all ease 0.8s;
	transform: scale(1.2);

	
}
.swiper2 .imgcover{
	max-width: 460px;
	max-height: 310px;
	overflow: hidden;
}

.swiper5 .swiper-slide:hover img{
	transition: all ease 0.8s;
	transform: scale(1.2);

	
}
.swiper5 .imgcover{
	max-width: 460px;
	max-height: 310px;
	overflow: hidden;
}
.roomlist .swiper-wrap{
	width: 80%;
	margin: 0 auto;
}
@media(max-width:991px){
  .swiper5 .swiper-slide{
    width: 100% !important;
    text-align: center !important;
    max-height: 500px;
    min-height: 500px;
  }
  .swiper5 .swiper-wrapper{
    max-height: 500px;
  }
  .swiper5 .imgcover{
 width: 70%;
 margin: 0 auto;
 max-width: none;
 max-height: none;
  }
  .swiper5 .swiper-slide img{
    display: block;
    width: 100%;
  }
  .roomlistbtn1,.roomlistbtn2{
top: 49% !important;
  }
  .roomlistbtn1{
    left: 8% !important;
  }
  .roomlistbtn2{
    right: 8% !important;
  }
}
@media(max-width:768px){
  .preview{
    display: none;
  }
  .preview-m{
    display: block;
  }
  .swiper3 .swiper-wrapper{
    height: auto !important;
  }
  .swiper4 .swiper-wrapper{
    height: auto !important;
  }
  .swiper6 .swiper-wrapper{
    height: auto !important;
  }
  .swiper5 .swiper-wrapper{
    max-height: 450px;
  }
}
@media(max-width:500px){
  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
    width: 80% !important;
  }
  .swiper3 .swiper-pagination-bullet{
    width: 10px !important;
    height: 10px !important;
  
  }
  
  .swiper4 .swiper-pagination-bullet{
    width: 10px !important;
    height: 10px !important;
   
  }

  .swiper6 .swiper-pagination-bullet{
    width: 10px !important;
    height: 10px !important;
  }
  .mainslide .swiper-pagination-bullet{
    width: 10px !important;
    height: 10px !important;
  
  }
  
  .mainslide .swiper-pagination-bullet-active{
    background-color: #fff !important;
  }
  .mainslide-m .swiper-pagination-bullet{
    width: 10px !important;
    height: 10px !important;
 
  }
.roombtn1{
    background: url(/images/common/m/main_left_m.png);
    background-repeat: no-repeat;
    width: 40px !important;
    height: 40px !important;
    left: 5% !important;
    top: 50% !important;
}
.roombtn2{
    background: url(/images/common/m/main_right_m.png);
    background-repeat: no-repeat;
    width: 40px !important;
    height: 40px !important;
right: 5% !important;
top: 50% !important;
}


  .swiper1 .swiper-wrapper{
    height: auto !important;
    min-height: 320px;
  }
  .swiper1 .swiper-wrapper img{
    min-height: 320px;
  }
  .mainslide .swiper-wrap{
    max-height: 320px !important;
  }

  .swiper3 .swiper-wrapper{
    height: auto !important;
    min-height: 320px;
  }
  .swiper3 .swiper-wrapper img{
    min-height: 320px;
    width: 100%;
  }
  .aboutslide .swiper-wrap{
    max-height: 320px !important;
  }
  .aboutslide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper4 .swiper-wrapper{
    height: auto !important;
    min-height: 320px;
  }
  .swiper4 .swiper-wrapper img{
    min-height: 320px;
    width: 100%;
  }
  .roomslide .swiper-wrap{
    max-height: 320px !important;
  }
  .roomslide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .mainbtn1{
    background: url(/images/common/m/main_left_m.png);
    background-repeat: no-repeat;
    width: 40px !important;
    height: 40px !important;
    left: 6%!important;
    top: 50% !important;
}
.mainbtn2{
    background: url(/images/common/m/main_right_m.png);
    background-repeat: no-repeat;
    width: 40px !important;
    height: 40px !important;
right: 6% !important;
top: 50% !important;
}
.aboutbtn1{
  background: url(/images/common/m/main_left_m.png);
  background-repeat: no-repeat;
  width: 40px !important;
  height: 40px !important;
  left: 6%!important;
  top: 50% !important;
}
.aboutbtn2{
  background: url(/images/common/m/main_right_m.png);
  background-repeat: no-repeat;
  width: 40px !important;
  height: 40px !important;
right: 6% !important;
top: 50% !important;
}
.specialbtn1{
  background: url(/images/common/m/main_left_m.png);
  background-repeat: no-repeat;
  width: 40px !important;
  height: 40px !important;
  left: 6% !important;
  top: 50% !important;
}
.specialbtn2{
  background: url(/images/common/m/main_right_m.png);
  background-repeat: no-repeat;
  width: 40px !important;
  height: 40px !important;
right: 6% !important;
top: 50% !important;
}
.swiper7 img{
  display: block;
  width: 100%;
  height: 100%;
}
.preview-m .swiper-horizontal{
  width: 70%;
}
.preview1_m{
  top: 37% !important;
  left: 3% !important;
}
.preview2_m{
  top: 37% !important;
  right: 3% !important;
}
.swiper5 .swiper-wrapper{
  max-height: 250px;
}
.swiper5 .swiper-slide{
  max-height: 250px;
  min-height: 250px;
}
.roomlistbtn1,.roomlistbtn2{
  top: 43% !important;
    }
    .roomlistbtn1{
      left: 3% !important;
    }

    .roomlistbtn2{
      right: 3% !important;
    }
  }
  @media(max-width:420px){
    .roomlistbtn1,.roomlistbtn2{
      top:51% !important;
        } 
  }
  @media(max-width:375px){
    .roomlistbtn1,.roomlistbtn2{
      top: 46% !important;
        } 
  }
  /* @media(max-width:375px) and (min-height:800px){
    .roomlistbtn1,.roomlistbtn2{
      top: 45% !important;
        }  
  } */
@media(max-width:320px){
   .roomlistbtn1,.roomlistbtn2{
      top: 44% !important;
        } 
}