@charset "utf-8";
/* 기본설정 */
@import "default.css";
.tourslide{
    width: 100%;
    height: 75%;
    background: url('/images/tour/01_01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    position: relative;
    margin-bottom: 7%;
}
.tourslide img{
    display: block;
   width: 100%;
   height: 100%;
}
.tourslide .textbox{
    font-size: 50px;
    color: #fff;
    position: absolute;top: 50%;left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9997;
    font-family: 'medium';
}
.tourinfo h2{
    font-size: 35px;
    text-align: center;
  margin-bottom: 7%;
  font-family: 'medium';
}
.tourinfo h2::after{
    content:'';
    display: block;
    width: 4%;
    height: 2px;
    background-color:#000;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 70px;
}
.tourwrap{
    margin-bottom: 5%;
}
.tourbox{
    width: 30%;
    text-align: center;
    border: 1.5px solid #707070;
    margin-bottom: 3%;
}
.tourbox img{
    display: block;
    width: 100%;
}
.tourflex{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.tourbox .info_text{
    padding: 3% 8%;
}
.tourbox .info_text h3{
    display: inline-block;
    width: 50%;
    margin: 0 auto;
    background-color: #3B60B8;
    color: #fff;
    border-radius: 20px;
    padding: 2% 4%;
    font-size: 20px;
    margin-bottom: 20px;
    font-family: 'medium';
}

.tourbox .info_text p{
    font-size: 16px;
    color: #707070;
    font-family: 'light';
    word-break: normal;
}

@media(max-width:991px){
    .tourbox .info_text h3{
        width: 60%;
        font-size: 16px;
    }
    .tourbox .info_text p{
        font-size: 12px;
    }
    .tourslide .textbox{
        font-size: 35px;
    }
    .tourslide{
        height: 55%;
    }
}

@media(max-width:768px){
    .tourinfo h2::after{
        width: 10%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .tourinfo h2{
        font-size: 24px;
    }
    .tourbox{
        width: 48%;
    }
    .tourslide{
        width: 100%;
        height: 45%;
        background: url('/images/tour/m/01_01.jpg');   
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

@media(max-width:500px){

    .tourslide .textbox{
        display: none;
    }
    .tourbox .info_text h3{
        font-size: 12px;
    }
    .tourbox .info_text p{
        font-size: 12px;
        line-height: 15px;
    }
    .tourflex{
        width: 90%;
        flex-direction: column;
    }
    .tourbox{
        width: 100%;
    }
    .tourbox .info_text h3{
        margin-bottom: 10px;
    }
    .tourbox .info_text h3{
        width: 75%;
    }
    .tourbox .info_text{
        padding-top: 5%;
    }
}