@charset "utf-8";

.mainwrap{
    width: 100%;
    height: 100%;
}
.mainslide{
    width: 100%;
    height: 40vh;
}
.select{
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
}
