@charset "utf-8";
@import url(./default.css);


/* 회원가입페이지1 */
.wrap-all{
    width: 25%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 2px solid #635959;
    border-radius: 15px;
    padding: 4% 2% 3% 2%;
}
.wrap-all form label{
    display: block;
}
.wrap-all .logo{
    text-align: center;
    margin-bottom: 5%;
}
.wrap-all h1{
    text-align: center;
    margin-bottom: 12%;
}
.wrap-all form input{
    accent-color: #ED2B55 !important;
    display: inline-block;
}
.wrap-all form label{
    font-size: 20px;
    display: block;
}
input[type="checkbox"] {
width: 20px;
height: 20px;
margin-left: 2%;
}

.wrap-all form a{
    color: #000;   
    display: inline-block;
}
.wrap-all form a:hover{
    color: #EC0000;
}
.wrap-all form a::after{
content:'';
display: inline-block;
width: 100%;
height: 1.5px;
background-color: #000;
}
.wrap-all form a:hover::after{
    background-color: #EC0000;;  
}
.flex{
    display: flex;
    align-items: center;
    margin-bottom: 7%;
}

.flex:nth-child(4){
    margin-bottom: 12%;
}

.wrap-all button{
    width: 80%;
    height: 56px;
    line-height: 56px;
    color: #fff;
    background-color: #ED2B55;
    margin: 0 auto;
    display: block;
    margin-top: 5%;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
}

button{
    cursor: pointer;
}


/* 회원가입페이지2 */

.wrap-all2{
    width: 25%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 2px solid #635959;
    border-radius: 15px;
    padding: 2% 2% 2% 2%;
    display: none;
}

.wrap-all2 .logo{
    text-align: center;
    margin-bottom: 5%;
}

.wrap-all2 h1{
    text-align: center;
    margin-bottom: 12%;
}
/* 이용약관부분  */
.terms-wrap h1{
    text-align: center;
    padding-top: 5%;
}

.wrap-all2 .acinfo:nth-child(2){
    position: relative;
}
.wrap-all2 .acinfo:nth-child(2) button{
    position: absolute;
    top: 51%;
    right: 8%;
    background-color: #ED2B55;
    color: #fff;
    font-family: "mid";
    border: none;
    padding: 1.5%;
    border-radius: 5px;
}
/* 이용약관 아코디언부분 */
.accordion {
    background-color: #fff;
    color: #444;
    cursor: pointer;
    padding: 18px 0;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    width: 100%;
    border-bottom: 2px solid #ED2B55;
   font-family: 'GowunDodum-Regular';
   font-size: 20px;
  }

  .accordion_box{
    margin: 0 auto;
    margin-top: 7%;
    width: 40%;
    margin-bottom: 5%;
  }


  
  /* Style the accordion panel. Note: hidden by default */

  .panel {
    background-color: white;
    display: none;
    overflow: hidden;
    padding: 4%;
    background-color: rgba(226,226,226,0.3);
    transition: all 0.7s;
  }
  .panel p{
    word-break: keep-all;
    width: 100%;
    line-height: 35px;
    font-size: 14px;
    font-family: 'GowunDodum-Regular';
   margin-right: 0 !important;
    color: rgba(0,0,0,0.7);
    word-break: keep-all;
  }

  .accordion:after {
    content: ''; /* Unicode character for "plus" sign (+) */
    display: block;
    background-image: url(/images/common/acco_arrow.png);
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
    width: 17px;
    height: 15px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }

 .acinfo{
    display: block;
    width: 85%;
    margin: 0 auto;
    margin-bottom: 3%;
 }
 .acinfo label{
    display: block;
    margin-bottom: 10px;
 }
 .acinfo input{
    width: 95%;
    height: 45px;
 }
 .wrap-all2 #ac_submit{
    width: 50%;
    height: 56px;
    line-height: 56px;
    color: #fff;
    background-color: #ED2B55;
    margin: 0 auto;
    display: block;
    margin-top: 5%;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
 }
 .acinfo a{
    display:inline-block;
    color: #000;
    margin-top: 7px;
    border: 2px solid #707070;
    font-size: 14px;
    width: 90px;
    height: 24px;
    line-height: 24px;
    text-align: center;
 }
 .acinfo a:hover{
    background-color: #ED2B55;
    color: #fff;
 }

 @media(max-width:1200px){
    .wrap-all h1{
        font-size: 25px;
    }
    .wrap-all .logo{
        width: 60%;
        margin: 0 auto;
        margin-bottom: 5%;
    }
    .wrap-all2 .logo{
        width: 40%;
        margin: 0 auto;
        margin-bottom: 5%;
    }
    .wrap-all2 .logo img{
  display: block;
  width: 100%;
    }

    .wrap-all .logo img{
        display: block;
        width: 100%;
    }
    .wrap-all form label{
        font-size: 16px;
    }
    input[type="checkbox"]{
        width: 16px;
        height: 16px;
    }
    .wrap-all button{
        width: 65%;
    }
    .wrap-all2{
        width: 40%;
    }
    .wrap-all2 h1{
        font-size: 25px;
    }
 }

 @media(max-width:768px){
    .wrap-all{
        width: 50%;
    }
    .accordion_box{
        width: 60%;
    }
    .wrap-all2{
        width: 60%;
        top: 45%;
    }
    .wrap-all2 h1{
        margin-bottom: 6%;
    }
 }

 @media(max-width:500px){
    .wrap-all2 h1{
        font-size: 18px;
    }
    .accordion{
        font-size: 16px;
    }
    .panel p{
        font-size: 12px;
    }
    .wrap-all h1{
        font-size: 21px;
    }
    .wrap-all{
        width: 70%;
    }
    .wrap-all2{
        width: 70%;
    }
    .wrap-all form label{
        font-size: 14px;
    }
    input[type="checkbox"]{
        width: 14px;
        height: 14px;
    }
    .acinfo input{
        height: 30px;
    }
    .wrap-all button{
        height: 35px;
        line-height: 35px;
        width: 50%;
    }
    .wrap-all .logo{
        width: 50%;
    }
    .accordion_box{
        width: 80%;
    }
    .wrap-all2 #ac_submit{
        height: 30px;
        line-height: 30px;
    }
    .acinfo a{
        font-size: 12px;
        width: 75px;
        height: 20px;
        line-height: 20px;
    }
 }
 @media(max-width:320px){
    .wrap-all2{
        width: 80%;
    }
    .wrap-all2 h1{
        font-size: 16px;
    }
    .acinfo label{
        font-size: 14px;
    }
    .wrap-all2 .acinfo:nth-child(2) button{
        right: 6.5%;
    }
    form{
        margin: 0;
    }
    .acinfo label{
        margin-bottom: 5px;
    }
    .wrap-all h1{
        font-size: 18px;
    }
    .wrap-all button{
        height: 28px;
        line-height: 28px;
    }
 }
 