@charset "utf-8";
@import url(./default.css);
.accordion {
    background-color: #fff;
    color: #2F2F37;
    cursor: pointer;
    padding: 18px 0;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    width: 65%;
    margin: 0 auto;
    margin-bottom: 2%;

   font-family: 'bold';
   font-size: 30px;
   display: block;
   letter-spacing: 10px;
   position: relative;

  }

  .accordion_box{
    padding-top: 4%;
margin: 0 auto;
    width: 16%;
   height: 100%;
   background-color: #fff;
   position: fixed;left: 0;
   z-index: 9990;
  }

  .accordion span{
    position: absolute;right: 35%;
  }
  /* Style the accordion panel. Note: hidden by default */

  .panel {
    background-color: white;
    display: none;
    border-bottom: 1px solid #d8d8d8;
    width: 60%;
    margin: 0 auto;
  }
  .panel a{
display:block;
  }
  .panel p{
    word-break: keep-all;
    width: 100%;
    margin: 0 auto;
    line-height: 35px;
    font-size: 24px;
    font-family: 'mid';
    margin-bottom: 30px;
    cursor: pointer;
  }
  .panel p:hoveR{
    color: #ED2B55;
  }
  .accordion:before {
    content: '\002B'; /* Unicode character for "plus" sign (+) */
    display: block;
font-family: 'mid';
    font-size: 25px;
    color: #2F2F37;
    float: right;
    margin-left: 5px;

  }
  
.accordion.active:before{
  content: '\2212';
}



.panel.active {
  display: block;
}