@charset "utf-8";
@font-face{
	font-family: "bold";
	src: url('/css/font/GmarketSansBold.otf');
}
@font-face{
	font-family: "mid";
	src: url('/css/font/GmarketSansMedium.otf');
}
@font-face{
	font-family: "light";
	src: url('/css/font/GmarketSansLight.otf');
}
@font-face {
	src: url("/css/font/VITRO\ CORE\ OTF.OTF");
	font-family: "vitro";
}
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
html{
	scroll-behavior:smooth;

}
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "mid";
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}
img{
	padding: 0;
	margin: 0;
}
h1,
h2,
h3,
h4 {
	margin: 0;
	padding: 0;
}

p {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}