@charset "utf-8";
@import url(./default.css);
.wrap_all{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.logo{
    margin-bottom: 10%;
}
.flex{
    margin-bottom: 3%;
    font-family: "mid";
}
.flex label{
    width: 20%;
    height: 56px;
    line-height: 56px;
    background-color: #ED2B55;
    color: #fff;
    text-align: center;
    display: inline-block;
    border-radius: 5px;

}
.flex input{
    width: 40%;
    height: 56px;
    line-height: 56px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 1px solid #ED2B55;
    border-radius: 5px;
}
#f_tel::placeholder{
    font-size: 18px;
    color: #8E8E8E;
   padding-left: 3%;
}
.flex a{
    font-size: 18px;
    color: #fff;
    padding: 0.7%;
    background-color: #ED2B55;
    border-radius: 5px;
}
#flex_2{
    position: relative;
}
#flex_2 a{
    position: absolute;top: 50%;right: 20%;
    transform: translate(-5%,-50%);
}

.wrap_all button{
    display: inline-block;
    width: 185px;
    height: 56px;
    line-height: 56px;
    color: #fff;
    background-color: #ED2B55;
    font-size: 22px;
    font-family: "mid";
    cursor: pointer;
    border: none;
}

@media(max-width:991px){
    .wrap_all{
        width: 80%;
    }
    .logo img{
        display: block;width: 40%;
        margin: 0 auto;
    }
}

@media(max-width:500px){
    .wrap_all{
        width: 100%;
    }
    .flex label{
        width: 20%;
        height: 34px;
        line-height: 34px;
    }
    .flex input{
        width: 50%;
        height: 34px;
        line-height: 34px;
    }
    #flex_2 a{
        right: 15%;
    }
    .flex a{
        font-size: 14px;
        padding: 1%;
    }
    .wrap_all button{
        width: 125px;
        height: 40px;
        line-height: 40px;
        font-size: 18px;
    }
    #f_tel::placeholder{
        font-size: 14px;

    }
}

@media(max-width:320px){
    .flex label,.flex input{
        font-size: 14px;
    }

    .wrap_all button{
        width: 100px;
        height: 34px;
        line-height: 34px;
        font-size: 16px;
    }
    .flex input{
        width: 60%;
    }
}