@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');
@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700'); /* font-family: 'Montserrat', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Merriweather'); /* font-family: 'Merriweather', serif; */

@import url('//fonts.googleapis.com/earlyaccess/jejumyeongjo.css'); /* font-family: 'Jeju Myeongjo', serif; */
/*@import url('https://fonts.googleapis.com/css?family=Oranienbaum'); *//* arrow font-family: 'Oranienbaum', serif; */

@import url('https://fonts.googleapis.com/css?family=Cormorant+SC:400,500,600,700'); /* font-family: 'Cormorant SC', serif; */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400'); /* font-family: 'Lato', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,700|Kanit|Abhaya+Libre:400,700|Oranienbaum|Unica+One|Playfair+Display|Comfortaa|Libre+Baskerville:400,400i');
@import url('https://fonts.googleapis.com/css?family=Allura');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Cormorant+SC');
/*font-family: 'Crimson Text', serif;*/
/*font-family: 'Kanit', sans-serif;*/
/*font-family: 'Abhaya Libre', serif;*/
/*font-family: 'Unica One', cursive;*/
/*font-family: 'Playfair Display', serif;*/
/*font-family: 'Libre Baskerville', serif;*/
/*font-family: 'Allura', cursive;*/

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

@font-face {
    font-family: 'RIDIBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'Playfair Display', serif;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/KOHIBaeumOTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RIDIBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*@font-face {
    font-family: "NanumBarunGothic";
    font-style: normal;
    font-weight: normal;
    src: url("./fonts/NanumBarunGothic.eot?#iefix") format("embedded-opentype"), url("./fonts/NanumBarunGothic.woff") format("woff"), url("./fonts/NanumBarunGothic.ttf") format("truetype");
}
@font-face {
    font-family: "Pretendard-Regular";
    font-style: normal;
    font-weight: normal;
    src: url("./fonts/NanumSquareR.eot?#iefix") format("embedded-opentype"), url("./fonts/NanumSquareR.woff") format("woff"), url("./fonts/NanumSquareR.ttf") format("truetype");
}
*/

html{width:100%;height:100%;overflow-x:hidden;overflow-y:auto;-webkit-text-size-adjust:none;}
body{overflow-x:hidden;}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dt,dd,input,select,textarea,form,fieldset,legend,body{margin:0;padding:0;  font-family: 'RIDIBatang'; /*font-family:"Open Sans",'Noto Sans KR', "NanumBarunGothic","Malgun Gothic","Nanum Gothic",NanumGothic,Dotum,"돋움",Arial;*/ }
*+html body body, *+html body div, *+html body li, *+html body dt, *+html body dd, *+html body p, *+html body tr, *+html body td, *+html body h2 { font-family: 'RIDIBatang' /*font-family: "Open Sans",'Noto Sans KR', "NanumBarunGothic", "Malgun Gothic","Nanum Gothic",NanumGothic,Dotum,"돋움",Arial;*/}
body{visibility:visible; width:100%; font-size:14px;color:#343434; background:#f5f5f5; line-height:1.5em; }
img,fieldset{border:none;}
em,address{font-style:normal;}
a{text-decoration:none;color:#343434;}
li{list-style:none;}
select,textarea{border-radius:0;}
.clear {}
.clear:after {content:"";display:block;clear:both;}
.blind, .sound_only{visibility:hidden;width:0;height:0;font-size:0;line-height:0;overflow:hidden;}
.img_100 {width:100%; height:auto !important; vertical-align:top;}
select{min-width:50px;height:26px;margin:0;padding:0;font-size:12px;line-height:26px;font-family:Dotum,sans-serif;}
.underline {text-decoration:underline; }
.tl { text-align:left;}
.tc { text-align:center;}
.tr { text-align:right;}
.vt {vertical-align:top;}
.mb0 { margin-bottom:0 !important;}
.mb3 { margin-bottom:3px !important;}
.mb5 { margin-bottom:5px !important;}
.mb10 { margin-bottom:10px !important;}
.mb20 { margin-bottom:20px !important;}
* {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.boxShadow {-webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1); -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1); box-shadow:2px 2px 3px rgba(0, 0, 0, 0.1);}

.transAll015 {-webkit-transition: all 0.15s ease-in-out; -moz-transition: all 0.15s ease-in-out; -ms-transition: all 0.15s ease-in-out; -o-transition: all 0.15s ease-in-out; transition: all 0.15s ease-in-out; }
.transAll03 {-webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
.transAll03_ease {-webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -ms-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease;}
.transAll02_ease {-webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -ms-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease;}
.scale01 {-webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}
.scale01:hover, .scale01:focus {-ms-transform: scale(1.1); -webkit-transform: scale(1.1); transform: scale(1.1);}

.strongColor01 { color:#ac2525;}

.block1280, .block1024, .block768, .block560, .block480, .block380 {display:none !important;}
.in-block1280, .in-block1024, .in-block768, .in-block560, .in-block480, .in-block380 {display:none !important;}

.roomInfoWrap {
	font-size: 0.95em;
}
@media (max-width: 760px) {
	.bigslide {
		padding-bottom: 100% !important;
	}
	.bigslide li {
		height: 100% !important;
	}
	.roomInfoWrap {
		font-size: 0.75em;
	}
}
/* 바로가기버튼 */
.go_group {
	position: fixed;
    right: 25px;
    bottom: 25px;
    z-index: 100;
}
.go_img {
	width: 130px;
}
.go_img a img {
	width: 100%;
}
@media (max-width:560px) {
	.go_img {
		width: auto;
	}
	.go_group {
		right: 10px;
		bottom: 10px;
	}
	.go_img a img {
		width: 90px;
		height: 60px;
	}
}


#wrap { position:relative; }
#skip{position:absolute;top:-9999px;left:0;z-index:1000;width:240px;height:30px;background:#676462;}
#skip a{display:block;height:30px;padding:0 0 0 20px;line-height:30px;font-size:12px;color:#333;}
#skip.on{top:0;}

.topPlace { position:relative; }
#header {position:relative; background:#fff; opacity:0; filter: alpha(opacity=0;); z-index:11; }

.logo { position:absolute; height:40px; left: 40px; top: 65px; z-index:5; }
.logo a { display:block;}
.logo img { width:100%; vertical-align:top; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -ms-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; }

.btn_nav { position:absolute; display:none; width:26px; height:22px; right:10px; top:15px;-webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; cursor:pointer; z-index:21;}
.btn_nav .line {position: absolute; display: block; width:26px; height:22px; right:4px; top:0; }
.btn_nav .line span {position: absolute; display: block; width:24px; height:2px; left:50%;  background: #000; transform: translate(-50%, 0px);-webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
.btn_nav .text { position:absolute; left:0; top:0;font-family: 'Sacramento', cursive; font-size:2em; line-height:0.8em; font-style:italic; color:#fff; text-align:center; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; -webkit-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); -moz-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); text-shadow:1px 1px 2px rgba(0, 0, 0, 0.2);  }

.btn_nav .line01 { top:2px; }
.btn_nav .line02 { top:calc(50% - 1px); }
.btn_nav .line03 { bottom:2px; }

.btn_nav.open_nav .line01 {transform: translate(-50%, 7.5px) rotate(45deg); -ms-transform: translate(-50%, 7.5px) rotate(45deg); -webkit-transform: translate(-50%, 7.5px) rotate(45deg);}
.btn_nav.open_nav .line02 {opacity:0; filter: alpha(opacity=0;); }
.btn_nav.open_nav .line03 {transform: translate(-50%, -8.5px) rotate(-45deg); -ms-transform: translate(-50%, -8.5px) rotate(-45deg); -webkit-transform: translate(-50%, -8.5px) rotate(-45deg); }

.gnbArea { position:relative; text-align:center; line-height:0;}
.gnbArea:after, .gnb:after {content:"";display:block;clear:both;}
.gnb { display:inline-block; padding-bottom:15px; padding-top:15px; }
.gnb > li { float:left; margin:0 3em; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}
.gnb li a.depth1 { display:block; font-family: 'Kanit', sans-serif; font-size:1.54em; line-height:1.5em; letter-spacing:0.05em; color:#333333;  -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; letter-spacing:0.1em; text-shadow: 0 0 4px rgba(0, 0, 0, 0.4);}
.gnb li a.depth2 {     text-shadow: 0 0 4px rgba(0, 0, 0, 0.4);}
.gnb li a.depth1:first-letter {text-transform:uppercase;}
.gnb li a.depth1:hover, .gnb li a.depth1:focus, .gnb li.on a.depth1, .gnb li.this a.depth1 { }
.gnb > li .depth1_mobile { display:none; padding-left:38%; font-family: 'Kanit', sans-serif; font-size:1.5em; line-height:2em; letter-spacing:0.05em; color:#fff;  -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
.gnb > li .depth1_mobile:first-letter {text-transform:uppercase;}
.gnb_sub { position:absolute; display:none; padding: 5px 10px; background: #fff; margin-left: -18px;}
.this .gnb_sub {}
.on .gnb_sub{ display:flex; flex-direction:column;}

.gnb_sub:after {content:"";display:block;clear:both;}
.gnb_sub li { float: left; margin: 0 8px; }
.gnb_sub li.subBlock {margin:0!important;}
.gnb_sub li a {/*font-family: 'Noto Sans KR', sans-serif;*/ font-size:1em; line-height:1.8em; color:#666; }
.gnb_sub li.this a { font-weight:700; }
.gnb_sub li a:hover, .gnb_sub li a:focus { text-decoration:underline; }

@-webkit-keyframes _appear {
from{-webkit-transform:translateY(-100%);-ms-transform:translateY(-100%);transform:translateY(-100%);opacity:0;filter:alpha(opacity=0;)}
to{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);opacity:1;filter:alpha(opacity=100;)}
}
@keyframes _appear {
from{-webkit-transform:translateY(-100%);-ms-transform:translateY(-100%);transform:translateY(-100%);opacity:0;filter:alpha(opacity=0;)}
to{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);opacity:1;filter:alpha(opacity=100;)}
}

#header.fixed{position:fixed;top:0;left:0;width:100%; -webkit-box-shadow:0 0 10px rgba(0,0,0,0.05);box-shadow:0 0 10px rgba(0,0,0,0.05)}
.fixed .gnb li a.depth1, .sub .gnb li a.depth1, .fixed .gnb li a.depth2, .sub .gnb li a.depth2 {text-shadow:none;}
.main_words {position:absolute; top:50%; left:50%; color:#fff; -webkit-transform:translate(-50%,-50%); -ms-transform:translate(-50%,-50%); transform:translate(-50%,-50%); z-index:11; text-align:center; line-height:1; pointer-events: none; text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);}
.main_words_top {font-family: 'Allura', cursive; font-size:8.47em; letter-spacing:5px; white-space:nowrap;}
.main_words_bot {font-size:1.23em; margin-top:5%; }

.is-sticky#header-sticky-wrapper {opacity: 0.9; filter: alpha(opacity=90;);}

.main .topArea .lslide::before {
	content:'';
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	width:100%;
	height:100%;
	background: rgba(0,0,0,0.06);
	background: -moz-linear-gradient(left, rgba(0,0,0,0.06) 0%, rgba(255,255,255,0.04) 41%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,0.06)), color-stop(41%, rgba(255,255,255,0.04)), color-stop(100%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(left, rgba(0,0,0,0.06) 0%, rgba(255,255,255,0.04) 41%, rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(left, rgba(0,0,0,0.06) 0%, rgba(255,255,255,0.04) 41%, rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(left, rgba(0,0,0,0.06) 0%, rgba(255,255,255,0.04) 41%, rgba(255,255,255,0) 100%);
	background: linear-gradient(to right, rgba(0,0,0,0.06) 0%, rgba(255,255,255,0.04) 41%, rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff', GradientType=1 );
	z-index:1;
}

@media  (min-width: 1024px){
	.logoM { display:none; opacity:0; filter: alpha(opacity=0;); }
	#header.fixed .logo, .sub #header .logo {top:50%; left:2%; -webkit-transform:translateY(-50%); -ms-transform:translateY(-50%); transform:translateY(-50%); height:auto; width:100px;}
	#header.fixed .logoM, .sub #header .logoM {display:block;opacity:1; filter: alpha(opacity=100;); width:100%;}
	.control_header #header-sticky-wrapper {}
	.control_header #header { position:absolute; top:0; bottom:0; left:0; width:360px; background:transparent; opacity:1; filter: alpha(opacity=100;);}
	.main #header.fixed {
		-webkit-animation: _appear .4s ease forwards;
		animation: _appear .4s ease forwards;
	}
	.control_header .gnbArea { position:relative; width:60%; height:100%; padding: 250px 0 0 0;}
	.control_header .gnb { display:inline-block;float:left; padding:0;}
	.control_header .gnb > li { float:left; width:100%; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; padding:0 20px 0 50px; margin:0;}
	.control_header .gnb > li > a, .gnbArea > .gnb > li > a { 
		/* font-family: 'Fredoka One', serif;  */
		font-family: 'Playfair Display', serif;
		font-weight: bold;
	}
	.control_header .gnb li a.depth1 { font-weight:bold; color:#fff; line-height: 1.8em; letter-spacing:0.05em; padding-left:20px; overflow:hidden; margin-bottom:0.1em; 
		/* border:2px solid transparent;  */
		text-align:left; }
	.control_header .gnb li a.depth1::first-letter { text-transform:uppercase;}
	/*.gnb li.on a.depth1 { background:#fff; color:#151515; font-weight:bold; }*/
	.control_header .gnb li.on a.depth1 { border-color:#fff; }
	.control_header .gnb li a.depth2 {  color:#fff;}
	.control_header .gnb > li .depth1_mobile { display:none; padding-left:38%; font-family: 'Abhaya Libre', serif; font-size:1.5em; line-height:2em; letter-spacing:0.05em; color:#666;  text-transform:uppercase;  -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}
	.control_header .gnb_sub { position:relative; padding: 5px 0 5px 16px; margin-left: -16px; text-align:center; background:transparent; }
	.btnArea {position:absolute; top:50%; right:4em; -webkit-transform:translateY(-50%); -ms-transform:translateY(-50%); transform:translateY(-50%); z-index:11; }
	.control_header .btnArea {opacity:0; filter: alpha(opacity=0;); }
}

#header.fixed .logoW, .sub #header .logoW  {display:none;}

#wrap.sub #header {position:fixed; top:0; left:0; width:100%; }


.btn_reser {display:inline-block; font-size:1.08em; color:#000; letter-spacing:0.05em; line-height:1.5em; }
.btn_reser span { display:inline-block; width:16px; height:0; font-size:1.5em; vertical-align:middle; text-align:center; overflow:hidden; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out;}
.btn_reser:hover , .btn_reser:focus { margin-bottom:-10px;}

.btn_reser02 { display:block; background:#fff; text-align:center; color:#37373a; padding:8% 0;-webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out;}
.btn_reser02 .arrow { display:inline-block; vertical-align:middle; font-family: 'GothamLight', sans-serif; font-weight:100; font-size:3.85em; margin-right:30px; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
.btn_reser02 .text { display:inline-block; vertical-align:middle; text-align:left;}
.btn_reser02 .text01 { display:block; font-family: 'GothamMedium', sans-serif; font-size:2.3em; line-height:1.2em; margin-bottom:0.2em; letter-spacing:0.15em; }
.btn_reser02 .text02 { display:block; font-size:1.07em; color:#818181;}
.btn_reser02:hover, .btn_reser02:focus { padding-left:20px;}

.is-sticky .logo { width:100px; left:20px}
.is-sticky .btn_reser { right:15px; top:15px;}

.mainList {position:relative; z-index:1;}
.mainList:after {content:"";display:block;clear:both;}
.mainList li:first-child {margin-top:0;}
.mainList li { position:relative; float:left; margin-top:7%;}
.mainList li a { display:block;}
.mainListThumb {position:absolute; height:100%; width:100%; top:0; background-size:cover; background-repeat: no-repeat; background-position: center;}
.mainList li .mainListThumb a {display:inline-block; width:100%; height:100%;}
.mainListType01 {width:92.3%; margin-left:7.7%;}
.mainListType01 .mainListTitle {width:18.8%; float:left;}
.mainListType01 .mainListThumb {width:81.2%; right:0;}
.mainListType02 {width:83.1%; margin:0 8.25%;}
.mainListType02 .mainListTitle {width:20.9%; float:right;}
.mainListType02 .mainListThumb {width:79.1%; left:0;}
.mainListType03 {width:73.5%; margin-left:26.5%;}
.mainListType03 .mainListTitle {width:23.6%; float:left;}
.mainListType03 .mainListThumb {width:76.4%; right:0;}

.lightslider li {position:relative; overflow: hidden;}
.lightslider li .txtRoom { display:none; }

.btn_scroll_box .btn_scroll {position:absolute; bottom:0; right:0; width:270px; text-align:center; line-height:42px; border-bottom:1px solid #000; font-family: 'Abhaya Libre', serif; color:#000; font-size:15px; transform:rotate(90deg) translateY(-100%); -ms-transform:rotate(90deg) translateY(-200%); -webkit-transform:rotate(90deg) translateY(-200%); z-index:35; text-decoration:none!important;}
.btn_scroll_box .btn_scroll::before {content:''; position: absolute; bottom: 0; right: 0; width: 42px; height: 1px; background: #000; transform: rotate(45deg) translate(-5px,-14px); -ms-transform: rotate(45deg) translate(-5px,-14px); -webkit-transform: rotate(45deg) translate(-5px,-14px); }

.mRoom_title {display:inline-block; width:100%; padding:60px 0; margin-bottom:65px; text-align:center;}
/* .title01 { position:relative; font-size:6.4em; line-height:1; color:#545454; font-family: 'Crimson Text', serif; text-align:center; padding-bottom:40px; border-bottom:2px solid #49badb;}
.title01::before { content:'\201d'; position:absolute; top: 12px; right: -25px; }
.title01::after { content:''; position:absolute; top: 12px; right: -25px; }
.title01 small { display:block; font-size:0.21em; color:#545454; font-family: 'Crimson Text', serif; text-align:center;} */

.mRoom_arrow {text-align:center; background: #f1efef;}
.mRoom_arrow_inner {display:inline-block;}
.mRoom_arrow_inner a {position:relative; display:inline-block; width:164px; height:128px; float:left; font-size:2.3em;}
.mRoom_arrow_inner a span {position:absolute; top:50%; left:50%; -ms-transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); transform:translate(-50%,-50%); }

.topPlace .tag {
    position: absolute;
    display: inline-block;
    float: left;
    top: 12%;
    right: 0;
    z-index: 11;
    /* -webkit-transform: rotate(90deg) translateY(100%); */
    /* -ms-transform: rotate(90deg) translateY(100%); */
    /* transform: rotate(90deg) translateY(100%); */
    /* -webkit-transform-origin: 100% 100%; */
    /* -ms-transform-origin: 100% 100%; */
    /* transform-origin: 100% 100%; */
}
/* .rt_inner .tag {margin-left:-58px;} */
.grid_item .tag {margin-bottom:3.5%;}

/* .rt_inner .tag::before{content:'';position:absolute;display:inline-block;width:80px;height:1px;background:#262626} */
/* .rt_inner .tag_inner{border-color:#262626;color:#262626;font-family:'Libre Baskerville',serif;font-style:italic;font-size:1.53em;padding-left:38px} */
.tag{position:relative;display:inline-block}
/* .tag.left .tag_inner{padding:15px 23px 15px 43px} */
.tag.right{padding-right:58px}
.about_text:after {
	display: block;
	content: "";
	clear: both;
} 
.tag.left{
	/* margin-left:66px; */
	float: right;
    margin-bottom: -50px;
}
.tag.right::before{top:50%;right:0;width:80px;height:1px}
/* .tag.left::before{top:50%;left:0;width:80px;height:1px} */
.tag.top .tag_inner{display:inline-block;width:180px;padding:18px 0 12px;text-align:center}
.tag.top::before{left:50%;bottom:80%;width:1px;height:44px}
/* .tag::before{content:'';position:absolute;display:inline-block;background:#fff} */
/* .tag_inner{border:2px solid #fff;padding:13px 43px 13px 23px;color:#fff;font-family:'Source Han Serif KR','Jeju Myeongjo',serif;font-size:1.53em;display:inline-block;float:left;white-space:nowrap} */

.roomWrapper:after{content:'';display:table;clear:both;}
.roomWrapper h2 {
	text-transform: uppercase;
	font-size: 27px;
	font-weight: bold;
	color: #081124;
	text-align: right;
    width: 92.5%;
    margin-bottom: 10px;
	margin-right: 145px;
	float: right;
}
.roomWrapper h2 img {
	display: inline-block;
	padding: 3px;
}
@media (max-width:1024px) {
	.roomWrapper h2 {
		margin-right: 65px;
	}
}
@media (max-width:500px) {
	.roomWrapper h2 {
		margin-right: 33px;
	}
}
.roomlist_title{position:relative;float:left;width:33.333333%;
	/* padding-top:49.2%; */
	opacity:0;filter:alpha(opacity=0;);-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
.roomlist_title.active{opacity:1;filter:alpha(opacity=100;)}
.roomlist_content{float:left;width:66.666666%}
.roomlist_title_inner{position:absolute;top:0;left:0;width:100%;height:100%}
/* .rt_outer{display:table;width:100%;height:100%; padding: 36.5% 0;} */
.rt_outer {
    display: table;
    width: 80%;
    height: 100%;
    padding: 20% 0;
    background: #081124;
}
.rt_outer:after {
    display: block;
    content: "";
    clear: both;
}
.rt_inner {
    text-align: left;
	vertical-align:middle;
	margin-left: 40px;
}
.rt_body {
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    font-family: 'RIDIBatang' !important;
}
.rt_head {
    font-size: 60px;
	letter-spacing: 5px;
    font-weight: 500;
    font-family: 'Playfair Display', serif !important;
    color: #081124;
    text-shadow: -2px 0 #fff, 0 2px #fff, 2px 0 #fff, 0 -2px #fff;
	color: #081124;
}

.rt_box {
    margin-top: 180px;
}
.rt_head{
	/* font-family: 'Fredoka One', serif;  */
	line-height:1;font-weight:600;margin-bottom:9%;-webkit-transform:none;-ms-transform:none;transform:none;opacity:1;filter:alpha(opacity=100;);-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
.rt_head.move{-webkit-transform:translateY(-4%);-ms-transform:translateY(-4%);transform:translateY(-4%);opacity:0;filter:alpha(opacity=0;)}
/* .rt_body{font-size:1.07em;line-height:1.8;margin-bottom:18%;-webkit-transform:none;-ms-transform:none;transform:none;opacity:1;filter:alpha(opacity=100;);-webkit-transition:all .3s .15s ease-in-out;-moz-transition:all .3s .15s ease-in-out;-ms-transition:all .3s .15s ease-in-out;-o-transition:all .3s .15s ease-in-out;transition:all .3s .15s ease-in-out} */
.rt_body.move{font-size:1.07em;line-height:1.8;margin-bottom:18%;-webkit-transform:translateY(-4%);-ms-transform:translateY(-4%);transform:translateY(-4%);opacity:0;filter:alpha(opacity=0;)}
.rt_desc{font-size:1.07em;line-height:1.8;-webkit-transform:none;-ms-transform:none;transform:none;opacity:1;filter:alpha(opacity=100;);-webkit-transition:all .3s .15s ease-in-out;-moz-transition:all .3s .15s ease-in-out;-ms-transition:all .3s .15s ease-in-out;-o-transition:all .3s .15s ease-in-out;transition:all .3s .15s ease-in-out}
.rt_desc.move{font-size:1.07em;line-height:1.8;-webkit-transform:translateY(-4%);-ms-transform:translateY(-4%);transform:translateY(-4%);opacity:0;filter:alpha(opacity=0;)}
.rt_inner .tag{-webkit-transform:none;-ms-transform:none;transform:none;opacity:1;filter:alpha(opacity=100;);-webkit-transition:all .3s .15s ease-in-out;-moz-transition:all .3s .15s ease-in-out;-ms-transition:all .3s .15s ease-in-out;-o-transition:all .3s .15s ease-in-out;transition:all .3s .15s ease-in-out}

.rt_inner .tag.move{-webkit-transform:translateY(4%);-ms-transform:translateY(4%);transform:translateY(4%);opacity:0;filter:alpha(opacity=0;)}

.rt_foot{font-family:'Abhaya Libre',serif;font-size:12px;color:#507479;line-height:1.4;-webkit-transform:none;-ms-transform:none;transform:none;opacity:1;filter:alpha(opacity=100;);-webkit-transition:all .3s .15s ease-in-out;-moz-transition:all .3s .15s ease-in-out;-ms-transition:all .3s .15s ease-in-out;-o-transition:all .3s .15s ease-in-out;transition:all .3s .15s ease-in-out}

.rt_foot.move{-webkit-transform:translateY(4%);-ms-transform:translateY(4%);transform:translateY(4%);opacity:0;filter:alpha(opacity=0;)}
.mainGrid{display:inline-block;width:100%;float:left}
.grid_item{position:relative;width:33.333333%;float:left;overflow:hidden;background:#18252e}
.grid_item img{width:100%;-webkit-transform:scale(1.03,1.03);-ms-transform:scale(1.03,1.03);transform:scale(1.03,1.03);opacity:.5;filter:alpha(opacity=50;);-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out;float:left}
.grid_item:hover img{-webkit-transform:none;-ms-transform:none;transform:none;opacity:1;filter:alpha(opacity=100;)}
.grid_item_inner{position:absolute;top:0;left:0;width:100%;height:100%}
.grid_item_tb{display:table;width:100%;height:100%;text-align:center}
.grid_item_tbc{display:table-cell;vertical-align:middle}
.grid_item .tag_inner{font-family:'Libre Baskerville',serif;font-style:italic}
.grid_item_text{color:#fff;font-size:1.07em;line-height:1.8; font-weight:100;}
.grid_item_title{font-size:1.23em;}

@media  (max-width: 1480px){
/*.fixed .logo { width:200px; }*/
.gnb_sub li { margin-right:12px;}
.gnb_sub li a {  font-size:0.95em;}
/*.fixed .logo img { width: 70%;}*/
.gnb > li { margin:0 2em; }
.rt_box {
    margin-top: 0;
} 
}
@media  (max-width: 1024px){
#header-sticky-wrapper { position:fixed; top:0; left:0; width:100% !important; height:50px !important; z-index:35; }
#header { position:fixed; top:0; left:0; width:100% !important; height:50px !important; background:url(../images/bg/white_90.png); z-index:12;}
.logo { position:fixed; width:120px; left:5px; top:17.5px; padding:0;}
.btn_nav { display:block;}
.gnbArea { position:fixed; width:220px; height:100%; left:auto; right:-220px; top:0; margin:0; background:url(../images/bg/black_80.png); text-align:left; padding:50px 0 0 0; z-index:10;}
.open_nav .gnbArea { right:0; top:0;}


#wrap { padding-top:50px;}
.is-sticky #header { height:50px; }
.is-sticky .gnbArea { top:0;}
.gnb > li .depth1_mobile {color:#fff;}
.logo {width:70px; top:5px; }
/*.logo a { height:30px;}*/
/*.logo a img { height:100%; width:auto;}*/
.logoM { display:block; }
.logoW { display:none; }
/* .btnArea {display:none; } */
.btnArea {position:absolute; top:50%; right:4em; -webkit-transform:translateY(-50%); -ms-transform:translateY(-50%); transform:translateY(-50%); z-index:11; }
.mRoom_title {padding: 3% 0; margin-bottom: 60px; margin-top:60px;}
.title01 {font-size:3.2em; padding-bottom:25px; }
.mRoom_arrow_inner {width:55%;}
.mRoom_arrow_inner a {width:50%; height:50px; font-size:1.8em;}
.mainRoom .lightslider li.active .txtRoom { opacity: 1; filter: alpha(opacity=100;);}
.mainRoom .lightslider li.active img { opacity: 0.5; filter: alpha(opacity=50;);}
.mainRoom .lightslider li.active a { -ms-transform: scale(1.03); -webkit-transform: scale(1.03); transform: scale(1.03); }
.mainRoom .lightslider li .txtRoom {bottom:8%;}
.mainRoom .lightslider li .txtRoom span {font-size:1em; margin-bottom:0;}
.mainRoom .lightslider li .txtRoom small {font-size:0.9em;}

.gnbArea {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.gnb { display:block; width:100%; }
.gnb li a.depth1 {display:none;}
.gnb > li { float:none; margin:0;  }
.gnb > li .depth1_mobile { display:block; font-size:1.6em; line-height:2em; padding-left:20px;}
.gnb > li.on .depth1_mobile, .gnb > li.this .depth1_mobile  { background:#fff; color:#3a3a3a; margin-top:1px; }
.gnb_sub { position:relative; text-align:left; padding-left:20px !important; margin-left:0;}
.on .gnb_sub, .this .gnb_sub { padding:5px 0; }
.gnb_sub li { float:left; margin:0 10px 0 0;}
.subBlock { float:none; display:block !important; width:100%; height:0;}
.gnb_sub li a { font-size:1em; color:#fff;}
.gnb::before { display:none; }


.control_header .gnbArea { position:fixed; width:220px; height:100%; left:auto; right:-220px; top:0; margin:0; background:url('../images/bg/green_80.png'); text-align:left; padding:60px 0 0 0;}
.control_header .open_nav .gnbArea { right:0; top:0;}
.control_header .gnb { display:block; width:100%; }
.control_header .gnb li a.depth1 {display:none;}
.control_header .gnb > li { float:none; margin:0;  }
.control_header .gnb > li .depth1_mobile { display:block; font-size:1.8em; line-height:2em; padding-left:26px;}
.control_header .gnb > li.on .depth1_mobile, .control_header .gnb > li.this .depth1_mobile  { background:#fff; color:#3a3a3a; }
.control_header .gnb_sub { position:relative; text-align:left; padding-left:26px !important; margin-left:0;}
.control_header .on .gnb_sub, .control_header .this .gnb_sub { padding:5px 0; }
.control_header .gnb_sub li { float:left; margin-right:10px;}
.control_header .subBlock { float:none; display:block !important; width:100%; height:0;}
.control_header .gnb_sub li a { font-size:1.1em; color:#fff;}
.control_header .gnb::before { display:none; }

.topPlace .tag{right:10%}
.topPlace .tag .tag_inner{padding:7px 37px 7px 17px;font-size:1.2em}
.tag.right{padding-right:17px; display: none;}
.tag.right::before{width:35px}

}

.lSSlideOuter { position:relative; }
.lightSlider {}
.lightslider li { background-position:center center !important; background-repeat:no-repeat; background-size:cover !important; }
.lightslider li img { width:100%; vertical-align:top;}

.count { position:absolute; width:60px; left:50%; top:50%; line-height:1.4; margin-top:-15px; margin-left:-30px; font-family: 'Playfair Display', serif; font-size:1.35em; color:#fff; text-align:center; z-index:4; font-size:1.22em;}
.count .total { position:absolute; left:38px; top:0;}
.count .current { position:absolute; right:38px; top:0;}
.count .count_line {}
.count .total { position:absolute; left:38px; top:0;}
.topArea.topArea01 .lSAction,.roomWrapper .lSAction{position:absolute;width:120px;height:30px;bottom:3em;top:auto;z-index:12;margin:0}
.topArea.topArea01 .lSAction{left:90px}
.roomWrapper .lSAction{left:40px}
.roomWrapper .lSAction > a,.topArea.topArea01 .lSAction > a{position:absolute;width:30px;height:30px;margin:0;text-align:center;font-family:'Comfortaa',cursive;font-size:2em;line-height:30px;color:#fff;opacity:.8;filter:alpha(opacity=80;);-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
.roomWrapper .lSAction > .lSPrev,.topArea.topArea01 .lSAction > .lSPrev{left:0;top:0}
.roomWrapper .lSAction > .lSNext,.topArea.topArea01 .lSAction > .lSNext{right:0;top:0}

/* footer */
h1.footer_logo {
    padding-bottom: 6%;
}
#footer {position:relative; padding:3%;
	background: #f2f3f7;
	font-family: 'RIDIBatang' !important;
}
.footer_inner {position:relative;}
.ps_info {color:#4b4b4b; }
.footer_top {
	/* font-size:1.38em;  */
	margin-bottom:0.8em;
	margin: 0 auto;
    width: 360px;
	font-family: 'RIDIBatang' !important;
	font-weight: bold;
}
.footer_top .footer_top_item {
	font-size: 34px;
}
.footer_top .bank {
	font-size: 19px;
}
.footer_top .footerDivider {
	margin: 10px auto;
	width: 333px;
	height: 1px;
	background: #11142a;
	display: none;
}
/* .footer_top > span + span { margin-left:25px; } */
.num { font-family: 'GothamMedium', sans-serif; }
.footer_bot {font-size:14px;
	margin-top: 50px;
	margin-bottom: 10px;
}
.footer_bot p {display:inline;}
.footer_bot > span {}
.footer_bot > span + span { margin-left: 18px;}
.ps_admin {position:absolute; bottom:0; right:0; font-size:12px; }
.ps_admin span + span::before {content:'|';}
.ps_admin a { text-decoration:none; color:#919191;}

.btn_top { position:absolute; display:inline-block; width:130px; border-bottom:1px solid #000; line-height:1; padding:11px 10px; right:3%; bottom:20%; font-family: 'Exo 2', sans-serif; font-size:1.1em;  letter-spacing:0.1em;  background:#fff; color:#000 !important; -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -ms-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease; }
.btn_top span {color:#2e2e2e;}
.btn_top:hover, .btn_top:focus { margin-bottom:10px;}

.footer_admin a {
	color: #938f8c;
}
@media  (max-width: 1480px) {
	#footer {}

	.roomlist_title {
		padding-top: 0;
	}
}

@media  (max-width: 1024px){

.open_nav a.btn_reser { color:#fff; }
.open_nav .btn_nav .line span {background:#fff;}

#footer {  padding:4% 3%; padding-bottom:2em;}
#footer p {letter-spacing:-0.03em; }
.footer01 { font-size:0.9em; margin: 2em 0;}
.footer02 { font-size:0.8em; line-height:1.3em;  }
.footer03 { font-size:0.8em; margin-top:0; line-height:1.3; }
.footer02 span, .footer03 span { margin:0; }

.footer_top {font-size:1.38em; line-height:1.8em; margin-bottom:0.8em;}
/* .footer_top > span + span { margin-left:0; } */
.footer_top_item { display:block;}
/* .footer_top_item.bank { font-size:0.85em;} */

.btn_top { display: block; font-size:0.9em; padding:5px 7px; position: relative; width: 100%; text-align: center; top: auto; left: auto; bottom: auto; right: auto; border: none; margin-top: 10px; }
.gnb_sub { background-color: inherit;}
.topArea.topArea01 .lSAction{left:5%;bottom:5%}
.roomWrapper .lSAction{left:50%;bottom:5%;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%)}
.topArea.topArea01 .lSAction,.roomWrapper .lSAction {z-index:10;}
.tag_inner {border-width:1px;}
}

.topArea { position:relative; }
.topArea .lSAction, .topArea02 .lSAction, .roomSlider01 .lSAction { position:absolute; width:100%; left:0; top:50%; margin-top:-15px; z-index:2;}
.topArea .lSAction > a, .topArea02 .lSAction > a, .roomSlider01 .lSAction > a { position:absolute; display:inline-block; width:30px; height:30px; top:0; margin:0; font-family: 'Oranienbaum', serif; font-size:5em; line-height:30px;  color:#fff; text-align:center; opacity:1; filter: alpha(opacity=100;); -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -ms-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease;z-index:2;}
.topArea .lSAction > a.lSPrev, .topArea02 .lSAction > a.lSPrev, .roomSlider01 .lSAction > a.lSPrev { left:10px;}
.topArea .lSAction > a.lSPrev:hover, .topArea02 .lSAction > a.lSPrev:hover, .roomSlider01 .lSAction > a.lSPrev:hover { left:5px;}
.topArea .lSAction > a.lSNext, .topArea02 .lSAction > a.lSNext, .roomSlider01 .lSAction > a.lSNext {right:10px;}
.topArea .lSAction > a.lSNext:hover, .topArea02 .lSAction > a.lSNext:hover, .roomSlider01 .lSAction > a.lSNext:hover { right:5px;}

.topLine { position:absolute; width:1px; height:44%; background:url(../images/bg/white_30.png); top:28%; z-index:2;}
.board .topLine, .board .lSAction { display:none !important;}
.topLine01 { left:80px;}
.topLine02 { right:80px;}
.btn_scroll_box { position:absolute; width:88px; left:50%; bottom:10%; margin-left:-44px; opacity:0; filter: alpha(opacity=0;);z-index:3; }
.active.topArea .btn_scroll_box { opacity:1; filter: alpha(opacity=100;); bottom:8%; transition: all 0.3s ease 1.2s; }
.topArea .btn_scroll {display:block;  -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -ms-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; }
.topArea .btn_scroll img { width:100%; vertical-align:top;}
.topArea .btn_scroll:hover, .topArea .btn_scroll:focus { margin-bottom:-10px;}

.btn_detail { display:inline-block; font-family: 'Abhaya Libre', serif; font-size:1.6em; line-height:2em; color:#fff; padding:5px 50px; border:1px solid rgba(255, 255, 255, 0.3); }
.btn_detail span { display:inline-block; font-size:1.2em; margin-left:10px;}

.btn_reser01 {display:inline-block; font-family: 'Abhaya Libre', serif; font-size:1.6em; line-height:2em; color:#3b3b3b; padding:5px 50px; border:1px solid #9a9a9a;}
.btn_reser01 span { display:inline-block; font-size:1.2em; margin-left:10px;}

.common_typo { text-align:center; padding:4% 0; font-family: 'Cormorant SC', serif; font-size:3em; line-height:1.5em; color:#555; letter-spacing:0.1em; text-transform:uppercase; }

@media  (max-width: 1680px){
}

@media  (max-width: 1480px){
.btn_scroll_box {  width:44px;  margin-left:-22px;}
.btn_scroll_box .btn_scroll {width: 200px; line-height: 27px; font-size: 14px;}
.btn_scroll_box .btn_scroll::before {width: 26px; -webkit-transform: rotate(45deg) translate(-2px,-9px);-ms-transform: rotate(45deg) translate(-2px,-9px);transform: rotate(45deg) translate(-2px,-9px);}
.active.topArea .btn_scroll_box { opacity:1; filter: alpha(opacity=100;); bottom:8%; transition: all 0.3s ease 1.2s; }

.mainList li .mainTitle { position:absolute; width:100%; left:0; top:0; margin:0;}
.main_words {font-size:0.7em; }
}

@media  (max-width: 1280px){

.none1280 {display:none;}
.block1280 {display:block !important;}
.in-block1280 {display:inline-block !important;}

}

@media  (max-width: 1024px){

.none1024 {display:none !important;}
.block1024 {display:block !important;}
.in-block1024 {display:inline-block !important;}

.btn_detail { font-size:0.95em; padding:2px 15px;}
.btn_reser01 { font-size:0.95em; padding:2px 20px;}
.btn_detail span, .btn_reser01 span {  margin-left:5px;}

.topArea .lSAction > a, .topArea02 .lSAction > a, .roomSlider01 .lSAction > a {  width:20px;  font-size:3em;}
.topArea .lSAction > a.lSPrev, .topArea02 .lSAction > a.lSPrev, .roomSlider01 .lSAction > a.lSPrev { left:5px;}
.topArea .lSAction > a.lSNext, .topArea02 .lSAction > a.lSNext, .roomSlider01 .lSAction > a.lSNext {right:5px;}
.topArea { z-index:auto;}

.mainListType01 .mainListTitle {width:30%;}
.mainListType01 .mainListThumb {width:70%;}

.mainListType02 .mainListTitle {width:33.35%;}
.mainListType02 .mainListThumb {width:66.65%;}

.mainListType03 .mainListTitle {width:37.66%;}
.mainListType03 .mainListThumb {width:62.34%;}
.topArea .btn_scroll, .btn_scroll {display:none;}

.rt_inner, .grid_item_tbc {font-size:10px;}
.rt_head {margin-bottom:6%;}
.rt_body {margin-bottom:13%;}
.rt_inner .tag {margin-bottom:6%;}

#footer{text-align:center;padding:4% 3%}
.footer_bot p {display:block;}
.footer_bot{margin-bottom:.4em}
.ps_admin{position:relative}
.main_words {font-size:0.6em; }

}

@media (max-width:940px) {
	.footer_top .footer_top_item {
        font-size: 2em !important;
    }
}
@media  (max-width: 768px){
	.footer_logo a{
		display: inline-block;
		width: auto;
	}
	.footer_info{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	h1.footer_logo{
		width: 80%;
		margin: 0 auto;
	}
	h1.footer_logo img {
		width: 60%;
		margin: 0 auto; 
	}
.none768 {display:none !important;;}
.block768 {display:block !important;;}
.in-block768 {display:inline-block !important;;}

.roomList li .text { font-size:0.7em;letter-spacing:-0.1em;}
.mainListType01, .mainListType02, .mainListType03 {width:100%; margin:0;}
.mainListType01 .mainListTitle {width:35%;}
.mainListType01 .mainListThumb {width:65%;}

.mainListType02 .mainListTitle {width:35%;}
.mainListType02 .mainListThumb {width:65%;}

.mainListType03 .mainListTitle {width:35%;}
.mainListType03 .mainListThumb {width:65%;}
.mRoom_title {padding: 3% 0;}

.rt_inner, .grid_item_tbc {font-size:9px;}

.rt_head {margin-bottom:5%; font-size:3em;}
.rt_body {margin-bottom:12%;}
/* .rt_inner .tag {margin-bottom:5%;} */
.rt_foot {display:none;}
/*.rt_inner {padding:0 4%;}*/
.tag.left {padding:0;}
.tag.left .tag_inner{padding:7% 12%;float:none}
.tag.left::before{display:none}
/* .rt_inner .tag{padding:0;margin:0} */
.tag.top .tag_inner{width:140px;padding:7% 0}
.tag.top::before{display:none}
#footer{font-size:12px}
/*.footer_bot > span{display:block}*/
.footer_bot > span + span{margin:.2em 0 0}
.main_words {font-size:0.5em; }
.rt_desc {display:none;}

.common_typo { font-size:5vw; padding:5% 0;}
.size{
	width: 100%;
}
}

@media  (max-width: 560px){

.none560 {display:none !important;;}
.block560 {display:block !important;;}
.in-block560 {display:inline-block !important;;}

.topPlace .tag {display:none;}

.rt_inner, .grid_item_tbc {font-size:8px;
	margin-left: 15px;
}

.rt_head {margin-bottom:5%;
	font-size: 20px;
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}
.rt_body {display:none;}
/* .rt_body br {display:none;} */
.tag.top .tag_inner{width:120px}
#footer{font-size:11px}
.main_words {font-size:0.4em; }
.grid_item_title {font-size:1.7em;}
.rt_inner .tag {
	float: unset;
	margin-top: 15px;
}
.rt_inner .tag a img {
	width: 40px; 
}

.footer_top .footer_top_item {
	font-size: 1.5em !important;
	display: block;
	width: 90%;
	margin: 0 auto;
}
.footer_top .footerDivider {
	margin: 10px auto;
	width: 333px;
	height: 1px;
	background: #11142a;
	display: none;
}
.footer_bot {
	font-size: 12px;
	margin-top: 5%;
}

}

@media  (max-width: 480px){

.none480 {display:none !important;;}
.block480 {display:block !important;;}
.in-block480 {display:inline-block !important;;}
.footer01 span { display:none;}
.footer01 a { display:block; text-align:center; margin: 5px 0;}

.rt_inner, .grid_item_tbc {font-size:7px;}

.rt_head {font-size:3em; }
.tag.top .tag_inner{width:110px}
#footer{font-size:10px}
.main_words {font-size:0.3em; }

}


@media  (max-width: 380px){

.none380 {display:none;}
.block380 {display:block;}
.in-block380 {display:inline-block;}

.rt_inner, .grid_item_tbc {font-size:6px;}
.tag.top .tag_inner {width:84px;}
.rt_head {font-size:2.5em;}
#footer{
	padding: 0;
}
}
@media  (max-width: 320px){
	.footer_top{
		width: 320px;
	}
}
