@charset "utf-8";

@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css');


.h_name { position:relative; 
    padding-top: 160px;
    background: url('../images/common/bg_moon.png')no-repeat top center;
    background-size: cover;
    /* background-position: 0px -19px; */
}
/* 새로추가 03.28 */
.eng01 {
    display: block;
    position: absolute;
    top: 60%;
    left: 149px;
    z-index: 9;
}
.eng02 {
    position: absolute;
    right: 200px;
    bottom: 120px;
}
.amenity {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
}
.mainCon01 {
    background: url('../images/main/bg_color.png')no-repeat top center;
    background-size: cover;
}
@media (max-width:760px) {
    .mainCon01 {
        background: url('../images/main/bg_color.png')no-repeat bottom right;
        background-size: contain;
    }
}
.aboutcont {
    padding-top: 75px;
    position: relative;
}
.aboutcont:after {
    display:block;
    content: "";
    clear: both;
}
.aboutcont h2 {
    float: left;
    /* font-family: 'NanumSquare', sans-serif !important; */
    font-size: 27px;
    color: #081124;
    width: 25.6%;
    text-align: right;
    /* background: url('../images/main/line.png')no-repeat center center;
    background-position: -187px 7px; */
    margin-right: 35px;
    margin-top: 130px;
    position: relative;
}
.aboutcont h2::before {
    content: '';
    position: absolute;
    display: inline-block;
    top: 42%;
    left: 0;
    width: 77%;
    height: 3px;
    background: #081124;
}
.img01 {}
.img02 {
    display: block;
    position: absolute;
    top: 160px;
    right: 60px;
}
.aboutbox {
    float: left;
    width: 100%;
    max-width: 1380px;
}
.about_text {
    position: relative;
    background: #081124;
    float: left;
    width: 486px;
    padding: 55px 47px 68px 47px;
}
.titletxt {
    text-transform: uppercase;
    font-size: 60px;
    color: #081124;
    font-weight: bold;
    /* font-family: 'Lora', serif; */
    font-family: 'Playfair Display', serif;
    letter-spacing: 4px;
    line-height: 65px;
    text-shadow: -2px 0 #fff, 0 2px #fff, 2px 0 #fff, 0 -2px #fff;
}
.about_text p {
    margin-top: 52px;
    font-size: 1.05em;
    font-weight: 400;
    color: #fff;
    line-height: 29px;
}
.circle {
    display: block;
    margin-bottom: 7px;
}
.about_img {
    float: left;
    width: 894px;
}
.about_img img {
    width: 100%;
    display: block;
}

.mainTypo { position: absolute; text-align: right; z-index: 35; right: 7%; bottom: 0; transform: translateY(60%); -ms-transform: translateY(60%); -webkit-transform: translateY(60%);}
.mainTypo p { display:inline-block; margin:-1em auto 0; text-align:right; font-family: 'Crimson Text', serif; font-size: 7.7em; font-size: 5.25vw; line-height: 0.8em; font-weight:100; color:#4cc1e3; pointer-events: none;}

.mainCon:after {content:"";display:block;clear:both;}
.mainLink { position:absolute; width:80%; left:10%; top:50%; margin-top:-26px; z-index:2;}
.mainLink li { float:left; width:33.3%; text-align:center;}
.mainLink li a { position:relative; display:inline-block; padding:0 0.8em 0 0.5em; font-family: 'Playfair Display', serif; font-size:2.5em; line-height:1.6em; font-style:italic; border-bottom:1px solid rgba(255, 255, 255, 0.5); -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -ms-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease;}
.mainLink li a .line{ position:absolute; right:0; bottom:0; width:10px; height:1px; background:url(../images/bg/white_50.png); transform: translate(0, -3px) rotate(45deg); -ms-transform: translate(0, -3px) rotate(45deg); -webkit-transform: translate(0, -3px) rotate(45deg); }
.mainLink li a:hover { margin-left:0.5em;}



/* 메인 객실  */
.roomWrapper {
    margin-top: 153px;
}
.rt_outer {
    width: 78%;
    background: #081124;
    height: auto;
    /* padding: 156px 37px 55px 53px; */
    padding: 20% 5%;
    position: relative;
}
.rt_outer:after {
    display: block;
    content: "";
    clear: both;
}
.rt_inner {
    text-align: left;
}
.rt_body {
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    font-family: 'NanumSquare', sans-serif !important;
}
.rt_foot {
    margin-top: 10px;
    color: #507479;
    font-size: 13px;
    float: left;
}
.rt_box {
    margin-top: 180px;
}

/* 메인 스페셜 */
.mainCon02 {
    width: 100%;
    position: relative;
    background: url('../images/main/bg_color02.jpg')no-repeat top center;
    background-size: cover;
}
.spcont {
    margin: 0 auto;
    width: 78.8%;
    overflow: hidden;
    padding-top: 97px;
    padding-bottom: 300px;
}
.sp_slide {
    position: relative;
}
.sp_slide_item {}
.spbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 448px;
    height: 424px;
    background: #081124;
    padding: 113px 0px 96px 49px;
}
.spbox h2 {
    text-transform: uppercase;
    font-size: 60px;
    font-family: 'Playfair Display', serif;
    letter-spacing: 4px;
    color: #081124;
    text-shadow: -2px 0 #fff, 0 2px #fff, 2px 0 #fff, 0 -2px #fff;
}
.spbox p {
    /* margin-top: 100px; */
    display: block;
    font-size: 1.4em;
    font-weight: bold;
    color: #fff;
    line-height: 1.5em;
    word-break: keep-all;
}
.spbox img {
    display: block;
    margin: 50px 0px;
}
.bx-wrapper {
    -moz-box-shadow: unset !important;
    -webkit-box-shadow: unset !important;
    box-shadow: unset !important;
    border: none !important;
    background: none !important;
}
.bx-wrapper .bx-pager.bx-default-pager a.active {
    width: 123px !important;    
}
.bx-wrapper .bx-pager.bx-default-pager a {
    background: #081124 !important;
    width: 20px !important;
    height: 20px !important;
    -moz-border-radius: 20px !important;
    -webkit-border-radius: 20px !important;
    border-radius: 20px !important;
}


/* 팝업레이어 */
#hd_pop {z-index:1000;position:relative;margin:0 auto; width:100%; max-width:970px;height:0}
#hd_pop h2, .sound_only {position:absolute;font-size:0;line-height:0;overflow:hidden}
.hd_pops {position:absolute;border:1px solid #e9e9e9;background:#fff}
.hd_pops_con {}
.hd_pops_footer {padding:10px 0;background:#000;color:#fff;text-align:right}
.hd_pops_footer button {margin-right:5px;padding:5px 10px;border:0;background:#393939;color:#fff}
.block1919 {
    display: none;
}
.none1919 {
    display: block;
}
@media (max-width: 1919px) {
    .eng01 {
        top: 82%;
        left: unset;
        z-index: 9;
        right: 7%;
        width: 15%;
    }
    .block1919 {
        display: block;
    }
    .none1919 {
        display: none;
    }
    .aboutcont h2 {
        margin-top: 0;
        float: unset;
        margin-bottom: 20px;
        margin-top: 0;
        margin-right: 0;
    }
    .aboutbox h3 {
        font-size: 27px;
        font-weight: bold;
        margin-bottom: 10px;
        margin-left: 10px;
        color: #081124;
    }
    .aboutbox h3 img {
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 3px;
    }
    .aboutbox {
        /* max-width: none; */
        margin: 0 auto;
        float: unset;
    }
    .about_text {
        width: 33.333333%;
        padding: 68px 47px 68px 47px;
    }
    .about_img {
        width: 66.666666%;
    }
}
@media (max-width:1820px){
    .h_name {
        background-size: contain;
    }
}
@media  (max-width: 1480px){
    .amenity {
        width: 100%;
    }
    .eng02 {
        bottom: 70px;
        width: 20%;
    }
    .mainArea { }
    .aboutbox {
        max-width: unset;
        width: 90%;
    }
    .about_text {
        padding: 40px 47px 47px 47px;
    }
    .img02 {
        top: 115px;
    }
    .about_text .tag.left {
        margin-bottom: 0;
        position: absolute;
        right: 50px;
        bottom: 46px;
    }    
    .rt_box .tag.left {
        margin-bottom: 0;
        position: absolute;
        bottom: 50px;
        right: 25px;
    }

    .rt_outer {
        padding: 60px 0;
    }
    .rt_head {
        margin-left: 30px;
    }
    .rt_body {
        margin-left: 30px;
    }
    .rt_box {
        margin-top: 75px;
    }
    .rt_foot {
        margin-top: 0;
        margin-left: 30px;
    }
    .spcont {
        padding-bottom: 150px;
    }
    .spbox {
        width: 30%;
        height: 50%;
        text-align: center;
        padding: 0;
        padding-top: 65px;
    }
    .spbox h2 {
        font-size: 30px;
    }
    .spbox p {
        font-size: 13px;
        line-height: 25px;
        margin-top: 25px;
    }
    .spbox img {
        display: block;
        margin-bottom: 20px;
        margin: 10px auto;
    } 
}
@media (max-width:1390px) {
    .about_text {
        padding: 40px 0px;
    }
    .titletxt {
        margin-left: 30px;
    }
    .about_text p {
        font-size: 13px;
        margin-left: 30px;
        margin-top: 42px;
    }
}

@media  (max-width: 1250px) {
    .about_text {
        padding: 26.5px 0px;
    }
    .about_text .tag.left {
        right: 40px;
        bottom: 30px;
    }
     
    .titletxt {
        font-size: 35px;
        line-height: 50px;
    }
    .img02 {
        top: 95px;
    }
    .about_go {
        margin-top: 20px !important;
    }
    .about_text p {
        font-size: 12px;
    }
    .rt_outer {
        padding: 50px 0;
    }
    .rt_box {
        margin-top: 61px;
    }
    .rt_foot {
        display: none;
    }
    .rt_box .tag.left {
        position: unset;
        float: left;
        margin-left: 30px;
    }
}
@media  (max-width: 1024px){
    .eng01 {}
    .eng02 {
        width: 27%;
        right: 100px;
    }
    .amenity {
    }
    .mainArea { width:100%; left:0;}
    .mainLink { margin-top:-3.2vw; }
    .mainLink li a {  padding:0 0.8em 0 0.5em; font-size:3.5vw; line-height:1.8em;}
    .mainLink li a .line{  width:6px; transform: translate(0, -1.8px) rotate(45deg); -ms-transform: translate(0, -1.8px) rotate(45deg); -webkit-transform: translate(0, -1.8px) rotate(45deg); }

    .mRoom_arrow_inner {width:55%;}
    .mRoom_arrow_inner a {width:50%; height:50px; font-size:1.8em;}


    .about_text p {
        font-size: 14px;
        margin-bottom: 150px;
        margin-top: 62px;
    }
    .about_text .tag.left {
        right: 50px;
    }
    .rt_head {
        font-size: 35px;
    }
    .rt_body {
        font-size: 12px;
    }
    .rt_box {
        margin-top: 30px;
    }
    .rt_foot {
        font-size: 10px;
    }


    .spcont {}
    .spbox {
        padding-top: 42px;
    }
    .spbox h2 {
        text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
    }
    .spbox p {
        display: none;
    }
    .spbox img {} 
    .spbox a {
        color: #fff;
        font-size: 14px;
        /* font-weight: 900; */
    }

}
@media  (max-width: 940px){
    .about_text p {
        margin-bottom: 109px;
    }
    .img02 {
        right: 30px;
    }
    .rt_outer {
        padding: 35px 0;
    }
    
    .rt_box {
        margin-top: 0;
    }

}

@media  (max-width: 768px){
    .aboutcont {
        padding-top: 30px;
    }
    .titletxt {
        font-size: 30px;
        line-height: 35px;
        margin: 15px 15px;
    }
    .img02 {
        display: none;
    }
    .about_text p {
        font-size: 13px;
        margin-bottom: 89px;
        margin-top: 34px;
        margin-left: 15px;
    }
    .about_text .tag.left {
        left: 15px;
    }
    .tag a img {
        width: 55px;
    }
    .rt_outer {
        padding: 15px 0;
    }
    .rt_head {
        margin-bottom: 0;
        margin-left: 0;
    }
    .rt_body {
        margin-left: 15px;
    }
    .rt_box .tag.left {
        margin-left: 0;
    }
    .tag.left .tag_inner {
        padding: 0 !important; 
    }
    .amenity {
    }
}

@media  (max-width: 560px){
    .about_text {
        padding: 5px 0px;
    }
    .h_name {
        padding-top: 55px;
    }
    .titletxt {
        font-size: 20px;
        line-height: 24px;
        margin: 5px 15px;
        text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
    }
    .about_text p {
        /* font-size: 13px; */
        margin-bottom: 65px;
        margin-top: 15px;
        margin-left: 15px;
    }
    .about_text .tag.left {
        bottom: 12px;
    }
    .tag a img {
        width: 40px;
    }
    .roomWrapper {
        margin-top: 50px;
    }
    .rt_head {
        font-size: 25px;
        text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
    }
    .spbox {
        padding-top: 8px;
    }
    .spbox h2 {
        font-size: 16px;
    }

}
@media  (max-width: 420px){
    .none400 {
        display: none !important;
    }
    .about_text {
        padding: 14.5px 0px;
    }
    .footer_top {
        margin-top: 10px;
    }
    .footer_bot {
        margin-top: 30px;
    }
    .titletxt {
        margin-bottom: 0px;
    }
    .rt_head {
        font-size: 15px;
    }
    .titletxt {
        margin-bottom: 13px;
        font-size: 15px;
    }
    .about_text .tag.left {
        position: unset;
        float: left;
        margin-left: 15px;
        margin-bottom: 15px;
    }
    .aboutbox h3 {
        font-size: 22px;
    }
    .roomWrapper h1 {
        font-size: 22px;
        margin-bottom: 10px;
    }
    .spcont {
        padding-top: 40px;
        padding-bottom: 85px;
    }
    .spbox h2 {
        font-size: 14px;
    }
    .eng01 {
        width: 27%;
        top: 85%;
        right: 1%;
    }
    .eng02 {
        width: 34%;
        right: 45px;
        bottom: 48px;
    }
}
@media (max-width: 380px) {
    .about_text {
        padding: 8px 0px;
    }
}

@media (max-width: 320px){
    .rt_outer{
        width: 100%;
    }
    .spbox{
        width: 45%;
    }
    .spbox img{
        display: none;
    }
}